<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>SMARTREE</title>
</head>
<body>


<div layout:fragment="content">
	
	<div> 
	<div style="padding-bottom: 10px;">
	
	<label>검사코드  :  </label>
	<input type= "text" id="searchName" placeholder="검사코드를 입력하시오">
	<button type="button" id="searchBtn" class="btn btn-primary">검색</button>
	<button type="button" id="resetBtn" class="btn btn-primary">초기화</button>
	
	</div>
	
	<div id="grid"></div>
	
<script>
        let grid;
        window.onload=function(){
   	
    const grid = new tui.Grid({
      el: document.getElementById('grid'),
      scrollX: false,
      scrollY: false,
      rowHeaders:["rowNum"],
      pageOptions: {
          perPage: 5,
          useClient: true,
        },
      columns: [
        {
          header: '검사코드',
          name: 'mtlChkCode'
        },
        {
          header: '제품명',
          name: 'mtlName'
        },
        {
          header: '제품코드',
          name: 'mtlCode'
        },
        {
          header: '검사량',
          name: 'mtlChkCnt'
        },
        {
          header: '불량량',
          name: 'mtlErrorCnt'
        },
        {
          header: '합격량',
          name: 'mtlPassCnt'
        },
        {
          header: '검사자',
          name: 'mtlChkManager'
 	    },
 	    {
          header: '검사일',
          name: 'mtlChkDate'
 		 }
      ]
    });
    getMtlCheckList();

    // 검색버튼 클릭시 
   // $('#searchBtn').on('click',function(){
    	
   // })
    // 검색 - 엔터시
    //$('#searchName').on('keypress', function (ev) {
		
	//})
	
	// 전체 조회
    function getMtlCheckList(){
    	$.ajax({
    		url:'/check',
    		method:'get',
       	 	dataType:'json',
    		success:function(result){
    			console.log(result);
    			grid.resetData(result);
    		},
    		error:function(err){
    			console.log(err);
    		}
    	})
    }
  }
          
    </script>
	</div>
</div>
</body>
</html>













