<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>SMARTREE</title>
</head> 
<style>

</style>

<body>
	<div layout:fragment="content">
		<div class="btn-group btn-right" role="group" aria-label="Basic example" style="float: right; padding-bottom: 10px;" >
			<button type="reset" id="resetBtn" class="btn btn-primary">초기화</button>
			<button type="button" id="searchBtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">검색</button>
			<button type="submit" id="addBtn" class="btn btn-primary">저장</button>
			
		  </div>
	<div id="grid1"></div>
    <div id="grid2"></div>
    
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	<div>
	      	<p>발주일자 <input type="text"></p>
	      	<p>담당자 <input type="text"></p>
      	</div>
      	<div>
	      	<p>자재 <input type="text"></p>
	      	<p>거래처 <input type="text"></p>
      	</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<div style="display: flex; justify-content: center;" >
		<button type="button" class="btn btn-primary" data-dismiss="modal" style="margin: 5px;">조회</button>
	  	<button type="button" class="btn btn-primary" style="margin: 5px;">초기화</button>
		</div>
      <div class="modal-body">
       <div id="grid3"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-primary">저장</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <script>
		
        var grid;
      	var grid2;
      	var grid3;
        window.onload=function(){
	        const grid = new tui.Grid({
	        	      el: document.getElementById('grid1'),
	        	      scrollX: false,
	        	      scrollY: false,
	        	      rowHeaders:["rowNum"],
	        	      columns: [
	        	        {
	        	          header: '발주일자',
	        	          name: ''
	        	        },
	        	        {
	        	          header: '거래처',
	        	          name: ''
	        	        }
					]
	        	    });
				
		    const grid2 = new tui.Grid({
			      el: document.getElementById('grid2'),
			      scrollX: false,
			      scrollY: false,
			      rowHeaders:["rowNum"],
			      columns: [
			        {
			          header: '자재명',
			          name: ''
			        },
			        {
			          header: '자재코드',
			          name: ''
			        },
			        {
			          header: '검사량',
			          name: 'mtlChkCnt',
					  editor: 'text'
		        	  
			        },
			        {
			           header: '불량량',
			           name: 'mtlErrorCnt',
					 editor: 'text'
			        },
			        {
			           header: '합격량',
			           name: 'mtlPassCnt',
					   editor: 'text'
			         }, 
			         {
			            header: '검사자',
			            name: 'mtlChkManager',
					    editor: 'text'
			          },
			      ]
				});
				const grid3 = new tui.Grid({
					el: document.getElementById('grid3'),
					scrollX: false,	
					scrollY: false,
					rowHeaders:["rowNum"],
					columns: [
					{
						header: '발주코드',
						name: '',
						width : 100
					},
					{
						header: '자재',
						name: '',
						width : 50
					},
						{
						header: '거래처',
						name: '',
						width : 70
					},
						{
						header: '발주일자',
						name: '',
						width : 100
					},
					{
						header: '담당자',
						name: '',
						width : 50
					},
					]
			    });
		    const header = ['mtlDate', 'bpCode']
			
		    function getDate(sec) {
		        let date = new Date(sec);
		        let year = date.getFullYear();
		        let month = ('0' + (date.getMonth() + 1)).slice(-2);
		        let day = ('0' + date.getDate()).slice(-2);

		        return year + '-' + month + '-' + day;
		    }
		    
				$.ajax({
					url:'/check',
					method:'get',
			    dataType:'json',
					success:function(result){
						//날짜변환
			            $(result).each(function (idx, obj) {
			              for (let head of header) {

			                if (head.slice(-4).toLowerCase() == 'date') {
			                  obj[head] = getDate(obj[head]);
			                }
			              }
			            });

						grid.resetData(result);
						grid2.resetData(result);
						//grid3.resetData(result);
					},
					error:function(err){
						console.log(err);
					}
				})
			    
			  }

    </script>

	</div>
</body>
</html>