<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>SMARTREE</title>
</head>
<style>
</style>

<body>
	<div layout:fragment="content">
		<div class="btn-group btn-right" role="group"
			aria-label="Basic example"
			style="float: right; padding-bottom: 10px;">
			<button type="button" id="resetBtn" class="btn btn-primary">초기화</button>
			<button type="button" id="searchBtn" class="btn btn-primary"
				data-toggle="modal" data-target="#myModal">검색</button>
			<button type="submit" id="addBtn" class="btn btn-primary">저장</button>

		</div>
		<div style="margin-bottom: 150px;" id="grid1"></div>
		<div id="grid2"></div>

		<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content" style="height: 700px">
					<div class="container text-center">
						<div class="modal-header row justify-content-evenly">
							<div class="col-6">
								<div class="d-flex flex-column align-items-center">
									<div class="mb-3">
										<span>발주일자</span>
										<input class="form-control" id="mtlDate" type="date" style="width: 350px;">
									</div>
									
									<div>
										<span>담당자</span>
										<input class="form-control" id="mtlManager" type="text" style="width: 350px;">
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex flex-column align-items-center">
									<div class="mb-3">
										<span>자재</span>
										<input class="form-control" id="mtlCode" type="text" style="width: 350px;">
									</div>
									
									<div>
										<span>거래처</span>
										<input class="form-control" id="bpCode" type="text" style="width: 350px;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="display: flex; justify-content: center;">
						<button type="button" id="searchDataBtn" class="btn btn-primary"
							style="margin: 5px;">조회</button>
						<button type="button" id="resetModalBtn" class="btn btn-primary"
							style="margin: 4px;">초기화</button>
					</div>
					<div class="modal-body">
						<div id="grid3"></div>
					</div>
					 <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<script>
		
       let modalSearchData;
	   let mtlDate;
        window.onload=function(){
	        const grid = new tui.Grid({
	        	      el: document.getElementById('grid1'),
	        	      scrollX: false,
	        	      scrollY: false,
	        	      contextMenu: null,
	        	      rowHeaders:["rowNum"],
	        	      columns: [
	        	        {
	        	          header: '발주일자',
	        	          name: 'mtlDate'
	        	        },
	        	        {
	        	          header: '거래처',
	        	          name: 'bpCode'
	        	        }
					]
	        	    });
				
		    const grid2 = new tui.Grid({
			      el: document.getElementById('grid2'),
			      scrollX: false,
			      scrollY: false,
			      contextMenu: null,
			      rowHeaders:["rowNum"],
			      columns: [
			        {
			          header: '자재명',
			          name: 'mtlName'
			        },
			        {
			          header: '자재코드',
			          name: 'mtlCode'
			        },
			        {
			          header: '검사량',
			          name: 'mtlChkCnt',
					  editor: 'text'
			        },
			        {
			           header: '불량량',
			           name: 'mtlErrorCnt',
					   editor: 'text'
			        },
			        {
			           header: '합격량',
			           name: 'mtlPassCnt',
					   editor: 'text'
			         }, 
			         {
			            header: '검사자',
			            name: 'mtlChkManager',
					    editor: 'text'
					   
			          },
			      ]
				});
				const grid3 = new tui.Grid({
					el: document.getElementById('grid3'),
					scrollX: false,	
					scrollY: false,
					contextMenu: null,
					rowHeaders:["rowNum"],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
			          },
					columns: [
					{
						header: '자재',
						name: 'mtlCode',
					},
						{
						header: '거래처',
						name: 'bpCode',
					},
						{
						header: '발주일자',
						name: 'mtlDate',
					},
					{
						header: '담당자',
						name: 'mtlManager',
					},
					]
			    });
		 
				$.ajax({
					url:'/check',
					method:'get',
			    dataType:'json',
					success:function(result){
						//grid.resetData(result);
						//grid2.resetData(result);
						//grid3.resetData(result);
					},
					error:function(err){
						console.log(err);
					}
				})
				
			    $('#searchBtn').on('click', function(){
                     setTimeout(() => grid3.refreshLayout(), 200);
                 })

			  //모달 조회 클릭이벤트
			  $('#searchDataBtn').on('click', function() {
				if(!($('#mtlDate').val())){
					alert('날짜를 선택하세요')
					return;
				}
				$.ajax({
					url: '/mtlcheck', 
					method: 'post',
					// dataType: 'json',
					// contentType : 'application/json',
					data : 
					{
						mtlDate : $('#mtlDate').val(),
						bpCode : $('#bpCode').val(),
						mtlCode : $('#mtlCode').val(),
						mtlManager : $('#mtlManager').val()
					}
					,
					success: function(result) {
						mtlDate = $('#mtlDate').val()
						modalSearchData=result
						console.log(modalSearchData)
						grid3.resetData(result);
						setTimeout(() => grid3.refreshLayout(), 200);
					},
					error: function(err) {
						console.log(err);
					}
					});
				});

				//페이지 초기화버튼
				$('#resetBtn').on('click',function(){
					let data = grid2.getData();

					for (let i = 0; i < data.length; i++) {
						data[i].mtlChkCnt = ''; 
						data[i].mtlErrorCnt = ''; 
						data[i].mtlPassCnt = ''; 
						data[i].mtlChkManager = ''; 
					}
					grid2.resetData(data);
				})


				//모달초기화버튼
				$('#resetModalBtn').on('click',function(){
					 $('#mtlDate').val('');
					 $('#bpCode').val('');
					 $('#mtlCode').val('');
					 $('#mtlManager').val('');
				})

				// 더블클릭
				grid3.on('dblclick',(ev)=>{
					if(ev.rowKey==undefined){
		        		return;
		        	}
					let data = grid3.getValue(ev.rowKey,'bpCode');
		
					console.log(data)
					 	$.ajax({
        		url:'/mtlget',
        		method:'GET',
        		data:{
        			bpCode: data,
					mtlDate: mtlDate
        		},
        		success:function(result){
        			console.log(result);
       	            $("#myModal").modal('hide');
        			grid.resetData(eval([modalSearchData[ev.rowKey]]));
       	            grid2.resetData(result);
        		},
        		error:function(err){
        			
        		console.log(err)
        				}
        			})
				})
				
				let unsavedChanges = false;
				
				window.addEventListener('beforeunload', function(event) {
				    if (unsavedChanges) {
				        const confirmationMessage = '사이트에서 나가시겠습니까? 변경사항이 저장되지 않을 수 있습니다.';
				        (event || window.event).returnValue = confirmationMessage; 
				        return confirmationMessage; 
				    }
				});
				grid2.on('beforeChange', function(event) {
				    unsavedChanges = true;
				});

				// 저장버튼 이벤트
				$('#addBtn').on('click',function(e){
					let data = grid2.getData();
					$.ajax({
					url: '/mtlinsert', 
					method: 'post',
					dataType: 'json',
					contentType : 'application/json',
					data : JSON.stringify(data)
					,
					success: function(result) {
						alert(result +" 건 저장완료");
						unsavedChanges = false;
					},
					error: function(err) {
						console.log(err);
					}
					});
				})
			}

    </script>

	</div>
</body>
</html>