<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<title>SMARTREE</title>
<style>
#grid tbody td {
	cursor: pointer;
}

.tui-grid-cell.red {
	background-color: rgb(227, 52, 52);
	color: white;
	font-weight: bolder;
}

.tui-grid-cell.green {
	background-color: rgb(31, 193, 31);
	color: white;
	font-weight: bolder;
}

</style>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src=" https://code.highcharts.com/modules/exporting.js"></script>
</head>

<body>
	<div layout:fragment="content">
		<h2>제품품질검사조회</h2>
		<div style="display: flex; flex-wrap: nowrap; justify-content: space-around; margin-top: 30px;">
			<div>
				<button type="button" id="pdfDownload" class="btn btn-primary" style="float : right;">pdf저장</button>
				<h3>품질검사목록</h3>
				<div id="grid" class="lightgrey" style="width: 800px;"></div>
			</div> <div>
				<h3>품질검사상세</h3>
				<div id="grid2" style="width: 800px;"></div>
			</div>
		</div>
		<div id="container" style="width: 800px; height: 400px;"></div>
		
<script>
	window.onload=function(){
		
	    const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      scrollX: false,
	      scrollY: false,
	      pageOptions: {
            perPage: 5,
            useClient: true,
          },
          rowHeaders : ["rowNum"],
          bodyHeight : 400,
	      columns: [
	        {
	          header: '제품검사코드',
	          name: 'prdtChkCode',
	          align: 'center'
	        },
	        {
	          header: '공정실적코드',
	          name: 'prcsRsCode',
	          align: 'center'
	        },
	        {
	          header: '제품코드',
	          name: 'prdtCode',
	          align: 'center'
	        },
	        {
	          header: '제품명',
	          name: 'prdtName',
	          align: 'center'
	        },
	        {
	          header: '검사량',
	          name: 'prdtChkCnt',
	          align: 'center'
	        },
	        {
	          header: '검사결과',
	          name: 'prdtChkResult',
	          align: 'center'
	        },
	        {
	          header: '검사날짜',
	          name: 'prdtChkDate',
	          align: 'center'
	        },
	        {
	          header: '담당자',
	          name: 'prdtManager',
	          align: 'center'
	        },
	      ]
	    });
	    const grid2 = new tui.Grid({
		      el: document.getElementById('grid2'),
		      scrollX: false,
		      scrollY: false,
	          bodyHeight : 400,
		      columns: [
		        {
		          header: '제품검사코드',
		          name: 'prdtChkCode',
		          align: 'center'
		        },
		        {
		          header: '공정실적코드',
		          name: 'prcsRsCode',
		          align: 'center'
		        },
		        {
		          header: '검사명',
		          name: 'chkName',
		          align: 'center'
		        },
		        {
		          header: '검사기준',
		          name: 'chkStd',
		          align: 'center'
		        },
		        {
		          header: '검사값',
		          name: 'prdtChkVal',
		          align: 'center'
		        },
		        {
		          header: '적합여부',
		          name: 'prdtChkFit',
		          align: 'center',
		          },   
		      ]
		    });
	    getprdtCheckList();
	    
	 // 제품검사목록 조회
	    function getprdtCheckList(ev){
			
	    	$.ajax({
	    		url:'/prdtCheckList',
	    		method:'get',
	       	 	dataType:'json',
	    		success:function(result){
	    			console.log(result);
	    			grid.resetData(result);
	    		},
	    		error:function(err){
	    			console.log(err);
	    		}
	    	})
	    }
	    
	    // 제품검사상세목록 조회
	    grid.on('click',(ev)=>{
	    	const prdtChkCode = grid.getValue(ev.rowKey, 'prdtChkCode')  
	    	const rowData = grid.getRow(ev.rowKey);

	    	$.ajax({
	    		url:'/dtList',
	    		method:'get',
	    		data : {  prdtChkCode  },
	       	 	dataType:'json',
	    		success:function(result){
	    			console.log(result)
	    			for(let item of result){
	    				if(item.prdtChkFit==='적합'){
	    					item._attributes= {
	    	            			className:{
	    	            				column : {
	    	            					prdtChkFit : ['green']
	    	            				}
	    	            			}
	    		            	}
	    				} else {
	    					item._attributes= {
	    	            			className:{
	    	            				column : {
	    	            					prdtChkFit : ['red']
	    	            				}
	    	            			}
	    		            	}
	    				}
	    			}
	    			grid2.resetData(result);

	    		},
	    		error:function(err){
	    			console.log(err);
	    		}
	    	});
	    });
	  //pdf저장
        $('#pdfDownload').on('click', function () {
        	let prdtChkCode = grid2.getValue(0 , "prdtChkCode");
          	window.open("checkPdf1?prdtChkCode="+prdtChkCode,'pdf');
        	
        });

	};
	</script>
	</div>
</body>
</html>