<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>SMARTREE</title>
<style>
#grid tbody td, #grid2 tbody td{
			cursor : pointer;
		}

.tui-grid-cell.red {background-color: rgb(227, 52, 52); color: white; font-weight: bolder;}
.tui-grid-cell.green {background-color: rgb(31, 193, 31); color: white; font-weight: bolder;}

</style>
</head>
<body>
<div layout:fragment="content">
<h1>제품품질검사</h1>
<br>
	<div style="display: flex; flex-wrap: nowrap; justify-content: space-around; margin-top: 30px;">
		<div>
			<h3>제품검사목록</h3>
			<div id="grid" class="lightgrey" style="width: 800px;"></div>
		</div> 
		<div>
		
		<button type="button" id="addBtn" class="btn btn-primary" style="float : right;">저장</button>
			<h3>제품검사기준</h3>
			<div id="grid2" style="width: 800px;"></div>
		</div>
	</div>
	
	
	
	
	<script th:inline="javascript">
	let manager = [[${session.loginMember.empName}]];
	window.onload=function(){

	    const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      scrollX: false,
	      scrollY: false,
	      pageOptions: {
            perPage: 10,
            useClient: true,
          },
          rowHeaders : ["rowNum"],
          bodyHeight : 400,
	      columns: [
	    	 {
	    		header:'검사코드',
	    		name: 'prdtChkCode',
	    		hidden: true
	    	 },
    	    {
	          header: '생산지시코드',
	          name: 'prodInstCode',
	          align: 'center'
	        },
	        {
	          header: '공정실적코드',
	          name: 'prcsRsCode',
	          align: 'center'
	        },
	        {
	          header: '생산완료일자',
	          name: 'prodInstDate',
	          align: 'center',
	          sortable: true,
	        },
	        {
	          header: '검사량',
	          name: 'prdtChkCnt',
	          align: 'right',
	          editor : 'text',
	        },
	        {
	          header: '제품명',
	          name: 'prdtName',
	          align: 'left',
         	},
            {
	          header: '제품코드',
	          name: 'prdtCode',
	          align: 'center',
	          hidden: true
	        },
		
	      ]
	    });
	    const grid2 = new tui.Grid({
		      el: document.getElementById('grid2'),
		      scrollX: false,
		      scrollY: false,
	          bodyHeight : 400,
		      columns: [
		        {
		          header: '검사기준코드',
		          name: 'chkStdCode',
		          align: 'center',
		        },
		        {
		          header: '검사명',
		          name: 'chkName',
		          align: 'left'
		        },
		        {
		          header: '검사기준',
		          name: 'chkStd',
		          align: 'right'
		        },
		        {
		          header: '검사값',
		          name: 'prdtChkVal',
		          editor : 'text',
		          align: 'right'
		        },
		        {
		          header: '적합여부',
		          name: 'prdtChkFit',
		          align: 'center'
		        },
		        {
		          header: '담당자',
		          name: 'prdtManager',
		          editor : 'text',
		          align: 'left',
		         
		        },
		      ],
		       
		    });
	    getprdtCheckList();
	    
	   let prcsRsCode;
  	   let chkList = {};
  	 	let selectedRowKey = null; // 클릭한 행의 키를 저장할 변수
  	   
  	 	toastr.options = {
  			  positionClass: "toast-top-center",
  			  preventDuplicates: true,
  			  escapeHtml: true,
  			  closeButton: true,
 			  newestOnTop: false,
  			  timeOut: 1250
  			};
  	   
	    //제품검사목록 
	    function getprdtCheckList(){
	    	$.ajax({
	    		url:'/prodCheckList',
	    		method:'get',
	       	 	dataType:'json',
	    		success:function(result){
	    			console.log(result);
	    			grid.resetData(result);
	    		},
	    		error:function(err){
	    			console.log(err);
	    		}
	    	})
	    }
	    
	   grid.on('click',(ev)=>{
	    	const prdtCode = grid.getValue(ev.rowKey,'prdtCode');
	    	selectedRowKey = ev.rowKey; 
	    	
	    	$.ajax({
	    		url:'/prodDtList',
	    		method:'get',
	    		data : {  prdtCode  },
	       	 	dataType:'json',
	    		success:function(result){
	    			console.log(result);
	    			grid2.resetData(result);
	    			chkManager();
	    		},
	    		error:function(err){
	    			console.log(err);
	    		}
	    	});
	    }) 
	    
	  
	    //자동 계산
	       grid2.on('afterChange', (ev) => {
	      console.log(ev);
	      let change = ev.changes[0];
	      let rowData = grid2.getRow(change.rowKey);
	      console.log(rowData)
	      let firstNum = parseFloat(rowData.prdtChkVal);
	      let secNum = parseFloat(rowData.chkStd);
	      
		  	      
	      if(change.columnName == 'prdtChkVal'){
	         if(firstNum != null && firstNum != ""){
	            let prdtChkFit;
	            let attributes = {}
	            let data = grid2.getRow(change.rowKey)
	            
	            if(firstNum < secNum){
	            	prdtChkFit = '적합';
	            	attributes = {
            			className:{
            				column : {
            					prdtChkFit : ['green']
            				}
            			}
	            	}
	            } else if(firstNum >= secNum){
	            	prdtChkFit = '부적합';
	            	attributes = {
            			className:{
            				column : {
            					prdtChkFit : ['red']
            				}
            			}
	            	}
	            }
            	data.prdtChkFit = prdtChkFit
            	data._attributes = attributes
	            grid2.setRow(change.rowKey, data);
            	
	         }
	      }
	      }); 

	   	//저장버튼 이벤트
	   	$('#addBtn').on('click',function(){
		   	grid.blur();
			grid2.blur();
			let noData = false;
			let grid2Data = grid2.getData();
			  for (let row of grid2Data) {
			        if (!row.prdtChkVal || row.prdtChkVal.trim() === "") {
			        	noData = true;
			            break; 
			        }
			    }
			  if (noData) {
				  toastr.warning('검사값을 입력해야 합니다.');
			    } else if(selectedRowKey != null) {
	         chkList.chkData = [grid.getRow(selectedRowKey)];
	         chkList.chkDtData = grid2.getData();
	         console.log('123123', chkList);
	   		$.ajax({
				url: '/updateProdChk', 
				method: 'post',
				dataType: 'json',
				contentType : 'application/json',
				data : JSON.stringify(chkList),
				success: function(result) {
					if(result > 0){
						toastr.success('저장완료');
						grid2.resetData([]);
						getprdtCheckList();

					}
				},
				error: function(err) {
					console.log(err);
				}
			});
	   	 } else {
	         toastr.warning('검사할 제품을 먼저 선택해주세요.');
	     }
	   	})
	   
	   	 function chkManager() {
           	   let datas = grid2.getData();
           	   console.log(manager)
           	   for(let data of datas){
           		   if(!data.prdtManager) data.prdtManager = manager
           	   }
           	   grid2.resetData(datas);
              }

	};
	</script>
	</div>
</body>
</html>