<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" />
   
    <title>thymeleaf layout</title>
  <nav th:fragment="header">
<!-- commit -->
	<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- 도움말 -->
							<i class="bi bi-question-circle fa-2x" id="showHelp"></i>
							
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        

                        <!-- Nav Item - Messages -->
                        

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <button type="button" id="chatBtn" class="btn btn-outline-dark" data-toggle="modal" data-target="#chatModal">chat
                        <span id="cnt" class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span th:if="${session.loginMember} != null" class="mr-2 d-none d-lg-inline text-gray-600 small"  th:text="${session.loginMember.empName}"></span>
                                
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#profileModal">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <div id="chatModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-sm" role="document" >
				<div class="modal-content" style=" height: 700px; width:500px;">
					<div class="modal-body" id="mbody" style="max-height: 80vh; overflow-y: auto;">
						<div class="row">
					        <div class="col-md-12">
					            <table id="conversation" class="table table-striped">
					                <thead>
					                <tr>
					                    <th>예담단톡</th>
					                </tr>
					                </thead>
					                <tbody id="greetings">
					                
					                </tbody>
					            </table>
					        </div>
					    </div>
					</div>
					<div class="modal-footer">
						<input type="text" placeholder="보낼 메세지를 입력하세요." id="sendMessage" autocomplete="off" style="width:402px"/>
						<button type="button" id="sendModalBtn" class="btn btn-default">전송</button>
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  -->
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal --> 
		
		<div class="modal fade" tabindex="-1" role="dialog" id="helpModal">
			<div class="modal-dialog modal-dialog-centered modal-xl"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title ml-3">도움말</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="helpModalText">
						</div>
					</div>
					<div class="modal-footer">
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		
<script th:inline="javascript">
		let userName = [[${session.loginMember.empName}]]; 
		let userText = $("#sendMessage").val();
		const cnt = $("#cnt");
		const message = {
				sender : userName,
				text: userText
		}
	$(document).ready(function() {
		
		DecoupledEditor
		.create(document.querySelector('#helpModalText'))
		.then(editor => {
			editor.enableReadOnlyMode('helpModalText');

			$('#showHelp').on('click', function () {
				console.log(111)
				let path = window.location.pathname
				$.ajax({
					url: "/mdm/selectHelp",
					data:{
							path: path
					},
					success: result => {
						if(result){
							$('#helpModal').modal('show')
							editor.setData(`${result.editorText}`)
						} else {
							toastr.warning('등록된 도움말이 없습니다.')
						}
					}
				})
			})
		})
		.catch(error => {
			console.error(error);
		});
		  
		function updateBadge() {
		    let currentValue = parseInt(cnt.text());
		    cnt.text(currentValue + 1);
		}
		
		$('#chatBtn').on('click', function() {
			let mbody = $('#mbody');
	        $('#chatModal').modal('show');
	        cnt.text(0);
	        mbody.scrollTop(mbody[0].scrollHeight);
	    });
		
		const stompClient = new StompJs.Client({
		    brokerURL: 'ws://localhost:8090/chatserver'
		});
		connect();
		
		stompClient.onConnect = (frame) => {
		    setConnected(true);
		    console.log('Connected: ' + frame);
		    
		    stompClient.subscribe('/topic/greetings', (greeting) => {
		        showGreeting(JSON.parse(greeting.body).content);
		       // if (message.sender !== userName) {
		            updateBadge();
		       // }
		    });
		    stompClient.subscribe('/topic/cust', (greeting) => {
		        $(document.body).append(greeting.body);
		    });
		};

		stompClient.onWebSocketError = (error) => {
		    console.error('Error with websocket', error);
		};

		stompClient.onStompError = (frame) => {
		    console.error('Broker reported error: ' + frame.headers['message']);
		    console.error('Additional details: ' + frame.body);
		};

		function setConnected(connected) {
		    $("#connect").prop("disabled", connected);
		    if (connected) {
		        $("#conversation").show();
		    }
		    else {
		        $("#conversation").hide();
		    }
		    $("#greetings").html("");
		}

		function connect() {
		    stompClient.activate();
		}
		
		function sendName() {
			let userText = $("#sendMessage").val();
		    if (userName && userText) {
		    let message = {sender: userName, name: userText};
		        stompClient.publish({
		            destination: "/app/hello",
		            body: JSON.stringify(message)
		        });
		       // $("#sendMessage").val('');
		    }
		}

		function showGreeting(message) {
			mbody = $('#mbody');
			let tr = $('<tr id="chatDiv" />');
			let td = $('<td class="message" />');
			 if(message.sender === userName){
				td.addClass("my-message");
			} else {
				td.addClass("other-message");
			} 
			console.log(message.sender)
			td.text(message);
		    tr.append(td)
		    $("#greetings").append(tr);
		    mbody.scrollTop(mbody[0].scrollHeight);
		}
		
		$(function () {
		    $("form").on('submit', (e) => e.preventDefault());
		    $( "#sendModalBtn" ).click(() => sendName());
		});
	}
	)
</script>
</nav>
</html>