<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
<style>
       #equipTable{
            width:  1100px;
            height: 400px;
            border-collapse: collapse; 
            margin-left: 10px;
    		margin-top: 30px;                   
        }

        #equipTable th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #equipTable th {
            background-color: #f2f2f2;
        }
              
         #equipTable input[type="text"]{
            width: 50;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        #selectBtn, #buttons{
        	margin-right:300px; float:right;
        }
</style>
</head>
<body>
	<div layout:fragment="content">
		<h2>설비관리</h2>
		<button type="button" id="selectBtn" class="btn btn-primary" data-toggle="modal" data-target="#searchEqmModal">설비조회</button>
		<div>
			<form name="infoForm" action="eqmForm" method="post" th:object='${eqmVO}'>
			
				<table id="equipTable">
					<tr>
						<th>설비코드</th>
						<td>
							<input type="text" th:field="*{eqmCode}" name="eqmCode" id="eqmCode" style="background-color:#d3d3d3;" readonly>
						</td>
						<th>설비명</th>
						<td>
							<input type="text" th:field="*{eqmName}" name="eqmName" id="eqmName">
						</td>
					</tr>
				
					<tr>
						<th>사용여부</th>
						<td>
							<label for="y" style="margin-left:10px; margin-right:40px;"  ><input type="radio" id="y" th:field="*{eqmUcheck}" name="eqmUcheck" value="y"> Yes </label>
							<label for="n"><input type="radio" id="n" th:field="*{eqmUcheck}" name="eqmUcheck" value="n"> No </label>
						</td>
					</tr>
					<tr>
						<th>온도</th>
						<td>
							<input type="text" id="eqmMinTemp" th:field="*{eqmMinTemp}" name="eqmMinTemp" placeholder="최저"> ℃   ~
							<input type="text" id="eqmMaxTemp" th:field="*{eqmMaxTemp}" name="eqmMaxTemp" placeholder="최고"> ℃
						</td>
						
						<th>관리인</th>
						<td> <input type="text" id="eqmManager" th:field="*{eqmManager}" name="eqmManager" > </td>
					</tr>
					<tr>
						<th>점검주기</th>
						<td>
							<input type="text" name="inspCycle" id="inspCycle" th:field="*{inspCycle}">일 
						</td>
						<th>이미지</th>
						<td>
							<input type="file" name="eqmImg" id="eqmImg" th:field="*{eqmImg}">
						</td>
					</tr>
					<tr>
						<th>제조업체</th>
						<td><input type="text" id="mfgComp" name="mfgComp" th:field="*{mfgComp}"></td>
					</tr>
					<tr>
						<th>제조일자</th>
						<td><input type="date" id="mfgDate" name="mfgDate" th:field="*{mfgDate}"></td>
					</tr>
				</table>
				
				<div id="buttons" >
					<button type="submit" id="" class="btn btn-primary">등록</button>
					<button type="button" id="resetBtn" class="btn btn-primary">취소</button>
					<button type="button" id="deleteBtn" class="btn btn-primary">삭제</button>
				</div>
			</form>
		</div>
		<!-- 모달창 시작 -->
			<div class="modal fade " id="searchEqmModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered " role="document">
				<div class="modal-content">
					<div class="modal-header" >
					 
						<h5 class="modal-title"  >설비</h5>
						
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" >
							<span aria-hidden="true">&times;</span>								
						</button>
						
				
	
					</div>
					<div class="modal-body">
				 			<label for="searchName">설비명</label>
							<input type= "text" id="searchName" placeholder="설비명을 입력하시오">
							<button type="button" id="searchBtn" class="btn btn-primary">검색</button>
						<br> 
						<br> 
						<div id="grid2"></div>
					</div>
					<div class="modal-footer">
						<!-- <button type="button" class="btn btn-primary">등록</button> -->
						<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 모달창 끝 -->
		
		<script>
		
	
	      $(document).ready(function () {
	    	  
	    	  const grid2 = new tui.Grid({
	              el: document.getElementById('grid2'),
	              scrollX: false,
	              scrollY: false,
	              rowHeaders: ["rowNum"],
	              pageOptions: {
	                  perPage: 5,
	                  useClient: true,
	                },
	              columns: [
	              {
	                header: '설비명',
	                name: 'eqmName',
	             
	              },
	              {
	                header: '제조업체',
	                name: 'mfgComp',
	               
	              }
	              ]

	            });
	    	   	  
	          $('#selectBtn').on('click', getEqmList);
		      
	         
	          
	   	   // 전체설비 조회
	   	      function getEqmList(){
	   		   $('#searchName').val('');
	   	      	$.ajax({
	   	      		url:'/eqms',
	   	      		method:'get',
	   	          dataType:'json',
	   	      		success:function(result){
	   	      			//console.log(result);
	   	      			grid2.resetData(result);
	   	      			$("#searchEqmModal").modal('show');
	   	      			setTimeout(() => grid2.refreshLayout(), 200);
	   					
	   	      		},
	   	      		error:function(err){
	   	      			console.log(err);
	   	      		}
	   	      	})
	   	      }
	   	   
	   	   // 검색버튼 클릭시 
	   	    $('#searchBtn').on('click',function(){
	   	    	searchEqmName();
	   	    })
	   	    // 검색 - 엔터시
	   	    $('#searchName').on('keypress', function (ev) {
	   			if (ev.which == 13) {
	   				ev.preventDefault();
	   				searchEqmName()
	   			}
	   		})
	   	   
	   		// 설비 이름 조회
	   		function getEqmName(eqmName){
	   			$.ajax({
	   				url:'/eqmName',
	   				data: {
	   					eqmName : eqmName
	   				},
	   				success: result => {
	   				 console.log(result);
	   					grid2.resetData(eval(result)); 
	   					
	   				/* 	grid2.resetData(result);
	   	      			$("#searchEqmModal").modal('show');
	   	      			setTimeout(() => grid2.refreshLayout(), 200); */
	   				}
	   				,
	   				error: err => console.log(err)
	   			})
	   		}
	   		// 설비 이름 조회 : input에 값
	   		function searchEqmName(){
	   			   			
	   			if($('#searchName').val()){
	   				let eqmName = $('#searchName').val();
	   				getEqmName(eqmName);
	   				
	   			}
	   		}
	   	   // 설비조회 모달창 더블클릭
	   	   grid2.on('dblclick',(ev)=>{
	   			if(ev.rowKey==undefined){
        			return;
        		}
	   		   let data = grid2.getValue(ev.rowKey,'eqmCode');
	   		   let data1 = grid2.getValue(ev.rowKey,'eqmName');
	   		   let data2  = grid2.getValue(ev.rowKey,'mfgComp');
	   		  // console.log(data);
	   		   $.ajax({
	   			   url:'/selectEqm',
	   			   method:'get',
	   			   data:{
	   				eqmCode :data,
	   				eqmName : data1,
	   				mfgComp : data2
	   			   },
	   		   success: function(result){
	   			console.log(result);		
	   			console.log(result.eqmName);
	   			console.log(result.eqmUcheck);
	   			
	   	    	 $('#searchEqmModal').modal('hide');
	   			$('#eqmCode').val(result.eqmCode);
	   			$('#eqmName').val(result.eqmName);
	   			
	   			if(result.eqmUcheck == 'y'){
	   				$('#y').prop('checked',true)
	   			}else{
	   				$('#n').prop('checked',true)
	   			}
	   			//$('#eqmUcheck').val(result.eqmUcheck);
	   			$('#eqmMinTemp').val(result.eqmMinTemp);
	   			$('#eqmMaxTemp').val(result.eqmMaxTemp);
	   			$('#eqmManager').val(result.eqmManager);
	   			$('#inspCycle').val(result.inspCycle);
	   			$('#eqmImg').val(result.eqmImg);
	   			$('#mfgComp').val(result.mfgComp);
	   			$('#mfgDate').val(result.mfgDate); 
	   		   },
	      		error:function(err){	      			
	          		console.log(err)
	          	}
	   		   })
	   	   })
	   	   
	   	   
	   	   // 초기화
	   	$('#resetBtn').on('click',function(){		
	   		$('#eqmCode').val('');
   			$('#eqmName').val('');   			   		
   			$('#y,#n').prop('checked',false)  			  			
   			$('#eqmMinTemp').val('');
   			$('#eqmMaxTemp').val('');
   			$('#eqmManager').val('');
   			$('#inspCycle').val('');
   			$('#eqmImg').val('');
   			$('#mfgComp').val('');
   			$('#mfgDate').val(''); 			
		});
	   			

	  // 삭제버튼 	
	   	$('#deleteBtn').click(function(){
			
			swal({
				title: "정말 삭제하시겠습니까?",
				text: "",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
			
			.then((message) => {
				if(message) {
			
			var eqmCode = $('#eqmCode').val();
			
			
			$.ajax({
				url : '/deleteEqm',
				method : 'GET',
				data : { eqmCode : eqmCode },
				success : function(data){
					console.log(data);
					//삭제 후 <input> 태그 칸 값 비우기
					$('input').val("");
					swal('삭제 성공!', '설비가 삭제되었습니다.', 'success' )
				    },
				error : function(reject){
		 			console.log(reject);
		 			}	
				})	
			} else{
				swal("삭제가 취소되었습니다.", "", {icon: "warning"});
			}
		})
	   	})
		
	   	
	   	
	 });
	      
	

		

		</script>
		
	</div>
</body>
</html>