<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<meta charset="UTF-8" />
<title>SMARTREE</title>
<style>
#equipTable {
	width: 1500px;
	height: 400px;
	border-collapse: collapse;
	margin-left: 50px;
	margin-top: 30px;
	 
  border-collapse: collapse;
  border-radius: 10px;
  
  box-shadow: 0 0 0 1px #ddd;
	
}

#equipTable th, td {
	padding: 30px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#equipTable th {
	background-color: #f2f2f2;
	font-size: 25px;
	 
}

#equipTable input[type="text"] {
	
	padding: 4px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
#equipTable input[type="number"] {
	width: 150px;
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#selectBtn, #buttons {
	margin-right: 90px;
	float: right;
}



#im {
	position: relative;
	left: 1050px;
	bottom: 180px;
	border: 0px;
}
#preview{
	border : 0;
}

#buttons {
	position: relative;
	left: 40px;
	bottom: 140px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

</style>
</head>
<body>
	<div layout:fragment="content">
		<h1>설비관리</h1>
		<button type="button" id="selectBtn" class="btn btn-primary mb-3"
			data-toggle="modal" data-target="#searchEqmModal">설비조회</button>
		<div id="form">
			<form name="infoForm" action="eqmForm" method="post"
				 enctype="multipart/form-data" >
				<table id="equipTable">
					<tr>
						<th>설비코드</th>
						<td><input class="form-control"  type="text"  name="eqmCode"
							id="eqmCode" style="background-color: #d3d3d3" readonly /></td>
						<th>설비명 *</th>
						<td><input class="form-control"  type="text"  name="eqmName"
							id="eqmName" /></td>
					</tr>

					<tr>
						<th>사용여부 *</th>
						<td>

						<label for="y" style="margin-left: 10px; margin-right: 40px; font-size: 20px;"><input type="radio" id="y"  name="eqmUcheck" value="Y" checked/> Yes </label> 
						<label for="n" style="font-size: 20px; margin-right: 40px;"><input type="radio" id="n" name="eqmUcheck" value="N" /> No</label>
						

				
						</td>
						<th>공정구분</th>
						<td><select   id="eqmDivision" name="eqmDivision">
								<option value="">--</option>
								<!-- <option value="PC01">재단</option>
								<option value="PC02">가공</option>
								<option value="PC03">샌딩</option>
								<option value="PC04">도장</option>
								<option value="PC05">조립</option> -->
						</select></td>
					</tr>
					<tr>
						<th>온도</th>
						<td><input type="number" class="text-right" maxlength="5" oninput="maxLengthChk(this)" id="eqmMinTemp" name="eqmMinTemp" placeholder="최저"  /> ℃
							~ <input type="number" class="text-right" maxlength="5" oninput="maxLengthChk(this)" id="eqmMaxTemp" name="eqmMaxTemp" placeholder="최고" /> ℃</td>

						<th>관리인 *</th>
						<td><input type="text" id="eqmManager" name="eqmManager" th:value="${session.loginMember.empName}" /></td>
					</tr>
					<tr>
						<th>점검주기</th>
						<td><input type="number" class="text-right" maxlength="5" oninput="maxLengthChk(this)" name="inspCycle" id="inspCycle" value=0 />일</td>
						<th rowspan="3">이미지</th>
						<td><input class="form-control-file"  type="file" name="file" id="eqmImg" accept="image/*" /></td>
					</tr>
					<tr>
						<th>제조업체 *</th>
						<td><input type="text" id="mfgComp" name="mfgComp" /></td>
						
					</tr>

					<tr>
						<th>제조일자</th>
						<td><input type="date" id="mfgDate" name="mfgDate"/></td>
					</tr>
				</table>

				<div id="im">
					<img id="preview" style="width: 220px; height: 170px; " />
				</div>

				<div id="buttons">
					<button type="button" id="saveBtn" class="btn btn-primary">저장</button>
					<button type="button" id="resetBtn" class="btn btn-primary">
						취소</button>
					<button type="button" id="deleteBtn" class="btn btn-primary" disabled>
						삭제</button>
				</div>
			</form>
		</div>
		<!-- 모달창 시작 -->
		<div class="modal fade" id="searchEqmModal" tabindex="-1"
			role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">설비</h5>

						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<label for="searchName">설비명</label> <input type="text"
							id="searchName" placeholder="설비명을 입력하시오" />
						<button type="button" id="searchBtn" class="btn btn-primary">
							검색</button>
						<br /> <br />
						<div id="grid2"></div>
					</div>
					<div class="modal-footer">
						<!-- <button type="button" class="btn btn-primary">등록</button> -->
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 모달창 끝 -->

<script>
    let manager = `[[${session.loginMember.empName}]]`;
    $(document).ready(function () {
        	
        $("#selectBtn").on("click", getEqmList);
		$("#saveBtn").on("click",saveEqm);
		
        // 코드확인 
        let eqmCode= '[[${eqmCode}]]'
      	if(eqmCode !=''){
      		swal("저장 완료!", "설비가 저장되었습니다.", "success");
      		getEqm(eqmCode);
      	}
		
	 	 // 부서정보 불러오기
		$.ajax({
			url: "/mdm/selectCodeDetail",
			data: {
				codeType: '012'
			},
			success: result => {
				$(result).each(function (idx, dept) {
					let optTag = $('<option/>');
					optTag.val(dept['codeId']);
					optTag.text(dept['codeName']);
					$('#eqmDivision').append(optTag);
				})
			},
			error: err => console.log(err)
		})
		
		
		function saveEqm(){

	 		 
			//설비명 테스트
			if(infoForm.eqmName.value==''){
				swal("설비명을 입력하세요", "", "warning");
				infoForm.eqmName.focus();
				return;
			}
			// 설비명,관리자,제조업체 글자수 제한
			if(infoForm.eqmName.value.length > 10 || infoForm.eqmManager.value.length  > 10||infoForm.mfgComp.value.length  > 10){
				swal("최대 10자까지 입니다", "", "warning");
				return;
			}
			//사용여부 테스트
			if(infoForm.eqmUcheck.value==''){
				swal("사용여부를 선택하세요", "", "warning");
				return;
			}
			//공정구분 테스트
			if(infoForm.eqmDivision.value==''){
				swal("공정구분을 선택하세요", "", "warning");
				return;
			}
		 	// 관리자 테스트
			if(infoForm.eqmManager.value==''){
				swal("관리인를 입력하세요", "", "warning");
				infoForm.eqmManger.focus();
				return;
			}
		 	
			// 제조업체 테스트
			if(infoForm.mfgComp.value==''){
				swal("제조업체를 입력하세요", "", "warning");
				infoForm.mfgComp.focus();
				return;
			}
			
			
			// 온도
			if(infoForm.eqmMinTemp.value ==''){
				infoForm.eqmMinTemp.value =0
			}
			if(infoForm.eqmMaxTemp.value ==''){
				infoForm.eqmMaxTemp.value =0
			}
			if((Number(infoForm.eqmMinTemp.value) > Number(infoForm.eqmMaxTemp.value)) ) {
				swal("온도를 확인하세요", "최저온도가 최고온도보다 높습니다", "warning");
				infoForm.eqmMaxTemp.focus();
				return;
			}
				
			if(infoForm.inspCycle.value ==''){
				infoForm.inspCycle.value =0
			}
			
			infoForm.submit();
			
			// 삭제버튼 비활성화
            $('#deleteBtn').prop('disabled', true);
		}
		
		
          const grid2 = new tui.Grid({
            el: document.getElementById("grid2"),
            scrollX: false,
            scrollY: false,
            bodyHeight: 200,
            rowHeaders: ["rowNum"],
            pageOptions: {
              perPage: 5,
              useClient: true,
            },
            columns: [
              {
                header: "설비명",
                name: "eqmName",
              },
              {
                header: "제조업체",
                name: "mfgComp",
              },
            ],
          });


          // 전체설비 조회
          function getEqmList() {
        	  
            $("#searchName").val("");
            $.ajax({
              url: "/eqms",
              method: "get",
              dataType: "json",
              success: function (result) {
                //console.log(result);
                grid2.resetData(result);
                $("#searchEqmModal").modal("show");
                setTimeout(() => grid2.refreshLayout(), 200);
              },
              error: function (err) {
                console.log(err);
              },
            });
          }

          // 검색버튼 클릭시
          $("#searchBtn").on("click", function () {
            searchEqmName();
          });
          
          // 검색 - 엔터시
          $("#searchName").on("keypress", function (ev) {
            if (ev.which == 13) {
              ev.preventDefault();
              searchEqmName();
            }
          });


          // 설비 이름 조회 : input에 값
          function searchEqmName() {
            if ($("#searchName").val()) {
              let eqmName = $("#searchName").val();
              $.ajax({
                  url: "/eqmName",
                  data: {
                    eqmName: eqmName,
                  },
                  success: (result) => {
                    console.log(result);
                    grid2.resetData(eval(result));

                    /* 	grid2.resetData(result);
    	   	      			$("#searchEqmModal").modal('show');
    	   	      			setTimeout(() => grid2.refreshLayout(), 200); */
                  },
                  error: (err) => console.log(err),
                });
            }else{
            	getEqmList();
            }
          }
          
          
          // 설비조회 모달창 더블클릭
          grid2.on("dblclick", (ev) => {
            if (ev.rowKey == undefined) {
              return;
            }
            let data = grid2.getValue(ev.rowKey, "eqmCode");
            getEqm(data);
           
          });


          
          // 단건조회 - 화면에 보이게한다
          function getEqm(data){

        	  $.ajax({
                  url: "/selectEqm",
                  method: "get",
                  data: {
                    eqmCode: data
                  },
                  success: function (result) {
					console.log(result);
				
                    $("#searchEqmModal").modal("hide");
                    $("#eqmCode").val(result.eqmCode);
                    $("#eqmName").val(result.eqmName);

                    
                    console.log(result.eqmState)
                   if(result.eqmState == "Y"){
                                        
                	   $("input[type='radio']").unbind('click').click();  
                	   
                	   
                    	 if (result.eqmUcheck == "Y") {
                             $("#y").prop("checked", true);
                           } else {
                             $("#n").prop("checked", true);
                           }
                    	 
                    }else{
                    
                    //	$("input[type='radio']").attr("onclick", "return(false);");
                     	$("input[type='radio']").on('click',function(){
                    		swal("현재 생산 또는 점검 중 변경불가", "", "warning");
                    		return(false);
                    	//e.preventDefault()
                    	
                    	}) 
                    	
                    }
               
            	   
                     
                  /*   if (result.eqmUcheck == "Y") {
                      $("#y").prop("checked", true);
                    } else {
                      $("#n").prop("checked", true);
                    }  */
                    
                    //$('#eqmUcheck').val(result.eqmUcheck);
                     $("#eqmDivision").val(result.eqmDivision);
                    // $("#eqmDivision").val(result.eqmDivision).prop("selected",true);
                    $("#eqmMinTemp").val(result.eqmMinTemp);
                    $("#eqmMaxTemp").val(result.eqmMaxTemp);
                    $("#eqmManager").val(result.eqmManager);
                    $("#inspCycle").val(result.inspCycle);
                   $("#preview").attr("src","/eqm/display?fileName=/"+result.eqmImg);
                  //$('#eqmImg').val(result.eqmImg);
                    $("#mfgComp").val(result.mfgComp);
                    $("#mfgDate").val(result.mfgDate);
                    
                  
                   
                    // 삭제버튼 활성화
                    $('#deleteBtn').prop('disabled', false);
                    
                  },
                  error: function (err) {
                    console.log(err);
                  },
                });
          }
          
          
          
          // 초기화
          $("#resetBtn").on("click", function () {
            $("#eqmCode").val("");
            $("#eqmName").val("");
            $("#y,#n").prop("checked", false);
            $("#eqmMinTemp").val("");
            $("#eqmMaxTemp").val("");
            $("#eqmManager").val(manager);
            $("#inspCycle").val("");
            $("#eqmImg").val("");
            $("#preview").attr("src", '');
            $("#mfgComp").val("");
            $("#mfgDate").val("");
            $("#eqmDivision").val("");
            
           
            
            // 삭제버튼 비활성화
            $('#deleteBtn').prop('disabled', true);
          });
          
          function reset(){
        	  $("#eqmCode").val("");
              $("#eqmName").val("");
              $("#y,#n").prop("checked", false);
              $("#eqmMinTemp").val("");
              $("#eqmMaxTemp").val("");
              $("#eqmManager").val(manager);
              $("#inspCycle").val("");
              $("#eqmImg").val("");
              $("#preview").attr("src", '');
              $("#mfgComp").val("");
              $("#mfgDate").val("");
              $("#eqmDivision").val("");
              
             
              
              // 삭제버튼 비활성화
              $('#deleteBtn').prop('disabled', true);
          }
          

          
          // 삭제버튼
          $("#deleteBtn").click(function () {
            swal({       
            	
              title: "정말 삭제하시겠습니까?",
              text: "",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            }).then((message) => {
              if (message) {
                var eqmCode = $("#eqmCode").val();

                if(eqmCode=='' ){
                	swal("삭제할 설비가 없습니다", "", "warning");
                	return;
                }
                
                
                $.ajax({
                  url: "/deleteEqm",
                  method: "GET",
                  data: { eqmCode: eqmCode },
                  success: function (data) {
                    console.log(data);
                    //삭제 후 <input> 태그 칸 값 비우기
                  //  $("input").val("");
                    reset();
                    swal("삭제 완료!", "설비가 삭제되었습니다.", "success");
                  },
                  error: function (reject) {
                    console.log(reject);
                  },
                });
              } else {
                swal("삭제가 취소되었습니다.", "", { icon: "warning" });
              }
            });
          });
          
          
		// 이미지 보이게한다
          $("#eqmImg").on("change", function (event) {
            var file = event.target.files[0];

            var reader = new FileReader();
            reader.onload = function (e) {
              $("#preview").attr("src", e.target.result);
            };

            reader.readAsDataURL(file);
          });
          
			
      
         
          
        });
    
    
	// input 글자수제한 
	function maxLengthChk(object){
	    if (object.value.length > object.maxLength){
	      object.value = object.value.slice(0, object.maxLength);
	    }    
	  }
    
      </script>
	</div>
</body>
</html>
