<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>설비점검조회</title>
<style>
.tui-grid-cell.red {
	background-color: rgb(227, 52, 52);
	color: white;
	font-weight: bolder;
}

	.tui-grid-cell.redW {
	color: red;
	font-weight: bolder;
}

.tui-grid-cell.greenW {
	color: green;
	font-weight: bolder;
}
</style>
</head>
<body>
	<div layout:fragment="content">
	<h2>설비점검조회</h2>
	
	<div> 
		
    <input type="radio" id="all" name="inspJudg" value="" checked />
    <label for="all">전체</label>
 
 	<input type="radio" id="y" name="inspJudg" value="Y" />
    <label for="y">적합</label>
    
    <input type="radio" id="n" name="inspJudg" value="N"/>
    <label for="n">부적합</label>
	</div>
	
	<div style="padding-bottom: 10px;">
	<label for="searchName">설비명  :  </label>
	<input type= "text" id="searchName" placeholder="설비명을 입력하시오">
	<button type="button" id="searchBtn" class="btn btn-primary">검색</button>
	</div>
	
	<div id="grid"></div>
	
	  <script>
        var grid;
        window.onload=function(){
   	
    const grid = new tui.Grid({
      el: document.getElementById('grid'),
      scrollX: false,
      scrollY: false,
      bodyHeight: 200,
      rowHeaders:["rowNum"],
      pageOptions: {
          perPage: 5,
          useClient: true,
        },
      columns: [
        {
          header: '설비코드',
          name: 'eqmCode',
          align: 'center'
        },
        {
          header: '설비명',
          name: 'eqmName',
          align: 'center'
        },
        {
            header: '담당자',
            name: 'inspManager',
            align: 'center'
        },
        {
              header: '판정',
              name: 'inspJudg',
              align: 'center'
        },
        {
            header: '수리일시',
            name: 'repairDate',
            align: 'center'
        },
        {
            header: '최근점검일시',
            name: 'recentInspDate',
            align: 'center'
        },
        {
            header: '차기점검일시',
            name: 'nextInspDate',
            align: 'center'
      },
      {
          header: '점검내역',
          name: 'inspDt',
          align: 'center'
 	   },
 	   {
        header: '조치내용',
        name: 'actionDt',
  		align: 'center'
  }
      ]
    });
    getEqmInspList();
    
    
    // 검색버튼 클릭시 
    $('#searchBtn').on('click',function(){
    	searchEqmInspName();
    })
    // 검색 - 엔터시
    $('#searchName').on('keypress', function (ev) {
		if (ev.which == 13) {
			ev.preventDefault();
			searchEqmInspName()
		}
	})
    
    

 // radio - all 체크
	$('#all').on('click',function(){
		if($('#searchName').val()){
			$('#searchName').val('');
		}
		getEqmInspList();
	})
	// radio - y 체크
	$('#y').on('click',function(){
		if($('#searchName').val()){
			$('#searchName').val('');
		}
		let judg= $('#y').val();
		getEqmInspJudgList(judg);
	})
	// radio - n 체크
	$('#n').on('click',function(){
		if($('#searchName').val()){
			$('#searchName').val('');
		}
		let judg= $('#n').val();
		getEqmInspJudgList(judg);
	})
	// 전체설비 조회
    function getEqmInspList(){
    	$.ajax({
    		url:'/eqmInsps',
    		method:'get',
        dataType:'json',
    		success:function(result){
    			console.log(result);
    			
    			//
    			for(let item of result){
    				console.log(item)
    				if(item.inspJudg == '적합'){
    					item._attributes= {
    	            			className:{
    	            				column : {
    	            					inspJudg : ['greenW']
    	            				}
    	            			}
    		            	}
    				}else{
    					item._attributes= {
    	            			className:{
    	            				column : {
    	            					inspJudg : ['redW']
    	            				}
    	            			}
    		            	}
    				}
    				
    				if((detDifference(item.nextInspDate) >= 0) && (detDifference(item.nextInspDate)<=5)){
    					item._attributes.className.column.nextInspDate = ['red']
    	            	
    				} 
    			}
    			
    			//
    			
    			grid.resetData(eval(result));
    		},
    		error:function(err){
    			console.log(err);
    		}
    	})
    }

	// 체크박스 조회
	function getEqmInspJudgList(inspJudg){
		$.ajax({
			url:'/eqmInspJudg',
			data: {inspJudg:inspJudg},
			success: result=>{
				//console.log(eqmUcheck)
				//console.log(result)
				//
    			for(let item of result){
    				console.log(item)
    				if(item.inspJudg == '적합'){
    					item._attributes= {
    	            			className:{
    	            				column : {
    	            					inspJudg : ['greenW']
    	            				}
    	            			}
    		            	}
    				}else{
    					item._attributes= {
    	            			className:{
    	            				column : {
    	            					inspJudg : ['redW']
    	            				}
    	            			}
    		            	}
    				}
    				
    				if((detDifference(item.nextInspDate) >= 0) && (detDifference(item.nextInspDate)<=5)){
    					item._attributes.className.column.nextInspDate = ['red']
    	            	
    				} 
    			}
    			
    			//
				 grid.resetData(eval(result));
			},
			error: err => console.log(err)
		})
	}
	// 설비 이름 조회
    function getEqmInspName(eqmName){
    	$.ajax({
			url:'/eqmInpsName',
			data: {
				eqmName : eqmName
			},
			success: result => {
				console.log(result);
				//
    			for(let item of result){
    				console.log(item)
    				if(item.inspJudg == '적합'){
    					item._attributes= {
    	            			className:{
    	            				column : {
    	            					inspJudg : ['greenW']
    	            				}
    	            			}
    		            	}
    				}else{
    					item._attributes= {
    	            			className:{
    	            				column : {
    	            					inspJudg : ['redW']
    	            				}
    	            			}
    		            	}
    				}
    				
    				if((detDifference(item.nextInspDate) >= 0) && (detDifference(item.nextInspDate)<=5)){
    					item._attributes.className.column.nextInspDate = ['red']
    	            	
    				} 
    			}
    			
    			//
				grid.resetData(eval(result));
			}
			,
			error: err => console.log(err)
		})
	}
	
	// 설비 이름 조회 : input에 값
	function searchEqmInspName(){

		$('#all').prop('checked',true)
		if($('#searchName').val()){
			let eqmName = $('#searchName').val();
			getEqmInspName(eqmName);
			
		}
	}
    	
	// 날짜차이 구하는 함수	
	function detDifference(date){
		if(date == null){
			return;
		}
		// 현재시간 
		let now = new Date();
		//console.log(now)
		//console.log(date)
		let year = now.getFullYear();
		let month = now.getMonth()+1;
		let day = now.getDate();
	
		// 받아온날짜 
		let d = date.substr(0,10)
	
		let date_arr =d.split("-");
		
		//console.log(date_arr[0],date_arr[1],date_arr[2])
		
		let stDate = new Date(date_arr[0],date_arr[1],date_arr[2]);
		let nowDate = new Date(year,month,day);
		
		
		let btMs = stDate.getTime() - nowDate.getTime();
		
		let btDay = btMs/(1000*60*60*24); //  1000 초 / 1000*60 분 / 1000*60*60 시 / 1000*60*60*24 일 
		//console.log(btMs,btDay)
		return btDay
	}
  }
          
    </script>
	</div>
</body>
</html>