<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.input-group-prepend {
	padding: 0;
}

.input-group-append {
	padding: 0;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="row mb-4">
			<h1>BOM관리</h1>
		</div>
		<div class="row">
			<div class="col-4">
				<h2>제품정보</h2>
				<div class="mb-3 clearfix">
					<div class="input-group float-left">
						<input type="text" class="form-control noGray col-4" placeholder="제품명" id="searchPrdtName">
						<div class="input-group-append">
							<button class="btn btn-primary col" type="button" id="searchPrdt"><i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
				<div id="prdtGrid" class="lightgrey"></div>
			</div>
			<div class="col-8">
				<h2>BOM정보</h2>
				<div class="mb-3 clearfix">
					<div class="btn-group float-left" role="group" aria-label="Basic example">
						<button type="button" id="insertBomBtn" class="btn btn-primary">BOM등록</button>
						<button type="button" id="bomListBtn" class="btn btn-primary">BOM조회</button>
						<button type="button" id="newBomBtn" class="btn btn-primary">새BOM작성</button>
					</div>
					<input type="hidden" id="bomCode" name="bomCode">
					
					<div class="btn-group float-right" role="group" aria-label="Basic example">
						<button type="button" id="addBomBtn" class="btn btn-primary">공정추가</button>
						<button type="button" id="deleteBomBtn" class="btn btn-primary">삭제</button>
					</div>
				</div>
				<div id="bomDtGrid"></div>
			</div>
		</div>
		
		<!-- BOM조회 모달 -->
		<div class="modal fade" tabindex="-1" role="dialog" id="bomModal">
			<div class="modal-dialog modal-dialog-centered modal-lg"
				role="document">
				<div class="modal-content">
					<h2 style="margin: 30px">BOM리스트</h2>

					<div class="modal-body">
						<div id="bomGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 공정조회 모달 -->
		<div class="modal fade" tabindex="-1" role="dialog" id="prcsModal">
			<div class="modal-dialog modal-dialog-centered modal-lg"
				role="document">
				<div class="modal-content">
					<h2 style="margin: 30px">공정리스트</h2>

					<div class="modal-body">
						<div id="prcsGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 제품조회모달 -->
		<div class="modal fade" tabindex="-1" role="dialog" id="mtlModal">
			<div class="modal-dialog modal-dialog-centered modal-lg"
				role="document">
				<div class="modal-content">
					<h2 style="margin: 30px">제품리스트</h2>

					<div class="modal-body">
						<div id="mtlGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" id="addBomMtl" class="btn btn-primary">등록</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<script>
		let selRow;
		let prdtCode;
		var Grid = tui.Grid;
		
		
		const bomDtGrid = new Grid({
			el: document.getElementById('bomDtGrid'),
			scrollX: false,
			bodyHeight: 400,
			rowHeaders:[{type:'checkbox'}],
			contextMenu: null,
			treeColumnOptions: {
		        name: 'mtlName',
		        useCascadingCheckbox: false,
		        useIcon: false
		      },
			columns: [{
				header: '공정순서',
				name: 'prcsOrder',
				width: 80,
				validation: {
			        dataType: 'number',
			        required: true
			      }
			},{
				header: '공정코드',
				name: 'prcsStdCode'
			}, {
				header: '공정명',
				name: 'prcsName'
			},{
				name:'mtlCode',
				hidden: true
			},{
				header: '소모자재',
				name: 'mtlName',
			}, {
				header: '소모량',
				name: 'mtlCnt',
				editor:{
					type: 'text'
				},
				validation: {
			        dataType: 'number',
			        required: true
			      },
				width: 80
			}, {
				header: '단위',
				name: 'mtlUnit',
				width: 80
			},{
				header: 'isChild',
				name: 'isChild',
				hidden: true
			}
			]
		});	
		
		const prdtGrid = new Grid({
			el: document.getElementById('prdtGrid'),
			scrollX: false,
			minBodyHeight: 400,
			pagination: true,
			pageOptions: {
				useClient: true,
				perPage: 10,
			},
			contextMenu: null,
			columns: [{
				header: '제품코드',
				name: 'prdtCode'
			}, {
				header: '제품명',
				name: 'prdtName'
			}, {
				header: '분류',
				name: 'prdtType'
			}]
		});	
		
		// BOM표
		const bomGrid = new Grid({
			el: document.getElementById('bomGrid'),
			scrollX: false,
			minBodyHeight: 250,
			pagination: true,
			pageOptions: {
				useClient: true,
				perPage: 5,
			},
			contextMenu: null,
			rowHeaders: ['rowNum'],
			columns: [{
				header: 'BOM코드',
				name: 'bomCode'
			}, {
				header: '생성일자',
				name: 'bomDate'					
			}, {
				header: '사용여부',
				name: 'bomUse'					
			}]
		});
		
		// 공정표
		const prcsGrid = new Grid({
			el: document.getElementById('prcsGrid'),
			scrollX: false,
			minBodyHeight: 250,
			pagination: true,
			pageOptions: {
				useClient: true,
				perPage: 5,
			},
			contextMenu: null,
			rowHeaders: ['rowNum'],
			columns: [{
				header: '공정코드',
				name: 'prcsStdCode'
			}, {
				header: '공정명',
				name: 'prcsName'					
			}, {
				header: '공정구분',
				name: 'prcsType'					
			}, {
				header: '비고',
				name: 'prcsNote'					
			}]
		});
		
		// 자재표
		const mtlGrid = new Grid({
			el: document.getElementById('mtlGrid'),
			scrollX: false,
			minBodyHeight: 250,
			pagination: true,
			pageOptions: {
				useClient: true,
				perPage: 5,
			},
			contextMenu: null,
			rowHeaders: ['rowNum','checkbox'],
			columns: [{
				header: '자재코드',
				name: 'mtlCode'
			}, {
				header: '자재명',
				name: 'mtlName'					
			}, {
				header: '분류',
				name: 'mtlType'					
			}]
		});
		
		selectPrdtList()
		
		// 제품리스트 조회
		function selectPrdtList(){
			$.ajax({
				url:'/mdm/selectPrdtList',
				success: result =>{
					prdtGrid.resetData(result)
				}
			})
		}
		
		$('#searchPrdt').on('click', searchPrdt)
		
		$('#searchPrdtName').on('keypress', function (ev) {
			if (ev.which == 13) {
				event.preventDefault();
				searchPrdt();
			}
		})
		
		// 제품검색
		function searchPrdt() {
			let vo = {};
			vo.prdtType = $('#searchPrdtType').val();
			vo.prdtName = $('#searchPrdtName').val();
			$.ajax({
				url: '/mdm/searchPrdt',
				method: 'POST',
				contentType : 'application/json',
				data: JSON.stringify(vo),
				success: result => {
					prdtGrid.resetData(result)
				},
				error: err => console.log(err)
			})
		}
		
		prdtGrid.on('click', function (ev) {
			if (ev.rowKey == undefined) {
				return;
			}
			prdtCode = prdtGrid.getValue(ev.rowKey, 'prdtCode')
			selectBomDetail(prdtCode)
		})
		
		// 상세코드표시
		function selectBomDetail(pc,bc){
			$.ajax({
				url: "/mdm/selectBomDetail",
				data: {
					prdtCode: pc,
					bomCode: bc
				},
				success: result => {
					bomDtGrid.resetData([])
					for(let data of result){
						let gridData = bomDtGrid.getData()
						let cnt = 0;
						let rowKey;
						for(let gd of gridData){
							if(gd.prcsOrder===data.prcsOrder) {
								cnt++;
								rowKey = gd.rowKey
								data.prcsOrder = ''
								data.prcsStdCode = ''
								data.prcsName = ''
							}
						}
						if(cnt){
							bomDtGrid.appendRow(data,{parentRowKey:rowKey})
							let childRows = bomDtGrid.getChildRows(rowKey)
							for(let cr of childRows){
								bomDtGrid.disableCell(cr.rowKey,'prcsOrder')
								bomDtGrid.setValue(cr.rowKey,'isChild','Y')
							}
						} else {
							bomDtGrid.appendRow(data)
						}
					}
					//bomDtGrid.resetData(eval(result))
					if(result[0]){
						$('#bomCode').val(result[0].bomCode)
					} else {
						$('#bomCode').val('')
					}
				},
				error: err => console.log(err)
			})
		}
		
		// bom추가
		$('#addBomBtn').on('click', ()=>{
			if(!prdtCode){
				toastr.warning('제품을 먼저 선택해 주세요')
				return
			}
			bomDtGrid.appendRow()
			prcsOrderCalc()
		})
		
		// bom더블클릭 이벤트
		bomDtGrid.on('dblclick', (ev) => {
			if(bomDtGrid.getValue(ev.rowKey,'_attributes').tree.parentRowKey==0 || bomDtGrid.getValue(ev.rowKey,'_attributes').tree.parentRowKey) {
				return;
			}
			
			if (ev.rowKey == undefined) {
				return;
			}
			
			selRow = ev.rowKey;
			
			if (ev.columnName == 'prcsStdCode') {
				prcsList();
			}
			
			if (ev.columnName == 'mtlName') {
				mtlList();
			}
			
		})
		
		// 공정조회
		function prcsList() {
			$.ajax({
				url:'/mdm/selectPrcsList',
				success: result =>{
					$('#prcsModal').modal('show');
					prcsGrid.resetData(result)
					setTimeout(() => prcsGrid.refreshLayout(), 200);
				},
				error: err => console.log(err)
			})
		}
		
		// 자재조회
		function mtlList() {
			$.ajax({
				url:'/mdm/selectMtlList',
				success: result =>{
					$('#mtlModal').modal('show');
					mtlGrid.resetData(result)
					setTimeout(() => mtlGrid.refreshLayout(), 200);
				},
				error: err => console.log(err)
			})
		}
		
		// 공정 => bom
		prcsGrid.on('dblclick', (ev) => {
			if (ev.rowKey == undefined) {
				return;
			}
			addBomPrcs(ev.rowKey)
		})
		
		function addBomPrcs(rowKey){
			let prcsStdCode = prcsGrid.getValue(rowKey, 'prcsStdCode')
			let prcsName = prcsGrid.getValue(rowKey, 'prcsName')
			bomDtGrid.setValue(selRow, 'prcsStdCode', prcsStdCode)
			bomDtGrid.setValue(selRow, 'prcsName', prcsName)
			$('#prcsModal').modal('hide');
		}
		
		// 자재 => bom 더블클릭
		mtlGrid.on('dblclick', (ev) => {
			if(ev.rowKey == undefined) return;
			
			altBomMtl(ev.rowKey)
		})
		
		function altBomMtl(rowKey){
			let mtlCode = mtlGrid.getValue(rowKey, 'mtlCode')
			let mtlName = mtlGrid.getValue(rowKey, 'mtlName')
			let mtlUnit = mtlGrid.getValue(rowKey, 'mtlUnit')
			let rowData = bomDtGrid.getRow(selRow)
			for(let data of rowData._children){
				console.log(data)
				if(data.mtlCode == mtlCode) {
					toastr.warning('이미 추가되어있는 자재입니다.')
					return
				}
			}
			bomDtGrid.setValue(selRow, 'mtlCode', mtlCode)
			bomDtGrid.setValue(selRow, 'mtlName', mtlName)
			bomDtGrid.setValue(selRow, 'mtlUnit', mtlUnit)
			$('#mtlModal').modal('hide'); 
		} 
		
		// 자재 => bom
		$('#addBomMtl').on('click', () => {
			let datas = mtlGrid.getCheckedRows()
			for(let data in datas){
				delete datas[data].rowKey
				delete datas[data]._attributes
				if(data == 0 && !bomDtGrid.getValue(selRow,'mtlName')){
					bomDtGrid.setValue(selRow,'mtlCode',datas[data]['mtlCode'])
					bomDtGrid.setValue(selRow,'mtlName',datas[data]['mtlName'])
					bomDtGrid.setValue(selRow,'mtlUnit',datas[data]['mtlUnit'])
					continue
				}
				if(datas[data].mtlName == bomDtGrid.getValue(selRow,'mtlName')){
					continue
				}
				let chkMtl = bomDtGrid.getChildRows(selRow)
				let chk = true
				for(let mtl of chkMtl){
					if(mtl.mtlName == datas[data].mtlName) {
						chk = false
					}
				} 
				if(chk){
					datas[data].isChild = 'Y';
					addBomMtl(datas[data])
				}
			}
			let childRows = bomDtGrid.getChildRows(selRow)
			for(let cr of childRows){
				bomDtGrid.disableCell(cr.rowKey,'prcsOrder')
			}
			$('#mtlModal').modal('hide');
		})
		
		function addBomMtl(obj){
			//console.log(obj)
			bomDtGrid.appendTreeRow(obj,{parentRowKey: selRow, offset:0})
		}
		
		// 삭제버튼
		$('#deleteBomBtn').on('click', () => {
			if(!prdtCode){
				toastr.warning('제품을 먼저 선택해 주세요')
				return
			}
			let delList = bomDtGrid.getCheckedRowKeys()
			delList.reverse()
			for(let del of delList){
				bomDtGrid.removeTreeRow(del)
			}
			prcsOrderCalc()
		})
		
		// 새로만들기
		$('#newBomBtn').on('click', () => {
			if(!prdtCode){
				toastr.warning('제품을 먼저 선택해 주세요')
				return
			}
			bomDtGrid.clear()
			$('#bomCode').val('')
		})
		
		// BOM조회
		$('#bomListBtn').on('click',() => {
			if(!prdtCode){
				toastr.warning('제품을 먼저 선택해 주세요')
				return
			}
			$.ajax({
				url:'/mdm/selectBomList',
				data:{
					prdtCode : prdtCode
				},
				success: result =>{
					$('#bomModal').modal('show');
					bomGrid.resetData(result)
					setTimeout(() => bomGrid.refreshLayout(), 200);
				},
				error: err => console.log(err)
			})
		})
		
		// BOM등록
		$('#insertBomBtn').on('click', () => {
			if(!prdtCode){
				toastr.warning('제품을 먼저 선택해 주세요')
				return
			}
			let vo = {
				prdtCode : prdtCode,
				bomCode : $('#bomCode').val()
			}
			let list = bomDtGrid.getData()
			for(let data of list){
				let parentKey = data._attributes.tree.parentRowKey
				if(parentKey==0 || parentKey){
					data.prcsOrder = bomDtGrid.getRow(parentKey).prcsOrder
					data.prcsStdCode = bomDtGrid.getRow(parentKey).prcsStdCode
				}
			}
			let bomData = {
				vo : vo,
				list : list
			}
			$.ajax({
		 		url:'/mdm/bomProcess',
				method:'POST',
				dataType: 'json',
				contentType : 'application/json',
				data:JSON.stringify(bomData),
				success: result => {
					if(result) toastr.success('등록완료')
				},
				error: err => console.log(err)
			})
		})
		
		bomGrid.on('dblclick', (ev) => {
			let bomCode = bomGrid.getValue(ev.rowKey, 'bomCode')
			console.log(bomCode)
			selectBomDetail(prdtCode,bomCode)
			$('#bomModal').modal('hide');
		})
		
		function prcsOrderCalc() {
			let rowData = bomDtGrid.getData()
			let cnt = 1;
			for(let data of rowData){
				if(data.isChild == 'Y') continue;
				let rowKey = data.rowKey
				bomDtGrid.setValue(rowKey,'prcsOrder',cnt)
				cnt++
			}
		}
		
		
		</script>
	</div>
</body>
</html>