<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>SMARTREE</title>
<style type="text/css">
.input-group {
	margin-bottom: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-group-prepend{
	padding: 0;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="row mb-4">
			<h1>품질검사기준관리</h1>
		</div>
		<div class="row">
			<div class="col-7">
				<h2>품질검사 리스트</h2>
				<div class="input-group mb-3">
					<input type="text" class="form-control col-2 noGray" placeholder="품질검사명" id="searchChkName">
					<div class="input-group-append">
				   	<button class="btn btn-primary" type="button" id="searchChk"><i class="fas fa-search"></i></button>
					</div>
				</div> 
				<div id="chkGrid" class="lightgrey"></div>
			</div>	
			<div class="col"></div>	
			<div class="col-3">
				<h2>품질검사 정보</h2>
				<br>
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">검사코드</span>
				  	</div>
					<input type="text" class="form-control text-right col noGray" readonly id="chkStdCode"> 
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">검사명*</span>
				  	</div>
					<input type="text" maxlength="12" class="form-control text-right col noGray" placeholder="품질검사명" id="chkName">
				</div>
				
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">검사기준</span>
				  	</div>
					<input type="text" maxlength="10" class="form-control text-right col noGray" placeholder="0" id="chkStd">
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">검사단위*</span>
				  	</div>
					<input type="text" maxlength="10" class="form-control text-right col noGray" placeholder="" id="chkUnit">
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">공정 상세</span>
				  	</div>
					<textarea class="form-control col" rows="3" maxlength="100" id="chkDt"></textarea>
				</div>
				
				<div class="text-center">
					<button type="button" id="insertChk" class="btn btn-primary">등록</button>
					<button type="button" id="resetChk" class="btn btn-primary">초기화</button>
					<button type="button" id="deleteChk" class="btn btn-primary">삭제</button>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<script>
			var Grid = tui.Grid;
			
			// 품질검사표
			const chkGrid = new Grid({
				el: document.getElementById('chkGrid'),
				scrollX: false,
				minBodyHeight: 400,
				pagination: true,
				pageOptions: {
					useClient: true,
					perPage: 10,
				},
				contextMenu: null,
				rowHeaders: ['rowNum'],
				columns: [{
					header: '품질검사코드',
					name: 'chkStdCode',
					align: 'center'
				}, {
					header: '품질검사명',
					name: 'chkName'					
				}, {
					header: '검사기준',
					name: 'chkStd'	,
					align: 'left'				
				}, {
					header: '검사단위',
					name: 'chkUnit'					
				}]
			});
			
			// 등록창 초기화
			$('#resetChk').on('click', resetChk)
			
			function resetChk() {
				$('.text-right').val('')
			}
			
			// 품질검사등록
			selectChkList();
			
			$('#insertChk').on('click', insertChk)
			
			function insertChk() {
				if(!$('#chkName').val() || !$('#chkUnit').val()){
					toastr.warning('필수값을 입력해 주새요')
					return
				}
				let vo = {};
				vo.chkStdCode = $('#chkStdCode').val();
				vo.chkName = $('#chkName').val();
				vo.chkDt = $('#chkDt').val();
				vo.chkStd = $('#chkStd').val();
				vo.chkUnit = $('#chkUnit').val();
				vo.chkUse = $('#chkUse').val();
				if(vo.chkStdCode){
					// 코드있으면 수정
					$.ajax({
						url: '/mdm/updateChk',
						method: 'post',
						contentType : 'application/json',
						data: JSON.stringify(vo),
						success: result =>{
							toastr.success(result);
							selectChkList();
						}
					})
				} else {
					// 없으면 등록
					$.ajax({
						url: '/mdm/insertChk',
						method: 'post',
						contentType : 'application/json',
						data: JSON.stringify(vo),
						success: result =>{
							toastr.success(result);
							$('input').val('')
							selectChkList();
						}
					})
				}
			}
			
			// 품질검사삭제
			$('#deleteChk').on('click', deleteChk)
			
			
			function deleteChk() {
				let chkStdCode = $('#chkStdCode').val()
				if(!chkStdCode){
					toastr.warning('선택된 검사기준이 없습니다.')
					return
				}				
				Swal.fire({
					title: '삭제하시겠습니까?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: '삭제',
					cancelButtonText: '취소'
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
							url: '/mdm/deleteChk',
							method: 'POST',
							data: {chkStdCode : chkStdCode},
							success: result => {
								Swal.fire({
									title: '삭제완료',
									icon: 'success',
									confirmButtonText: '확인'
								})
								selectChkList();
								resetChk();
							},
							error: err => console.log(err)
						})
					}
				})
			}
			
			$('#searchChk').on('click', searchChk)
			
			$('#searchChkName').on('keypress', function (ev) {
				if (ev.which == 13) {
					ev.preventDefault();
					searchChk();
				}
			})
			
			// 품질검사검색
			function searchChk() {
				let vo = {};
				vo.chkDt = $('#searchChkType').val();
				vo.chkName = $('#searchChkName').val();
				console.log(vo)
				$.ajax({
					url: '/mdm/searchChk',
					method: 'POST',
					contentType : 'application/json',
					data: JSON.stringify(vo),
					success: result => {
						console.log(result)
						chkGrid.resetData(result)
					},
					error: err => console.log(err)
				})
			}
			
			// 품질검사단건조회
			chkGrid.on('click', function (ev) {
				if (ev.rowKey == undefined) {
					return;
				}
				let chkStdCode = chkGrid.getValue(ev.rowKey, 'chkStdCode')
				selectChk(chkStdCode)
			})
			
			function selectChk(chkStdCode) {
				$.ajax({
					url:'/mdm/selectChk',
					data: {chkStdCode : chkStdCode},
					success: result => {
						$('#chkStdCode').val(result.chkStdCode)
						$('#chkName').val(result.chkName)
						$('#chkDt').val(result.chkDt)
						$('#chkStd').val(result.chkStd)
						$('#chkUnit').val(result.chkUnit)
						$('#chkUse').val(result.chkUse)
					}
				})
			}
			
			// 품질검사리스트 조회
			function selectChkList(){
				$.ajax({
					url:'/mdm/selectChkList',
					success: result =>{
						chkGrid.resetData(result)
					}
				})
			}
			
			// input 글자수제한 
			function maxLengthChk(object){
			    if (object.value.length > object.maxLength){
			      object.value = object.value.slice(0, object.maxLength);
			    }    
			  }
		</script>
	</div>
</body>
</html>