<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container-xxl text-center">
			<div class="row mb-4">
				<h1>공통코드관리</h1>
			</div>
			<div class="row">
				<div class="col-4">
					<div class="btn-group" role="group" aria-label="Basic example"
						style="float: left;">
						<button type="button" id="addCommonCode" class="btn btn-primary">추가</button>
						<button type="button" id="insertCommonCode"
							class="btn btn-primary">등록</button>
						<button type="button" id="deleteCommonCode"
							class="btn btn-primary">삭제</button>
					</div>
					<br> <br>
					<div id="commonCodeGrid" class="lightgrey"></div>
				</div>
				<div class="col-8">
					<div class="btn-group" role="group" aria-label="Basic example"
						style="float: right;">
						<button type="button" id="addCodeDetail" class="btn btn-primary">추가</button>
						<button type="button" id="insertCodeDetail"
							class="btn btn-primary">등록</button>
						<button type="button" id="deleteCodeDetail"
							class="btn btn-primary">삭제</button>
					</div>
					<br> <br>
					<div id="codeDetailGrid"></div>
				</div>
			</div>
		</div>


		<script>
			var Grid = tui.Grid;
			let commonCode = [];
			let codeDetail = [];
			let codeType;
			let cdl;

			let options = {
				cell: {
					disabled: {
						text: '#000000'
					}
				}
			}
			tui.Grid.applyTheme('default', options);
	
		    class CustomTextEditor {
		        constructor(props) {
		          const el = document.createElement('input');
		          const { maxLength } = props.columnInfo.editor.options;
		          
		          el.value = String(props.value);
			       el.type = 'text';
			       if(props.rowKey<cdl) el.readOnly=true;
		          el.maxLength = maxLength;
		          
		          this.el = el;
		        }

		        getElement() {
		          return this.el;
		        }

		        getValue() {
		          return this.el.value;
		        }

		        mounted() {
		          this.el.select();
		        }
		      }
		    
		    class lengthChk {
		        constructor(props) {
		          const el = document.createElement('input');
		          const { maxLength } = props.columnInfo.editor.options;

		          el.type = 'text';
		          el.maxLength = maxLength;
		          el.value = String(props.value);

		          this.el = el;
		        }

		        getElement() {
		          return this.el;
		        }

		        getValue() {
		          return this.el.value;
		        }

		        mounted() {
		          this.el.select();
		        }
		      }
			
			const grid = new Grid({
				el: document.getElementById('commonCodeGrid'),
				scrollX: false,
				bodyHeight: 400,
				contextMenu: null,
				rowHeaders: ['rowNum', 'checkbox'],
				pagination: true,
				pageOptions: {
					useClient: true,
					perPage: 10,
				},
				columns: [{
					header: '공통코드',
					name: 'codeType'
				}, {
					header: '코드명',
					name: 'typeName',
					editor: {
				       	type: lengthChk,
				         options: {
				           maxLength: 10
				         }
				       }
				}]
			});


			const grid2 = new Grid({
				el: document.getElementById('codeDetailGrid'),
				scrollX: false,
				bodyHeight: 400,
				contextMenu: null,
				rowHeaders: ['rowNum', 'checkbox'],
				pagination: true,
				pageOptions: {
					useClient: true,
					perPage: 10,
				},
				columns: [{
					header: '상세코드',
					name: 'codeId',
					editor: {
						type: CustomTextEditor,
						options: {
				              maxLength: 4
				            }
					}
				}, {
					header: '상세코드명',
					name: 'codeName',
					editor: {
				       	type: lengthChk,
				         options: {
				           maxLength: 10
				         }
				       }
				}, {
					header: '사용여부',
					name: 'codeUse',
					editor: {
						type: 'select',
						options: {
							listItems: [{
									text: 'Y',
									value: 'Y'
								},
								{
									text: 'N',
									value: 'N'
								}
							]
						}
					},
					align: 'center'
				}]
			});

			selCommonCode();

			// 공통코드표시
			function selCommonCode() {
				$.ajax({
					url: "/mdm/selectCommonCode",
					success: result => {
						commonCode = result
						grid.resetData(commonCode);
					},
					error: err => console.log(err)
				})
			}
			
			grid.on('click', function (ev) {
				if (ev.rowKey == undefined) {
					return;
				}
				codeType = grid.getValue(ev.rowKey, 'codeType')
				selCodeDetail(codeType)
			})
			
			// 상세코드표시
			function selCodeDetail(ct){
				$.ajax({
					url: "/mdm/selectCodeDetail",
					data: {
						codeType: ct
					},
					success: result => {
						codeDetail = result
						for(let data of codeDetail){
							data.codeType = codeType;
						}
						cdl = codeDetail.length;
						grid2.resetData(eval(codeDetail))
					},
					error: err => console.log(err)
				})
			}

			// 변경사항 저장
			grid.on('afterChange', ev => {
				let change = ev.changes
				commonCode[change[0].rowKey][change[0].columnName] = change[0].value
			})

			grid2.on('afterChange', ev => {
				let change = ev.changes
				codeDetail[change[0].rowKey][change[0].columnName] = change[0].value
			})

			// 공통코드등록
			$('#insertCommonCode').on('click', insertCommonCode)

			function insertCommonCode() {
				grid.blur();
				if(!grid.isModified()) {
					toastr.warning('변경사항이 없습니다.');
					return
				}
				$.ajax({
					url: '/mdm/insertCommonCode',
					type: 'post',
					headers: {
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(commonCode),
					success: result => {
						alert("등록완료")
						selCommonCode();
					},
					error: err => console.log(err)
				})
			}
			
			
			// 상세코드등록
			$('#insertCodeDetail').on('click', insertCodeDetail)
			
			function insertCodeDetail() {
				grid2.blur();
				if(!grid2.isModified()) {
					toastr.warning('변경사항이 없습니다.');
					return
				}
				$.ajax({
					url: '/mdm/insertCodeDetail',
					type: 'post',
					headers: {
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(codeDetail),
					success: result => {
						alert("등록완료")
						selCodeDetail(codeType)
						
					},
					error: err => console.log(err)
				})
			}
			
			// 공통코드추가
			$(addCommonCode).on('click', function () {
				grid.blur()
				commonCode.push({
					codeType: '',
					typeName: ''
				})
				grid.resetData(commonCode)
			})

			// 상세코드추가
			$(addCodeDetail).on('click', function () {
				grid2.blur();
				if (!codeType) {
					toastr.warning('공통코드를 선택해주세요');
					return;
				}
				codeDetail.push({
					codeId: '',
					codeType: codeType,
					codeName: '',
					codeUse: 'Y'
				})
				grid2.resetData(codeDetail)
			})
			
			// 공통코드삭제
			$('#deleteCommonCode').on('click', deleteCommonCode)

			function deleteCommonCode() {
				let delData = grid.getCheckedRows()
				if(delData.length==0) {
					toastr.warning('선택된 값이 없습니다.')
					return
				}
				$.ajax({
					url: '/mdm/deleteCommonCode',
					type: 'post',
					headers: {
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(delData),
					success: result => {
						if(result==0){
							toastr.warning('상세코드가 비어있지 않습니다.')
						} else{
							toastr.success(result+ '건 삭제완료');	
						}
						selCommonCode();
					},
					error: err => console.log(err)
				})
			}
			
			// 상세코드삭제
			$('#deleteCodeDetail').on('click', deleteCodeDetail)
			
			function deleteCodeDetail() {
				let delData = grid2.getCheckedRows()
				if(delData.length == 0) {
					toastr.warning('선택된 값이 없습니다.')
					return
				}
				let chkData = 0
				for(let data of delData){
					if(data.codeUse=='Y' && data.codeId) chkData++
				}
				if(chkData) {
					toastr.warning('사용중인 코드가 있습니다.')
					return
				}
				$.ajax({
					url: '/mdm/deleteCodeDetail',
					type: 'post',
					headers: {
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(delData),
					success: result => {
						toastr.success(result+ '건 삭제완료');	
						selCodeDetail(codeType)
					},
					error: err => console.log(err)
				})
			}		</script>
	</div>
</body>

</html>