<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style type="text/css">
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		}
		.input-group-prepend{
			padding: 0;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1 class="row mb-4">사원관리</h1>
		
		<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
			<div class="input-group">
				<select class="custom-select col-4" id="deptInfo">
					<option value="" selected>부서정보</option>
				</select>
				<input type="text" class="form-control col-5 noGray" id="searchName" placeholder="이름">
				<div class="input-group-append">
					<button type="button" id="searchBtn" class="btn btn-primary col"><i class="fas fa-search"></i></button>
				</div>
			</div>
			
			
			<div class="btn-group ml-auto" role="group">
				<button id="notUseListBtn" class="btn btn-primary">비활성조회</button>
			</div>
			<div class="btn-group ml-3" role="group">
				<button type="button" id="addBtn" class="btn btn-primary ml-auto" data-toggle="modal"	data-target="#empAddModal">사원등록</button>
				<button type="button" id="upEmpBtn" class="btn btn-primary">저장</button>
				<button type="button" id="" class="btn btn-primary">비활성화</button>
			</div>
		</div>
		
		<div id="empList"></div>


		<div class="modal fade" id="empAddModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">사원등록</h5>
					</div>
					<div class="modal-body row px-5">
						<div class="input-group mb-3">
							<div class="input-group-prepend col-4">
								<span class="input-group-text col">이름*</span>
							</div>
							<input class="col-8" id="empName" name="empName">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend  col-4">
								<span class="input-group-text col">비밀번호*</span>
							</div>
							<input class="col-8" id="empPw" name="empPw">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend  col-4">
								<span class="input-group-text col">부서*</span>
							</div>
							<select class="col-8" id="empDept" name="empDept">
								<option value="" selected>부서정보</option>
							</select>
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend  col-4">
								<span class="input-group-text col">직급*</span>
							</div>
							<input class="col-8" id="empClass" name="empClass">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend  col-4">
								<span class="input-group-text col">연락처</span>
							</div>
							<input class="col-8" id="empPhone" name="empPhone">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" id="insertEmp" class="btn btn-primary">등록</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="empNotUse" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">비활성 사원 리스트</h5>
					</div>
					<div class="modal-body px-4">
						<div id="empList2"></div>
					</div>
					<div class="modal-footer">
						<button type="button" id="delEmpBtn" class="btn btn-primary">삭제</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			class CustomSliderRenderer {
				constructor(props) {
					const el = document.createElement('button');

					el.type = 'button';
					el.className = 'btn btn-primary btn-sm px-4';
					el.innerText = '초기화'
					this.el = el;
					this.render(props);
					$(el).on('click', () => {
						let eid = grid.getValue(props.rowKey, 'empId')
						let edept = grid.getValue(props.rowKey, 'empDept')
						if (edept == '관리자') {
							toastr.warning('관리자의 비밀번호는 초기화 할 수 없습니다.')
							return
						}
						Swal.fire({
							title: '초기화하시겠습니까?',
							icon: 'warning',
							showCancelButton: true,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: '확인',
							cancelButtonText: '취소'
						}).then((result) => {
							if (result.isConfirmed) {
								let newPw = String(Math.floor(Math.random() * 10000))
								newPw = newPw.padStart(4, '0');
								let vo = {}
								vo.empId = eid;
								vo.empPw = newPw;
								$.ajax({
									url: "/mdm/resetPw",
									type: "POST",
									contentType: "application/json",
									data: JSON.stringify(vo),
									success: result => {
										if (result === 1) {
											Swal.fire({
												title: '새로운 비밀번호는 ' + newPw + '입니다.',
												icon: 'success',
												confirmButtonText: '확인'
											})
										}
									},
									error: err => console.log(err)

								})

							}
						})

					});

				}

				getElement() {
					return this.el;
				}

				render(props) {
					this.el.value = String(props.value);
				}
			}

			// 부서정보 불러오기
			$.ajax({
				url: "/mdm/selectCodeDetail",
				data: {
					codeType: '001'
				},
				success: result => {
					$(result).each(function (idx, dept) {
						let optTag = $('<option/>');
						optTag.val(dept['codeId']);
						optTag.text(dept['codeName']);
						$('#deptInfo, #empDept').append(optTag);
					})
				},
				error: err => console.log(err)
			})

			var Grid = tui.Grid;

			// 사원테이블 헤더
			const grid = new Grid({
				el: document.getElementById('empList'),
				scrollX: false,
				rowHeaders: ['rowNum', 'checkbox'],
				bodyHeight: 600,
				pagination: true,
				pageOptions: {
					useClient: true,
					perPage: 15,
				},
				columns: [{
						header: '사원번호',
						name: 'empId',
						align: 'center'
					},
					{
						header: '이름',
						name: 'empName',
						editor:{
							type: 'text'
						}
					},
					{
						header: '부서',
						name: 'empDept',
						align: 'center'
					},
					{
						header: '직급',
						name: 'empClass',
						align: 'center',
						editor:{
							type: 'text'
						}
					},
					{
						header: '연락처',
						name: 'empPhone',
						align: 'center',
						editor:{
							type: 'text'
						}
					},
					{
						header: '비밀번호 초기화',
						name: 'reset',
						width: 180,
						align: 'center',
						renderer: {
							type: CustomSliderRenderer
						}
					}
				]
			});
			
			//비활성 사원 그리드
			const grid2 = new Grid({
				el: document.getElementById('empList2'),
				scrollX: false,
				rowHeaders: ['rowNum', 'checkbox'],
				bodyHeight: 400,
				pagination: true,
				pageOptions: {
					useClient: true,
					perPage: 10,
				},
				columns: [{
						header: '사원번호',
						name: 'empId',
						align: 'center'
					},
					{
						header: '이름',
						name: 'empName',
						editor:{
							type: 'text'
						}
					},
					{
						header: '부서',
						name: 'empDept',
						align: 'center'
					},
					{
						header: '직급',
						name: 'empClass',
						align: 'center',
						editor:{
							type: 'text'
						}
					},
					{
						header: '연락처',
						name: 'empPhone',
						align: 'center',
						editor:{
							type: 'text'
						}
					}
				]
			});

			getEmpList();

			$('#deptInfo').on('change', function () {
				searchEmp();
			})

			$('#searchBtn').on('click', function () {
				searchEmp();
			})

			$('#searchName').on('keypress', function (ev) {
				if (ev.which == 13) {
					event.preventDefault();
					searchEmp();
				}
			})

			function getEmpList(empDept, empName) {
				$.ajax({
					url: '/mdm/selectEmpList',
					data: {
						empDept: empDept,
						empName: empName
					},
					success: result => {
						console.log(result)
						grid.resetData(eval(result));
					},
					error: err => console.log(err)
				})
			}

			function searchEmp() {
				let dept = $('#deptInfo').val();
				if ($('#searchName').val()) {
					let empName = $('#searchName').val()
					getEmpList(dept, empName);
				} else {
					getEmpList(dept);
				}
			}

			$('#insertEmp').on('click', insertEmp)

			function insertEmp() {
				let empInfo = {};
				empInfo.empName = $('#empName').val();
				empInfo.empPw = $('#empPw').val();
				empInfo.empDept = $('#empDept').val();
				empInfo.empClass = $('#empClass').val();
				empInfo.empPhone = $('#empPhone').val();
				if (!empInfo.empName) {
					alert('이름을 입력하세요');
					return;
				}
				if (!empInfo.empPw) {
					alert('패스워드를 입력하세요');
					return;
				}
				if (!empInfo.empDept) {
					alert('부서정보를 입력하세요');
					return;
				}
				if (!empInfo.empClass) {
					alert('직급을 입력하세요');
					return;
				}
				$.ajax({
					url: '/mdm/insertEmp',
					type: 'post',
					headers: {
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(empInfo),
					success: result => {
						toastr.success('성공적으로 등록되었습니다.')
						$('#empAddModal').modal('hide')
						getEmpList();
					},
					error: err => console.log(err)
				})

				console.log(empInfo)
			}
			// 삭제버튼
			$('#delEmpBtn').on('click', function () {
				if (grid.getCheckedRows().length == 0) {
					toastr.warning('선택된 값이 없습니다.')
					return
				}
				let chkMaster = grid.getCheckedRows()[0].empId
				if(chkMaster=='ST010001') {
					toastr.warning('최고관리자는 삭제할 수 없습니다.')
					return
				}
				Swal.fire({
					title: '삭제하시겠습니까?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: '삭제',
					cancelButtonText: '취소'
				}).then((result) => {
					if (result.isConfirmed) {
						let vo = grid.getCheckedRows()
						$.ajax({
							url: '/mdm/delEmp',
							method: 'post',
							contentType: 'application/json',
							data: JSON.stringify(vo),
							success: result => {
								Swal.fire({
									title: result + ' 건 삭제완료',
									icon: 'success',
									confirmButtonText: '확인'
								})
								getEmpList();
							}
						})
						
					}
				})
			})
			
			$('#upEmpBtn').on('click', () => {
				grid.blur()
				console.log(grid.getModifiedRows().updatedRows)
			})
			
			$('#notUseListBtn').on('click', () => {
				$('#empNotUse').modal('show')
			})
			
		</script>
	</div>
</body>

</html>