<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="content">
		<div>
			<select id="deptInfo">
				<option value="" selected>부서정보</option>
			</select>
			<input id="searchName" placeholder="이름">
			<button type="button" id="searchBtn" class="btn btn-primary">검색</button>
			<div class="btn-group" role="group" aria-label="Basic example"
						style="float: right;">
				<button type="button" id="addBtn" class="btn btn-primary" 
					data-toggle="modal" data-target="#empAddModal">사원등록</button>
				<button type="button" class="btn btn-primary">삭제</button>
			</div>
		</div>
		<br>
		<div id="empList"></div>


		<div class="modal fade " id="empAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">사원등록</h5>
					</div>
					<div class="modal-body">
						<label>이름</label>
						<input id="empName" name="empName">
						<br>
						<label>부서</label>
						<select id="empDept" name="empDept">
							<option value="" selected>부서정보</option>
						</select>
						<br>
						<label>직급</label>
						<input id="empClass" name="empClass">
						<br>
						<label>연락처</label>
						<input id="empPhone" name="empPhone">
					</div>
					<div class="modal-footer">
						<button type="button" id="insertEmp" class="btn btn-primary">등록</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<script>
			// 부서정보 불러오기
			$.ajax({
				url: "/mdm/selectCodeDetail",
				data: {
					codeType: '001'
				},
				success: result => {
					$(result).each(function (idx, dept) {
						if (dept['codeName'] == '관리자') return;
						let optTag = $('<option/>');
						optTag.val(dept['codeId']);
						optTag.text(dept['codeName']);
						$('#deptInfo, #empDept').append(optTag);
					})
				},
				error: err => console.log(err)
			})

			var Grid = tui.Grid;

			// 사원테이블 헤더
			const grid = new Grid({
				el: document.getElementById('empList'),
				scrollX: false,
				rowHeaders: ['checkbox'],
				columns: [{
						header: 'ID',
						name: 'empId'
					},
					{
						header: '이름',
						name: 'empName'
					},
					{
						header: '부서',
						name: 'empDept'
					},
					{
						header: '직급',
						name: 'empClass'
					},
					{
						header: '연락처',
						name: 'empPhone'
					},
					{
						header: '초기화',
						name: '',
						width: 100
					},
				],
			});

			getEmpList();

			$('#deptInfo').on('change', function () {
				searchEmp();
			})

			$('#searchBtn').on('click', function () {
				searchEmp();
			})

			$('#searchName').on('keypress', function (ev) {
				if (ev.which == 13) {
					event.preventDefault();
					searchEmp();
				}
			})

			function getEmpList(empDept, empName) {
				$.ajax({
					url: '/mdm/selectEmpList',
					data: {
						empDept: empDept,
						empName: empName
					},
					success: result => {
						console.log(result)
						grid.resetData(eval(result));
					},
					error: err => console.log(err)
				})
			}

			function searchEmp() {
				let dept = $('#deptInfo').val();
				if ($('#searchName').val()) {
					let empName = $('#searchName').val()
					getEmpList(dept, empName);
				} else {
					getEmpList(dept);
				}
			}
			
			$('#insertEmp').on('click', insertEmp)

			function insertEmp() {
				let empInfo={};
				empInfo.empName = $('#empName').val();
				empInfo.empDept = $('#empDept').val();
				empInfo.empClass = $('#empClass').val();
				empInfo.empPhone = $('#empPhone').val();
				if(!empInfo.empName) {
					alert('이름을 입력하세요');
					return;
				}
				if(!empInfo.empDept) {
					alert('부서정보를 입력하세요');
					return;
				}
				if(!empInfo.empClass) {
					alert('직급을 입력하세요');
					return;
				}
				$.ajax({
					url: '/mdm/insertEmp',
					type: 'post',
					headers: {
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(empInfo),
					success: result => {
						//alert(result+ '건 삭제완료');	
						getEmpList();
					},
					error: err => console.log(err)
				})
				
				console.log(empInfo)
			}
		</script>
	</div>
</body>

</html>