<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@ckeditor/ckeditor5-ckfinder@40.0.0/src/index.min.js"></script>
	<style type="text/css">
		.ck .ck-content{
			height: 600px;
		}
	</style>
</head>
<body>
	<div layout:fragment="content">
		<div id="editor">
	   </div>
	    
		<script>
			ClassicEditor
				.create( document.querySelector( '#editor' ), {
					extraPlugins: [MyCustomUploadAdapterPlugin]
				} )
				.catch( error => {
				    console.error( error );
				} );
			
			
			function MyCustomUploadAdapterPlugin(editor) {
			    editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
			        return new UploadAdapter(loader)
			    }
			}
			
			class UploadAdapter {
			    constructor(loader) {
			        this.loader = loader;
			    }

			    upload() {
			        return this.loader.file.then( file => new Promise(((resolve, reject) => {
			            this._initRequest();
			            this._initListeners( resolve, reject, file );
			            this._sendRequest( file );
			        })))
			    }

			    _initRequest() {
			        const xhr = this.xhr = new XMLHttpRequest();
			        xhr.open('POST', '/mdm/upload', true);
			        xhr.responseType = 'json';
			    }

			    _initListeners(resolve, reject, file) {
			        const xhr = this.xhr;
			        const loader = this.loader;
			        const genericErrorText = '파일을 업로드 할 수 없습니다.'

			        xhr.addEventListener('error', () => {reject(genericErrorText)})
			        xhr.addEventListener('abort', () => reject())
			        xhr.addEventListener('load', () => {
			            const response = xhr.response
			            if(!response || response.error) {
			                return reject( response && response.error ? response.error.message : genericErrorText );
			            }

			            resolve({
			                default: response.url //업로드된 파일 주소
			            })
			        })
			    }

			    _sendRequest(file) {
			        const data = new FormData()
			        data.append('upload',file)
			        this.xhr.send(data)
			    }
			}
			
		</script>
	</div>
</body>
</html>