<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.input-group {
	margin-bottom: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-group-prepend{
	padding: 0;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="row mb-4">
			<h1>자재정보관리</h1>
		</div>
		<div class="row">
			<div class="col-7">
				<h2>자재 리스트</h2>
				<div class="input-group mb-3">
					<select class="custom-select col-2" id="searchMtlType">
				   	<option value="" selected>--</option>
				  	</select>
					<input type="text" class="form-control col-2 noGray" placeholder="자재명" id="searchMtlName">
					<div class="input-group-append">
				   	<button class="btn btn-outline-secondary" type="button" id="searchMtl">검색</button>
					</div>
				</div> 
				<div id="mtlGrid"></div>
			</div>	
			<div class="col"></div>	
			<div class="col-3">
				<h2>자재 정보</h2>
				<br>
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">자재코드</span>
				  	</div>
					<input type="text" class="form-control text-right col noGray" readonly id="mtlCode"> 
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">자재명*</span>
				  	</div>
					<input type="text" maxlength="12" class="form-control text-right col noGray" placeholder="자재명" id="mtlName">
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">분류*</span>
				  	</div>
						<select class="custom-select text-right col" id="mtlType">
						   <option value="" selected>--</option>
					  </select>
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">안전재고</span>
				  	</div>
					<input type="number" min="0" maxlength="5" oninput="maxLengthChk(this)"
						class="form-control text-right col noGray" placeholder="0" id="mtlSs">
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">단위</span>
				  	</div>
					<input type="text" maxlength="10" class="form-control text-right col noGray" placeholder="" id="mtlUnit">
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">사용여부</span>
				  	</div>
						<select class="custom-select text-right col" id="mtlUse">
						   <option value="Y" selected>Y</option>
						   <option value="N">N</option>
					  </select>
				</div>
				
				<div class="text-center">
					<button type="button" id="insertMtl" class="btn btn-primary">등록</button>
					<button type="button" id="resetMtl" class="btn btn-primary">초기화</button>
					<button type="button" id="deleteMtl" class="btn btn-primary">삭제</button>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<script>
			var Grid = tui.Grid;
			
			// 자재표
			const mtlGrid = new Grid({
				el: document.getElementById('mtlGrid'),
				scrollX: false,
				minBodyHeight: 400,
				pagination: true,
				pageOptions: {
					useClient: true,
					perPage: 10,
				},
				contextMenu: null,
				rowHeaders: ['rowNum'],
				columns: [{
					header: '자재코드',
					name: 'mtlCode'
				}, {
					header: '자재명',
					name: 'mtlName'					
				}, {
					header: '분류',
					name: 'mtlType'					
				}, {
					header: '안전재고',
					name: 'mtlSs',
					align: 'right'
				}, {
					header: '단위',
					name: 'mtlUnit'
				}, {
					header: '사용여부',
					name: 'mtlUse',
					align: 'center'
				}]
			});
			
			// 자재분류 불러오기
			$.ajax({
				url: "/mdm/selectCodeDetail",
				data: {
					codeType: '003'
				},
				success: result => {
					$(result).each(function (idx, dept) {
						let optTag = $('<option/>');
						optTag.val(dept['codeId']);
						optTag.text(dept['codeName']);
						$('#mtlType, #searchMtlType').append(optTag);
					})
				},
				error: err => console.log(err)
			})
			
			// 등록창 초기화
			$('#resetMtl').on('click', resetMtl)
			
			function resetMtl() {
				$('input').val('')
			}
			
			// 자재등록
			selectMtlList();
			
			$('#insertMtl').on('click', insertMtl)
			
			function insertMtl() {
				let vo = {};
				vo.mtlCode = $('#mtlCode').val();
				vo.mtlName = $('#mtlName').val();
				vo.mtlType = $('#mtlType').val();
				vo.mtlSs = $('#mtlSs').val();
				vo.mtlUnit = $('#mtlUnit').val();
				vo.mtlUse = $('#mtlUse').val();
				if(!vo.mtlName || !vo.mtlType){
					toastr.warning('필수값을 입력해 주세요')
					return
				}
				if(vo.mtlCode){
					// 코드있으면 수정
					$.ajax({
						url: '/mdm/updateMtl',
						method: 'post',
						contentType : 'application/json',
						data: JSON.stringify(vo),
						success: result =>{
							toastr.success(result);
							selectMtlList();
						}
					})
				} else {
					// 없으면 등록
					$.ajax({
						url: '/mdm/insertMtl',
						method: 'post',
						contentType : 'application/json',
						data: JSON.stringify(vo),
						success: result =>{
							toastr.success(result);
							selectMtlList();
							resetMtl()
						}
					})
				}
			}
			
			// 자재삭제
			$('#deleteMtl').on('click', deleteMtl)
			
			function deleteMtl() {
				let mtlCode = $('#mtlCode').val()
				if(!mtlCode){
					toastr.warning('선택된 자재가 없습니다.')
					return
				}
				Swal.fire({
					title: '삭제하시겠습니까?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: '삭제',
					cancelButtonText: '취소'
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
							url: '/mdm/deleteMtl',
							method: 'POST',
							data: {mtlCode : mtlCode},
							success: result => {
								Swal.fire({
									title: '삭제완료',
									icon: 'success',
									confirmButtonText: '확인'
								})
								selectMtlList();
								resetMtl();
							},
							error: err => console.log(err)
						})
					}
				})
			}
			
			$('#searchMtlType').on('change', searchMtl)
			
			$('#searchMtl').on('click', searchMtl)
			
			$('#searchMtlName').on('keypress', function (ev) {
				if (ev.which == 13) {
					event.preventDefault();
					searchMtl();
				}
			})
			
			// 자재검색
			function searchMtl() {
				let vo = {};
				vo.mtlType = $('#searchMtlType').val();
				vo.mtlName = $('#searchMtlName').val();
				console.log(vo)
				$.ajax({
					url: '/mdm/searchMtl',
					method: 'POST',
					contentType : 'application/json',
					data: JSON.stringify(vo),
					success: result => {
						console.log(result)
						mtlGrid.resetData(result)
					},
					error: err => console.log(err)
				})
			}
			
			// 자재단건조회
			mtlGrid.on('click', function (ev) {
				if (ev.rowKey == undefined) {
					return;
				}
				let mtlCode = mtlGrid.getValue(ev.rowKey, 'mtlCode')
				selectMtl(mtlCode)
			})
			
			function selectMtl(mtlCode) {
				$.ajax({
					url:'/mdm/selectMtl',
					data: {mtlCode : mtlCode},
					success: result => {
						$('#mtlCode').val(result.mtlCode)
						$('#mtlName').val(result.mtlName)
						$('#mtlType').val(result.mtlType)
						$('#mtlSs').val(result.mtlSs)
						$('#mtlUnit').val(result.mtlUnit)
						$('#mtlUse').val(result.mtlUse)
					}
				})
			}
			
			// 자재리스트 조회
			function selectMtlList(){
				$.ajax({
					url:'/mdm/selectMtlList',
					success: result =>{
						mtlGrid.resetData(result)
					}
				})
			}
			
			// input 글자수제한 
			function maxLengthChk(object){
			    if (object.value.length > object.maxLength){
			      object.value = object.value.slice(0, object.maxLength);
			    }    
			  }
		</script>
	</div>
</body>
</html>