<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.input-group {
	margin-bottom: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-group-prepend{
	padding: 0;
}

</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="row mb-4">
			<h1>제품정보관리</h1>
		</div>
		<div class="row">
			<div class="col-7">
				<h2>제품 리스트</h2>
				<div class="input-group mb-3">
					<select class="custom-select col-2" id="searchPrdtType">
				   	<option value="" selected>--</option>
				  	</select>
					<input type="text" class="form-control col-2 noGray" placeholder="제품명" id="searchPrdtName">
					<div class="input-group-append">
				   	<button class="btn btn-primary" type="button" id="searchPrdt"><i class="fas fa-search"></i></button>
					</div>
				</div> 
				<div id="prdtGrid" class="lightgrey"></div>
			</div>	
			<div class="col"></div>	
			<div class="col-3">
				<h2>제품 정보</h2>
				<br>
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">제품코드</span>
				  	</div>
					<input type="text" class="form-control text-right col noGray" readonly id="prdtCode"> 
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">제품명*</span>
				  	</div>
					<input type="text" maxlength="12" class="form-control text-right col noGray" placeholder="제품명" id="prdtName">
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">분류*</span>
				  	</div>
					<select class="custom-select text-right col" id="prdtType">
					   <option value="" selected>--</option>
					</select>
				</div>
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">안전재고</span>
				  	</div>
					<input type="number" min="0" maxlength="5" oninput="maxLengthChk(this)"
						class="form-control text-right col" placeholder="0" id="prdtSs">
				</div>
										
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">크기(cm)</span>
				  	</div>
					<input type="number" min="0" maxlength="5" oninput="maxLengthChk(this)"
						class="form-control text-right col" placeholder="가로" id="prdtSizeW">
					<input type="number" min="0" maxlength="5" oninput="maxLengthChk(this)"
						class="form-control text-right col" placeholder="세로" id="prdtSizeD">
					<input type="number" min="0" maxlength="5" oninput="maxLengthChk(this)"
						class="form-control text-right col" placeholder="높이" id="prdtSizeH">
				</div>
				
				<div class="input-group mb-4">
					<div class="input-group-prepend col-3">
				    	<span class="input-group-text col">사용여부</span>
				  	</div>
						<select class="custom-select text-right col" id="prdtUse">
						   <option value="Y" selected>Y</option>
						   <option value="N">N</option>
					  </select>
				</div>
				
				<div class="text-center">
					<button type="button" id="insertPrdt" class="btn btn-primary">등록</button>
					<button type="button" id="resetPrdt" class="btn btn-primary">초기화</button>
					<button type="button" id="deletePrdt" class="btn btn-primary">삭제</button>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<script>
			var Grid = tui.Grid;
			
			// 제품표
			const prdtGrid = new Grid({
				el: document.getElementById('prdtGrid'),
				scrollX: false,
				minBodyHeight: 400,
				pagination: true,
				pageOptions: {
					useClient: true,
					perPage: 10,
				},
				contextMenu: null,
				rowHeaders: ['rowNum'],
				columns: [{
					header: '제품코드',
					name: 'prdtCode'
				}, {
					header: '제품명',
					name: 'prdtName'					
				}, {
					header: '분류',
					name: 'prdtType'					
				}, {
					header: '안전재고',
					name: 'prdtSs'	,
					align: 'right'
				}, {
					header: '사용여부',
					name: 'prdtUse',
					align: 'center'
				}]
			});
			
			// 제품분류 불러오기
			$.ajax({
				url: "/mdm/selectCodeDetail",
				data: {
					codeType: '010'
				},
				success: result => {
					$(result).each(function (idx, dept) {
						let optTag = $('<option/>');
						optTag.val(dept['codeId']);
						optTag.text(dept['codeName']);
						$('#prdtType, #searchPrdtType').append(optTag);
					})
				},
				error: err => console.log(err)
			})
			
			selectPrdtList();
			
			$('#insertPrdt').on('click', insertPrdt)
			
			// 제품등록
			function insertPrdt() {
				let vo = {};
				let prdtSize = `${$('#prdtSizeW').val()}x${$('#prdtSizeD').val()}x${$('#prdtSizeH').val()}`
				vo.prdtCode = $('#prdtCode').val();
				vo.prdtName = $('#prdtName').val();
				vo.prdtType = $('#prdtType').val();
				vo.prdtSs = $('#prdtSs').val();
				vo.prdtUse = $('#prdtUse').val();
				vo.prdtSize = prdtSize
				if(!vo.prdtName || !vo.prdtType){
					toastr.warning('필수값을 입력해 주세요')
					return
				}
				if(vo.prdtCode){
					// 코드있으면 수정
					$.ajax({
						url: '/mdm/updatePrdt',
						method: 'post',
						contentType : 'application/json',
						data: JSON.stringify(vo),
						success: result =>{
							alert(result);
							selectPrdtList();
						}
					})
				} else {
					// 없으면 등록
					$.ajax({
						url: '/mdm/insertPrdt',
						method: 'post',
						contentType : 'application/json',
						data: JSON.stringify(vo),
						success: result =>{
							alert(result);
							selectPrdtList();
						}
					})
				}
				$('#prdtSizeW').val('');
				$('#prdtSizeD').val('');
				$('#prdtSizeH').val('');
				$('#prdtCode').val('');
				$('#prdtName').val('');
				$('#prdtType').val('');
				$('#prdtSs').val('');
				$('#prdtUse').val('');
			}
			
			$('#resetPrdt').on('click', resetPrdt)
			
			// 등록창 초기화
			function resetPrdt() {
				$('input').val('')
			}
			
			// 제품삭제
			$('#deletePrdt').on('click', deletePrdt)
			
			function deletePrdt() {
				let prdtCode = $('#prdtCode').val()
				if(!prdtCode){
					toastr.warning('선택된 제품이 없습니다.')
					return
				}
				Swal.fire({
					title: '삭제하시겠습니까?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: '삭제',
					cancelButtonText: '취소'
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
							url: '/mdm/deletePrdt',
							method: 'POST',
							data: {prdtCode : prdtCode},
							success: result => {
								Swal.fire({
									title: '삭제완료',
									icon: 'success',
									confirmButtonText: '확인'
								})
								selectPrdtList();
								resetPrdt();
							},
							error: err => console.log(err)
						})
					}
				})
			}
			
			$('#searchPrdtType').on('change', searchPrdt)
			
			$('#searchPrdt').on('click', searchPrdt)
			
			$('#searchPrdtName').on('keypress', function (ev) {
				if (ev.which == 13) {
					event.preventDefault();
					searchPrdt();
				}
			})
			
			// 제품검색
			function searchPrdt() {
				let vo = {};
				vo.prdtType = $('#searchPrdtType').val();
				vo.prdtName = $('#searchPrdtName').val();
				console.log(vo)
				$.ajax({
					url: '/mdm/searchPrdt',
					method: 'POST',
					contentType : 'application/json',
					data: JSON.stringify(vo),
					success: result => {
						console.log(result)
						prdtGrid.resetData(result)
						resetPrdt();
					},
					error: err => console.log(err)
				})
			}
			
			// 제품단건조회
			prdtGrid.on('click', function (ev) {
				if (ev.rowKey == undefined) {
					return;
				}
				let prdtCode = prdtGrid.getValue(ev.rowKey, 'prdtCode')
				selectPrdt(prdtCode)
			})
			
			function selectPrdt(prdtCode) {
				$.ajax({
					url:'/mdm/selectPrdt',
					data: {prdtCode : prdtCode},
					success: result => {
						$('#prdtCode').val(result.prdtCode)
						$('#prdtName').val(result.prdtName)
						$('#prdtType').val(result.prdtType)
						$('#prdtSs').val(result.prdtSs)
						$('#prdtUse').val(result.prdtUse)
						let prdt=[]
						if(result.prdtSize){
							prdt = result.prdtSize.split('x');
						}
							$('#prdtSizeW').val(prdt[0])
							$('#prdtSizeD').val(prdt[1])
							$('#prdtSizeH').val(prdt[2])
					}
				})
			}
			
			// 제품리스트 조회
			function selectPrdtList(){
				$.ajax({
					url:'/mdm/selectPrdtList',
					success: result =>{
						prdtGrid.resetData(result)
					}
				})
			}
			
			// input 글자수제한 
			function maxLengthChk(object){
			    if (object.value.length > object.maxLength){
			      object.value = object.value.slice(0, object.maxLength);
			    }    
			  }
		</script>
	</div>
</body>
</html>