<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SMARTREE</title>
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
<link href="../startbootstrap/css/kiosk.css" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/4791395687.js" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
<style>
</style>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <h1>생산키오스크</h1>
            <i class="fa-solid fa-house"></i>
        </div>
    </div>
	<div class="container">
	    <div class="button_container">
	        <div class="button_box">
               <button class="clear" id="prodProgressBtn"><i class="fa-solid fa-circle-play fa-2xl"></i><p>생산시작</p></button>
               <button class="calculate" id="prodSituation"><i class="fa-solid fa-circle-stop fa-2xl"></i><p>생산종료</p></button>
            </div>
        </div>
    </div>
<script>
	$('#prodProgressBtn').on('click',function(){
		$(location).attr('href', '/prod/prodProgress');
	})
	$('#prodSituation').on('click',function(){
		$(location).attr('href', '/prod/prodSituation');
	})
</script>
</body>
</html>