<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산지시조회</title>
</head>
<body>
	<div layout:fragment="content">
		<h2 style="display: inline-block;">생산지시조회</h2>
		<div style="float:right; margin-bottom: 10px">
			<div class="input-group" >
				<div style="font-size:20px; margin-top:4px; margin-right:10px;">	
					    <input type="radio" id="allInst" name="typeCheck" value="" checked />
					    <label for="allInst" class="mr-2">전체</label>
					 	<input type="radio" id="beforeInst" name="typeCheck" value="MA01" />
					    <label for="beforeInst" class="mr-2">생산전</label>
					    <input type="radio" id="afterInst" name="typeCheck" value="MA02"/>
					    <label for="afterInst" class="mr-2">완료</label>
					</div>
					<div class="form-outline">
						<input type="search" id="form1" class="form-control" placeholder="지시명 또는 담당자"/> 
					</div>
					<button type="button" class="btn btn-primary" id="searchBtn">
						<i class="fas fa-search"></i>
					</button>
			</div>
		</div>
		<div id="grid" style="height: 400px;"></div>
	<script>
		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			scrollX : false,
			scrollY : false,
			pageOptions : {
				perPage : 13,
				useClient : true
			},
			bodyHeight : 550,
			columns : [
					{
			          header: '지시코드',
			          name: 'prodInstCode',
			          hidden: true
			        },
			        {
			          header: '지시상세코드',
			          name: 'dtProdInstCode',
			          hidden: true
			        },
			        {
			          header: '계획코드',
			          name: 'prodPlanCode',
			          hidden: true
			        },
			        {
			          header: '지시명',
			          name: 'prodInstName'
			        },
			        {
			        	 header: '담당자',
			        	 name: 'prodInstManager'
			        },
			        {
			          header: '지시우선순위',
			          name: 'prodInstRank'
			        },
			        {
			          header: '제품코드',
			          name: 'prdtCode'
			        },
			        {
			          header: '제품명',
			          name: 'prdtName'
			        },
			        {
			          header: '지시량',
			          name: 'prodInstCnt'
			        },
			        {
			          header: '지시일자',
			          name: 'prodInstSdate'
			        },
			        {
			          header: '완료예정일자',
			          name: 'prodInstEdate'
			        },
			        {
			          header: '생산시작여부',
			          name: 'prcsStartYn'
			        }
			       
			]
		}) 
		$(document).ready(function (){
			getSelectInstList();
			
			$('#form1').on('keypress', function (ev) {
				if (ev.which == 13) {
					event.preventDefault();
					$('#searchBtn').click();
				}
			})
			
			$('#searchBtn').on('click',function(){
				let data={};
				data.prodInstName = $('#form1').val();
				data.prodInstManager = $('#form1').val();
				getSelectInstList(data);
			})
			
			function getSelectInstList(data){
				$.ajax({
					url : '/selectGetDtInst',
					method : 'get',
					data: data,
					success : function(result){
						for(let i = 0; i<result.length ; i++){
							if(result[i].prcsStartYn == 'y'){
								result[i].prcsStartYn = '완료';
							}else{
								result[i].prcsStartYn = '생산전';
							}
						}
							grid.resetData(result);
							console.log(result);
					},
					error : function(err){
						console.log(err);
					}
				})
			}
			$('#allInst').on('click',function(){
				getSelectInstList();
			});
			$('#beforeInst').on('click',function(){
				let data = {
						prcsStartYn : $('#beforeInst').val()
				};
				getSelectInstList(data);
			});
			$('#afterInst').on('click',function(){
				let data = {
						prcsStartYn : $('#afterInst').val()
				};
				getSelectInstList(data);
			});
		})
	</script>
	</div>
</body>
</html>