<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>SMARTREE</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 style="display: inline-block;">생산지시조회</h1>
		<div style="float:right; margin-bottom: 10px">
			<div class="input-group" >
				<div style="font-size:20px; margin-top:4px; margin-right:10px;">	
				    <input type="radio" id="allInst" name="typeCheck" value="" checked />
				    <label for="allInst" class="mr-2">전체</label>
				 	<input type="radio" id="beforeInst" name="typeCheck" value="MA01" />
				    <label for="beforeInst" class="mr-2">생산전</label>
				    <input type="radio" id="afterInst" name="typeCheck" value="MA02"/>
				    <label for="afterInst" class="mr-2">완료</label>
				</div>
				<div class="form-outline">
					<input type="search" id="form1" class="form-control" placeholder="지시명 또는 담당자"/> 
				</div>
				<button type="button" class="btn btn-primary mb-2" id="searchBtn">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		<div id="instGrid"></div>
		
		<div class="modal fade" tabindex="-1" role="dialog" id="dtModal">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">생산계획상세</h4>
						<button type="button" class="close" data-dismiss="modal"	aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="dtGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		
	<script>
		const instGrid = new tui.Grid({
			el : document.getElementById('instGrid'),
			scrollX : false,
			scrollY : false,
			rowHeaders:['rowNum'],
			pageOptions : {
				perPage : 13,
				useClient : true
			},
			bodyHeight : 560,
			columns : 
				[
					  {
			          header: '계획코드',
			          name: 'prodInstCode',
			          hidden: true
			        },
			        {
			          header: '계획명',
			          name: 'prodPlanName'
			        },
			        {
			          header: '지시명',
			          name: 'prodInstName'
			        },
			        {
			        	 header: '담당자',
			        	 name: 'prodInstManager',
			        	 width: 180
			        },
			        {
			          header: '지시일자',
			          name: 'prodInstSdate',
			          align: 'center',
			        	 width: 160
			        },
			        {
			          header: '시작예정일자',
			          name: 'prodInstSdate',
			          align: 'center',
			        	 width: 160
			        },
			        {
			          header: '완료예정일자',
			          name: 'prodInstEdate',
			          align: 'center',
			        	 width: 160
			        },
			        {
			          header: '생산여부',
			          name: 'prcsStartYn',
			          align: 'center',
			        	 width: 120
			        }
			       
			]
		}) 
		
		const dtGrid = new tui.Grid({
			el: document.getElementById('dtGrid'),
			scrollX: false,
			scrollY: false,
			pageOptions: {
				perPage: 5,
				useClient: true,
			},
			bodyHeight: 200,
			columns: [
				{
					header: '제품코드',
					name: 'prdtCode',
			      align: 'center'
				},
				{
					header: '제품명',
					name: 'prdtName',
				   align: 'center'
				},
				{
					header: '계획량',
					name: 'prodInstCnt',
					align: 'right'
				},
				{
					header: '우선순위',
					name: 'prodInstRank',
					align: 'right'
				}
			]
		});
		
		$(document).ready(function (){
			getSelectInstList();
			
			$('#form1').on('keypress', function (ev) {
				if (ev.which == 13) {
					event.preventDefault();
					$('#searchBtn').click();
				}
			})
			
			$('#searchBtn').on('click',function(){
				let data={};
				data.prodInstName = $('#form1').val();
				data.prodInstManager = $('#form1').val();
				getSelectInstList(data);
			})
			
			function getSelectInstList(data){
				$.ajax({
					url : '/selectGetDtInst',
					method : 'get',
					data: data,
					success : function(result){
						for(let i = 0; i<result.length ; i++){
							if(result[i].prcsStartYn == 'y'){
								result[i].prcsStartYn = '완료';
							}else{
								result[i].prcsStartYn = '생산전';
							}
						}
							instGrid.resetData(result);
					},
					error : function(err){
						console.log(err);
					}
				})
			}
			$('#allInst').on('click',function(){
				getSelectInstList();
			});
			$('#beforeInst').on('click',function(){
				let data = {
						prcsStartYn : $('#beforeInst').val()
				};
				getSelectInstList(data);
			});
			$('#afterInst').on('click',function(){
				let data = {
						prcsStartYn : $('#afterInst').val()
				};
				getSelectInstList(data);
			});
			
			instGrid.on('click', function(ev) {
				if(ev.rowKey == undefined){
					return
				}
				let instCode = instGrid.getValue(ev.rowKey,'prodInstCode')
				$.ajax({
					url: "/selectDtInstList",
					data:{
						prodInstCode : instCode
					},
					success: result => {
						console.log(result)
						dtGrid.resetData(result)
						$('#dtModal').modal('show')
						setTimeout(() => dtGrid.refreshLayout(), 200)
					},
					error: err => console.log(err)
				})
				
				
			})
			
			
		})
	</script>
	</div>
</body>
</html>