<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산지시조회</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>생산지시조회</h2>
		<div style="float:right; margin-bottom: 10px">
			<div class="input-group" >
				<div class="form-outline">
					<input type="search" id="form1" class="form-control" placeholder="지시명 또는 담당자"/> 
				</div>
				<button type="button" class="btn btn-primary" id="searchBtn">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		<div id="grid" style="height: 400px;"></div>
	<script>
		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			scrollX : false,
			scrollY : false,
			pageOptions : {
				perPage : 10,
				useClient : true
			},
			columns : [
					{
			          header: '지시코드',
			          name: 'prodInstCode',
			          hidden: true
			        },
			        {
			          header: '지시상세코드',
			          name: 'dtProdInstCode',
			          hidden: true
			        },
			        {
			          header: '계획코드',
			          name: 'prodPlanCode',
			          hidden: true
			        },
			        {
			          header: '지시명',
			          name: 'prodInstName'
			        },
			        {
			        	 header: '담당자',
			        	 name: 'prodInstManager'
			        },
			        {
			          header: '지시우선순위',
			          name: 'prodInstRank'
			        },
			        {
			          header: '제품코드',
			          name: 'prdtCode'
			        },
			        {
			          header: '제품명',
			          name: 'prdtName'
			        },
			        {
			          header: '지시량',
			          name: 'prodInstCnt'
			        },
			        {
			          header: '지시일자',
			          name: 'prodInstSdate'
			        },
			        {
			          header: '완료예정일자',
			          name: 'prodInstEdate'
			        }
			       
			]
		}) 
		$(document).ready(function (){
			getSelectInstList();
			
			$('#form1').on('keypress', function (ev) {
				if (ev.which == 13) {
					event.preventDefault();
					$('#searchBtn').click();
				}
			})
			
			$('#searchBtn').on('click',function(){
				let data={};
				data.prodInstName = $('#form1').val();
				data.prodInstManager = $('#form1').val();
				getSelectInstList(data);
			})
			
			function getSelectInstList(data){
				$.ajax({
					url : '/selectGetDtInst',
					method : 'get',
					data: data,
					success : function(result){
							grid.resetData(result);
							console.log(result);
					},
					error : function(err){
						console.log(err);
					}
				})
			}
			
		})
	</script>
	</div>
</body>
</html>