<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산계획관리</title>
</head>
<style>
</style>
<body>
	<div layout:fragment="content">
		<label>계획명 : </label> <input type="text" name="prodPlanName"
			id="prodPlanName"><br> <label>담당자 : </label> <input
			type="text" name="prodName" id="prodName"><br> <label>생산계획일자
			: </label> <input type="date" name="prodPlanDate" id="prodPlanDate">
		<label>생산시작일자 : </label> <input type="date" name="prodPlanSdate"
			id="prodPlanSdate"> <label>생산종료일자 : </label> <input
			type="date" name="prodPlanEdate" id="prodPlanEdate">
		<div class="btn-group" role="group" aria-label="Basic example"
			style="float: right; margin-bottom: 10px;">
			<button type="button" class="btn btn-primary" id="newBtn">새계획</button>
			<button type="button" class="btn btn-primary" id="resetBtn">초기화</button>
			<button type="button" class="btn btn-primary" id="loadOrders">
				주문서</button>
			<button type="button" class="btn btn-primary" id="prodListBtn">검색</button>
			<button type="button" class="btn btn-primary" id="saveBtn">저장</button>
			<button type="button" class="btn btn-primary">삭제</button>
		</div>
		<div id="grid" style="height: 400px;"></div>
		<div
			style="display: flex; flex-wrap: nowrap; justify-content: space-around; margin-top: 30px;">
			<span>
				<div id="grid2" style="width: 600px;"></div>
			</span> <span>
				<div id="grid3" style="width: 600px;"></div>
			</span>
		</div>

		<div class="modal fade" tabindex="-1" role="dialog" id="orderModal">
			<div class="modal-dialog modal-dialog-centered modal-xl"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">주문서 조회</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="grid4"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<div class="modal fade" tabindex="-1" role="dialog" id="prodModal">
			<div class="modal-dialog modal-dialog-centered modal-xl"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">생산계획 조회</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="grid5"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<script>
        let grid, grid2, grid3, grid4, grid5;
        const header = ['prodPlanName','prodPlanDate','prodPlanSdate','prodPlanEdate'];
        
        window.onload=function(){

	    const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      scrollX: false,
	      scrollY: false,
	      pageOptions: {
            perPage: 5,
            useClient: true,
          },
          rowHeaders : ["checkbox"],
	      columns: [
	        {
	          header: '제품명',
	          name: 'prdtName'
	        },
	        {
	          header: '주문수량',
	          name: 'orderDtCnt'
	        },
	        {
	          header: '계획수량',
	          name: 'prodPlanCnt',
	          editor : 'text'
	        },
	        
	        {
	          header: '순위',
	          name: 'prodRank',
	          editor : 'text'
	        },
	        {
	          header: '비고',
	          name: 'prodPlanNote',
	          editor : 'text'
	        },
	      ]
	    });
	    const grid2 = new tui.Grid({
		      el: document.getElementById('grid2'),
		      scrollX: false,
		      scrollY: false,
		      pageOptions: {
	            perPage: 5,
	            useClient: true,
	          },
		      columns: [
		        {
		          header: '제품코드',
		          name: 'prdtCode'
		        },
		        {
		          header: '제품명',
		          name: 'prdtName'
		        },
		        {
		          header: '수량',
		          name: 'prdtSs'
		        },
		      ]
		    });
	    const grid3 = new tui.Grid({
		      el: document.getElementById('grid3'),
		      scrollX: false,
		      scrollY: false,
		      pageOptions: {
	            perPage: 5,
	            useClient: true,
	          },
		      columns: [
		        {
		          header: '자재코드',
		          name: ''
		        },
		        {
		          header: '자재명',
		          name: ''
		        },
		        {
		          header: '재고수량',
		          name: ''
		        },
		      ]
		    });
	    const grid4 = new tui.Grid({
		      el: document.getElementById('grid4'),
		      scrollX: false,
		      scrollY: false,
		      pageOptions: {
	            perPage: 5,
	            useClient: true,
	          },
		      columns: [{
	              header: '주문코드',
	              name: 'orderCode'
	            },
	            {
	              header: '주문일자',
	              name: 'orderDate'
	            },
	            {
	              header: '납기일자',
	              name: 'orderDate',

	            },
	            {
	              header: '담당자',
	              name: 'orderManager'
	            }
	          ]
		    });
	    const grid5 = new tui.Grid({
		      el: document.getElementById('grid5'),
		      scrollX: false,
		      scrollY: false,
		      pageOptions: {
	            perPage: 5,
	            useClient: true,
	          },
		      columns: [
	    	  	{
	              header: '계획코드',
	              name: 'prodPlanCode'
	            },
		    	{
	              header: '계획명',
	              name: 'prodPlanName'
	            },
	            {
	              header: '담당자',
	              name: 'prodName'
	            },
	            {
	              header: '생산계획일자',
	              name: 'prodPlanDate',

	            }
	          ]
		    });
		$.ajax({
			url:'/',
			method:'get',
	    dataType:'json',
			success:function(result){
				grid.resetData(result);
				grid2.resetData(result);
				grid3.resetData(result);
			},
			error:function(err){
				console.log(err);
			}
		})
		
		// 주문서 모달창
		$('#loadOrders').on('click', loadOrders);
		
		function loadOrders() {
			$.ajax({
				url:'/orderAndPrdt',
				method:'get',
		    	dataType:'json',
				success:function(result){
					grid4.resetData(result);
					$("#orderModal").modal('show');
					setTimeout(() => grid4.refreshLayout(), 200);
					
				},
				error:function(err){
					console.log(err);
				}
			})
		}
		
		// 검색버튼 -> 생산계획에 들어갔는 항목들
		$('#prodListBtn').on('click', prodIngList);
		
		function prodIngList(){
			$.ajax({
				url:'/selectProdPlan',
				method:'get',
		    	dataType:'json',
				success:function(result){
					grid5.resetData(result);
					$("#prodModal").modal('show');
					setTimeout(() => grid5.refreshLayout(), 200);
				},
				error:function(err){
					console.log(err);
				}
			})
		}
		//페이지 초기화버튼
		$('#resetBtn').on('click', resetList)
		
			function resetList(){
				var data = grid.getData();
	
				grid.resetData([]);
				grid2.resetData([]);
				grid3.resetData([]);
				$('#prodPlanName').val('');
				$('#prodPlanDate').val('');
				$('#prodPlanSdate').val('');
				$('#prodPlanEdate').val('');
				$('#prodName').val('');
			}
		
			// 저장 버튼
			$('#saveBtn').on('click',function(){
				var data = {};
				data.list = grid.getCheckedRows();
				data.vo = {
					prodPlanName : $('#prodPlanName').val(),
					prodPlanDate : $('#prodPlanDate').val(),
					prodPlanSdate : $('#prodPlanSdate').val(),
					prodPlanEdate : $('#prodPlanEdate').val(),
					prodName : $('#prodName').val(),
					orderCode : data.list[0].orderCode
				}
			
			$.ajax({
	      		url:'/insertProdPlan',
	      		method: 'post',
				dataType: 'json',
				contentType : 'application/json',
				data : JSON.stringify(data),
				
	      		success:function(result){
	      			alert("저장완료");
	      			resetList();
	      		},
	      		error:function(err){
	      			console.log(err)
	      		}
    		})
    		
		})

		// 주문서 모달창 더블클릭
		grid4.on('dblclick',(ev)=>{
			if(ev.rowKey==undefined){
        		return;
        	}
			let data = grid4.getValue(ev.rowKey,'orderDtCode');
			let data1 = grid4.getValue(ev.rowKey,'orderCode');
			
			console.log(data)
		 	$.ajax({
	      		url:'/orderDtList',
	      		method:'get',
	      		data : {
	      			orderDtCode : data,
	      			orderCode : data1
	      		},
      		success:function(result){
   	            $("#orderModal").modal('hide');
   	         	grid.resetData(result)
   	         	
      		},
      		error:function(err){
      			console.log(err)
      		}
    		})
		})
		// 검색 모달창 더블클릭
		grid5.on('dblclick',(ev)=>{
			if(ev.rowKey==undefined){
        		return;
        	}
			let data = grid5.getValue(ev.rowKey, 'prodPlanCode');
			let data1 = grid5.getValue(ev.rowKey,'orderDtCnt');
			
			console.log(data)
		 	$.ajax({
	      		url:'/selectProdListView',
	      		method:'get',
	      		data : {
	      			prodPlanCode : data,
	      			orderDtCnt : data1
	      		},
      		success:function(result){
   	            $("#prodModal").modal('hide');
   	         	$('#prodPlanName').val(result[0].prodPlanName);
				$('#prodPlanDate').val(result[0].prodPlanDate);
				$('#prodPlanSdate').val(result[0].prodPlanSdate);
				$('#prodPlanEdate').val(result[0].prodPlanEdate);
				$('#prodName').val(result[0].prodName);
   	         	grid.resetData(result);
   	         	
      		},
      		error:function(err){
      			console.log(err)
      		}
    		})
		})
	  }
	  
    </script>
	</div>
</body>
</html>