<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>공정실적조회</title>
</head>
<body>
	<div layout:fragment="content">
		<h1 style="display: inline-block;">공정실적조회</h1>
		<div style="float:right; margin-bottom: 10px">
			<div class="input-group" >
				<div style="font-size:20px; margin-top:4px; margin-right:10px;">	
					    <input type="radio" id="allProcess" name="typeCheck" value="" checked />
					    <label for="allProcess" class="mr-2">전체</label>
					 	 <input type="radio" id="todayProcess" name="typeCheck" value="MA01" />
					    <label for="todayProcess" class="mr-2">오늘</label>
					    <input type="radio" id="sevenProcess" name="typeCheck" value="MA02"/>
					    <label for="sevenProcess" class="mr-2">일주일</label>
					    <input type="radio" id="monthProcess" name="typeCheck" value="MA03"/>
					    <label for="monthProcess" class="mr-2">한달</label>
				</div>
				<div class="form-outline">
					<input type="search" id="form1" class="form-control" placeholder="계획명 또는 담당자" />
				</div>
				<button type="button" class="btn btn-primary mb-2" id="searchBtn">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>
		<div id="resultGrid"></div>

		<script>
			const resultGrid = new tui.Grid({
				el: document.getElementById('resultGrid'),
				scrollX: false,
				scrollY: false,
				pageOptions : {
					perPage : 13,
					useClient : true
				},
				bodyHeight : 550,
				columns: [
					{
					  header: '생산지시코드',
					  name: 'prodInstCode',
					  hidden: true
					},
					{
					  header: '지시명',
					  name: 'prodInstName'
					},
					{
					  header: '제품명',
					  name: 'prdtName',
					  width: 220,
					  align: 'center'
					},
					{
					  header: '공정기준코드',
					  name: 'prcsStdCode',
					  hidden: true
					},
					{
					  header: '담당자',
					  name: 'manager',
					  width: 170
					},
					{
					  header: '공정명',
					  name: 'prcsName',
					  width: 150,
					  align: 'center'
					},
					{
					  header: '시작일시',
					  name: 'prcsSdate',
					  align: 'center'
					},
					{
					  header: '종료일시',
					  name: 'prcsEdate',
					  align: 'center'
					},
					{
					  header: '생산량',
					  name: 'prdtCnt',
					  width: 120,
					  align: 'right'
					},
					{
					  header: '불량량',
					  name: 'errCnt',
					  width: 120,
					  align: 'right'
					},
					{
					  header: '합격량',
					  name: 'passCnt',
					  width: 120,
					  align: 'right'
					}
				]
			});
			selectPrcsResult();
			
			function selectPrcsResult(){
				let searchDate = $('input[name="typeCheck"]:checked').val()
				let searchName = $('#form1').val()
				
				let data ={
					searchDate : searchDate,
					searchName : searchName
				}
				
				$.ajax({
					url:'/selectPrcsResult',
					method:'GET',
					data:data,
					success: result => {
						console.log(result)
						resultGrid.resetData(eval(result))
					},
					error: err => console.log(err)
				})
			}
			
			
		$('#allProcess').on('click',function(){
			selectPrcsResult();
		});
		$('#todayProcess').on('click',function(){
			selectPrcsResult();
		});
		$('#sevenProcess').on('click',function(){
			selectPrcsResult();
		});
		$('#monthProcess').on('click',function(){
			selectPrcsResult();
		});
		
		$('#searchBtn').on('click', function(){
			selectPrcsResult();
		})
		
		$('#form1').on('keypress', function (ev) {
				if (ev.which == 13) {
					event.preventDefault();
					
					selectPrcsResult();
				}
			})
		</script>
	</div>
</body>
</html>