<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산지시관리</title>
</head>
<style>
</style>
<body>
	<div layout:fragment="content">
	<h1>생산지시관리</h1>
		<label>담당자</label> <input type="text" name="prodInstManager" id="prodInstManager" th:value="${session.loginMember.empName}">
		<label class="ml-2">생산지시일자</label> <input style="margin-left: 28.25px" type="date" name="prodInstDate" id="prodInstDate"><br> 
		<label>지시명</label> <input type="text" name="prodInstName" id="prodInstName">
		<label class="ml-2">생산예상시작일자</label> <input type="date" name="prodInstSdate" id="prodInstSdate"> 
		<label class="ml-2">생산예상종료일자</label> <input type="date" name="prodInstEdate" id="prodInstEdate">
			<input type="hidden" name="prodInstCode" id="prodInstCode">
		<div class="btn-group" role="group" aria-label="Basic example"
			style="float: right; margin-bottom: 10px;">
			<button type="button" class="btn btn-primary" id="resetBtn">초기화</button>
			<button type="button" class="btn btn-primary" id="prodListBtn">계획내역</button>
			<button type="button" class="btn btn-primary" id="prodInstListBtn">지시내역</button>
			<button type="button" class="btn btn-primary" id="saveBtn">저장</button>
			<button type="button" class="btn btn-primary" id="delBtn">삭제</button>
		</div>
		<div style="display: flex; flex-wrap: nowrap; justify-content: space-between; margin-top: 30px;">
			<div id="grid" style="width: 1100px;"></div>
			<div id="grid3" style="width: 500px;"></div>
		</div>
		
		<div class="modal fade" tabindex="-1" role="dialog" id="prodInstModal">
			<div class="modal-dialog modal-dialog-centered modal-xl"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">생산지시 조회</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="grid4"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		
		<div class="modal fade" tabindex="-1" role="dialog" id="prodModal">
			<div class="modal-dialog modal-dialog-centered modal-xl"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">생산계획 조회</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="grid5"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		
		<div class="modal fade" tabindex="-1" role="dialog" id="mtlModal">
			<div class="modal-dialog modal-dialog-centered modal-xl"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">재고목록</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="mtlLotGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" id="saveMtlCnt" class="btn btn-default">저장</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<script>
		let mtlCntVO = {} 
		let mtlCode
		let mtlRow
		let holdingChk ={}
		let prodPlanCode
		let manager = `[[${session.loginMember.empName}]]`;

		let rowNum;			// 해당 rowNum 값을 담기위해 만든 변수
		let getProdPlanCode;
		let grid,  grid3, grid4, grid5, grid6;
		toastr.options = {
	  			  positionClass: "toast-top-center",
	  			  escapeHtml: true,
	  			  closeButton: true,
	 			  newestOnTop: false,
	  			  timeOut: 1250
	  			};
        const header = ['prodInstName','prodInstManager','prodInstDate','prodInstSdate', 'prodInstEdate', 'prodInstCode'];
        
        window.onload=function(){
	    const grid = new tui.Grid({
	    	// 생산계획 등록및 수정 그리드
	      	el: document.getElementById('grid'),
	      	scrollX: false,
	      	scrollY: false,
	      	bodyHeight : 400,
          	rowHeaders : ["checkbox"],
	      	columns: [
	      		{
		          header: '생산지시상세코드',
		          name: 'dtProdInstCode',
		          hidden : true
		        },
		        {
		          header: '생산코드',
		          name: 'prodPlanCode',
		          hidden : true
		        },
		        {
		          header: '제품명',
		          name: 'prdtName'
		        },
		        {
		          header: '계획명',
		          name: 'prodPlanName'
		        },
		        {
		          header: '계획량',
		          name: 'prodPlanCnt'
		        },
		        {
		          header: '우선순위',
		          name: 'prodInstRank',
		          editor : 'text'
		        },
		        {
		          header: '지시량',
		          name: 'prodInstCnt',
	        	  editor : 'text'
		        },
		        {
		          header: '계획-지시수량차',
		          name: 'prodinstIncompCnt',
		          hidden: true
		        },
		        
		        {
		          header: '생산지시완료여부',
		          name: 'prodInstYn',
		          hidden : true
		        },
	      	]
	    	});
	    
	    const grid3 = new tui.Grid({
	    	// 하단 자재 그리드
			el: document.getElementById('grid3'),
	      	scrollX: false,
	      	scrollY: false,
	      	bodyHeight : 400,
	      	pageOptions: {
            	perPage: 10,
            	useClient: true,
          	},
	      	columns: [
	        	{
		          header: '자재코드',
		          name: 'mtlCode',
		          hidden: true
		        },
		        {
		          header: '자재명',
		          name: 'mtlName'
		        },
		        {
		          header: '요구량',
		          name: 'mtlTotalNeed'
		        },
		        {
		          header: '홀드수량',
		          name: 'holdingCnt',
		          validation:{
			          validatorFn: (value, row, columnName) => Number(value) === Number(row['mtlTotalNeed']),
		        	  	 required: true
		          }
		        }
	      	]
	    });
	    const grid4 = new tui.Grid({
	    	// 생산계획 모달 그리드
	      	el: document.getElementById('grid4'),
	      	scrollX: false,
	      	scrollY: false,
	      	pageOptions: {
	            perPage: 5,
	            useClient: true,
          	},
	      	columns: [
    	  		{
	              header: '지시코드',
	              name: 'prodInstCode',
	              hidden : true
	            },
	            {
	              header: '지시명', 
	              name: 'prodInstName'
	            },
	            {
	              header: '지시담당자', 
	              name: 'prodInstManager'
	            },
	            {
	              header: '지시일자', 
	              name: 'prodInstDate'
	            },
	            {
	              header: '지시예상시작일자', 
	              name: 'prodInstSdate'
	            },
	            {
	              header: '지시예상종료일자', 
	              name: 'prodInstEdate'
	            }
   	       ]
 	   });
	    const grid5 = new tui.Grid({
	    	// 생산계획 모달 그리드
	      	el: document.getElementById('grid5'),
	      	scrollX: false,
	      	scrollY: false,
	      	pageOptions: {
	            perPage: 5,
	            useClient: true,
          	},
	      	columns: [
	    	  		{
	              header: '계획코드',
	              name: 'prodPlanCode'
	            },
		    		{
	              header: '계획명',
	              name: 'prodPlanName'
	            },
	            {
	              header: '담당자',
	              name: 'prodName'
	            },
	            {
	              header: '생산계획일자',
	              name: 'prodPlanDate',
	            }
   	       ]
 	   });
	    
	    // mtlLot그리드
	    const mtlLotGrid = new tui.Grid({
			el : document.getElementById('mtlLotGrid'),
			scrollX : false,
			scrollY : false,
			rowHeaders : [ "rowNum" ],
			pageOptions: {
	            perPage: 5,
	            useClient: true,
	          },
			columns : [ {
				header : '자재LOT',
				name : 'mtlLotNum',
				sortable: true,
			    sortingType: 'asc'
			}, {
				header : '자재코드',
				name : 'mtlCode',
				hidden: true
			}, {
				header : '자재이름',
				name : 'mtlName'
			}, {
				header : '자재입고수량',
				name : 'mtlInCnt',
				hidden: true
			}, {
				header : '사용가능수량',
				name : 'mtlUse'
			}, {
				header : '홀드수량',
				name : 'holdingCnt',
				editor: {
					type: 'text'
				},
				validation:{
					dataType: 'number',
		         validatorFn: (value, row, columnName) => ((value <= row['mtlUse']) && value >= 0),
	        	  	required: true
	         }
			}  ],
			summary: {
			  height: 40,
			  position: 'bottom', // or 'top'
			  columnContent: {
				  holdingCnt: {
			      template: function(valueMap) {
			        return `TOTAL: ${valueMap.sum}`;
			      }
			    }
			  }
			}
		});
		
		// 생산계획 버튼 모달
		$('#prodListBtn').on('click', prodIngList);
		
		function prodIngList(){
			$.ajax({
				url:'/selectProdPlan',
				method:'get',
		    	dataType:'json',
				success:function(result){
					grid5.resetData(result);
					$("#prodModal").modal('show');
					setTimeout(() => grid5.refreshLayout(), 200);
				},
				error:function(err){
					console.log(err);
				}
			})
		}
		// 생산지시 버튼 모달
		$('#prodInstListBtn').on('click', prodInstIngList);
		
		function prodInstIngList(){
			$.ajax({
				url:'/selectProdInst',
				method:'get',
		    	dataType:'json',
				success:function(result){
					grid4.resetData(result);
					$("#prodInstModal").modal('show');
					setTimeout(() => grid4.refreshLayout(), 200);
				},
				error:function(err){
					console.log(err);
				}
			})
		}
		//페이지 초기화버튼
		$('#resetBtn').on('click', resetList)
		
		function resetList(){
			var data = grid.getData();

			holdingChk = {}
			grid.clear()
			grid3.clear()
			$('#prodInstCode').val('');
			$('#prodInstName').val('');
			$('#prodInstManager').val(manager);
			$('#prodInstDate').val('');
			$('#prodInstSdate').val('');
			$('#prodInstEdate').val('');
			bir.value = today;
			mtlCntVO = {}
		}
		
			// 저장 버튼
			$('#saveBtn').on('click',function(){
				grid.blur();
				if(grid3.validate().length){
					toastr.warning('값을 확인해주세요')
					return
				}
				var data = {};
				data.list = grid.getData();
				data.vo = {
					prodInstCode : $('#prodInstCode').val(),
					prodInstName : $('#prodInstName').val(),
					prodInstManager : $('#prodInstManager').val(),
					prodInstDate : $('#prodInstDate').val(),
					prodInstSdate : $('#prodInstSdate').val(),
					prodInstEdate : $('#prodInstEdate').val(),
					prodPlanCode : data.list[0].prodPlanCode
				}
				data.hlist = []
				console.log(mtlCntVO)
				for(let mtl in mtlCntVO){
					for(let obj of mtlCntVO[mtl]){
						if(obj.holdingCnt==0) continue;
						data.hlist.push(obj)
					}
				}
				mtlCntVO = {};
			if(data.vo.prodInstCode != ''){
				$.ajax({
		      		url:'/updateProdInst',
		      		method: 'post',
					dataType: 'json',
					contentType : 'application/json',
					data : JSON.stringify(data),
		      		success:function(result){
		      			toastr.success("수정완료");
		      			resetList();
		      		},
		      		error:function(err){
		      			console.log(err)
		      		}
	    		})
			}
		
			else {
				data.list = grid.getData();
				$.ajax({
		      		url:'/insertProdInst',
		      		method: 'post',
					dataType: 'json',
					contentType : 'application/json',
					data : JSON.stringify(data),
					
		      		success:function(result){
		      			toastr.success("저장완료");
		      			resetList();
		      		},
		      		error:function(err){
		      			console.log(err)
		      		}
	    		})
			}
		})
		// 삭제버튼
		$('#delBtn').on('click', delBtnFunc);
			
		function delBtnFunc(){
			var data = {};
			data.list = grid.getCheckedRows();
			data.vo = {
				prodInstCode : $('#prodInstCode').val(),
				prodInstName : $('#prodInstName').val(),
				prodInstManager : $('#prodInstManager').val(),
				prodInstDate : $('#prodInstDate').val(),
				prodInstSdate : $('#prodInstSdate').val(),
				prodInstEdate : $('#prodInstEdate').val()
			}
			
			if(data.list.length == grid.getData().length){
				$.ajax({
					url:'/deleteProdInst',
					method: 'post',
					dataType: 'json',
					contentType : 'application/json',
					data : JSON.stringify(data),
					success:function(result){
						console.log(data)
						console.log(prodPlanCode)
						$.ajax({
							url:'/updateInstYn',
							method: 'post',
							data : {
								prodPlanCode : prodPlanCode
							}
						})
						toastr.success("전체삭제완료");
						resetList();
					},
					error:function(err){
						console.log(err)
					}
				})
			} else {
				data.vo.prodInstCode = null;
				$.ajax({
					url:'/deleteProdInst',
					method: 'post',
					dataType: 'json',
					contentType : 'application/json',
					data : JSON.stringify(data),
					success:function(result){
						toastr.success(result + " 건 삭제완료");
						resetList();
					},
					error:function(err){
						console.log(err)
					}
				})
			}
		}
		// 생산지시 모달창 더블클릭
		grid4.on('dblclick',(ev)=>{
			if(ev.rowKey == undefined){
				return;
			}
			prodPlanCode = grid4.getValue(ev.rowKey, 'prodPlanCode');
			$.ajax({
				url : '/selectGetProdInst',
				method : 'get',
				data : { prodPlanCode : prodPlanCode },
				success : function(result){
					resetList()
					$('#prodInstCode').val(result.list[0].prodInstCode),
					$('#prodInstName').val(result.list[0].prodInstName),
					$('#prodInstManager').val(result.list[0].prodInstManager),
					$('#prodInstDate').val(result.list[0].prodInstDate),
					$('#prodInstSdate').val(result.list[0].prodInstSdate),
					$('#prodInstEdate').val(result.list[0].prodInstEdate)
					grid.resetData(result.list);
				 	$("#prodInstModal").modal('hide');	
					mtlNeed = result.mtlNeed
					
					// 중복제거후 자재표에 넣기
					mtlZero = result.mtlNeed.filter(function(item1, idx1){
						return result.mtlNeed.findIndex(function(item2, idx2){
							return item1.mtlCode == item2.mtlCode
						}) == idx1;
					})
					grid3.resetData(mtlZero)
					mtlCalc();
					$.ajax({
						url: '/selectHolding',
						data: {
							prodInstCode : result.list[0].prodInstCode
						},
						success: result => {
							for(let mtl of result){
								let code = mtl.mtlCode
								
								// 홀드수량 불러오기
								if(!mtlCntVO[code]){
									mtlCntVO[code] = [mtl]
								} else{
									mtlCntVO[code].push(mtl)
								}
								let data = grid3.getData()
								for(let obj of data){
									if(obj.mtlCode === code){
										obj.holdingCnt += mtl.holdingCnt
										holdingChk[mtl.mtlLotNum] = mtl.holdingCnt
									}
								}
								grid3.resetData(data)
								console.log(mtlCntVO)
							}
						},
						error: err => console.log(err)
					})
				},
				error : function(err){
					console.log(err);
				}
			})
		})
		
		let mtlNeed = [];
		let mtlZero = [];
		// 생산계획 모달창 더블클릭
		grid5.on('dblclick',(ev)=>{
			if(ev.rowKey == undefined){
				return;
			}
			prodPlanCode = grid5.getValue(ev.rowKey, 'prodPlanCode');
			 
			$.ajax({
				url : '/selectGetProdPlan',
				method : 'get',
				data : { prodPlanCode : prodPlanCode },
				success : function(result){
					resetList()
					getProdPlanCode = result.list[0].prodPlanCode;
					$('#prodInstSdate').val(result.list[0].prodPlanSdate),
					$('#prodInstEdate').val(result.list[0].prodPlanEdate)
					mtlNeed = result.mtlNeed
					
					// 중복제거후 자재표에 넣기
					mtlZero = result.mtlNeed.filter(function(item1, idx1){
						return result.mtlNeed.findIndex(function(item2, idx2){
							return item1.mtlCode == item2.mtlCode
						}) == idx1;
					})
					grid3.resetData(mtlZero)
					grid.resetData(result.list);
				 	$("#prodModal").modal('hide');	
				},
				error : function(err){
					console.log(err);
				}
			})
		})
		
		grid.on('afterChange', (ev) => {
			mtlCalc();
		})
		
		// 재고소요량 계산
		function mtlCalc() {
			grid3.resetData(mtlZero)
			let mtlNeedList = {}
			for(let data of grid.getData()){
				for(let need of mtlNeed){
					if(data.prdtCode === need.prdtCode){
						//console.log(need.mtlCode+' '+data.prodInstCnt*need.mtlNeed)
						if(!mtlNeedList[need.mtlCode]){
							mtlNeedList[need.mtlCode] = data.prodInstCnt*need.mtlNeed
						} else{
							mtlNeedList[need.mtlCode] += data.prodInstCnt*need.mtlNeed
						}
					}
				}
			}
			for(let data of grid3.getData()){
				grid3.setValue(data.rowKey,"mtlTotalNeed",mtlNeedList[data.mtlCode])
			}
		}
		
				

		
		// getLotMtl
		grid3.on('click', (ev) => {
			if(ev.rowKey == undefined || ev.columnName != "holdingCnt"){
				return;
			}
			mtlRow = ev.rowKey
			mtlCode = grid3.getValue(mtlRow, 'mtlCode')
			$.ajax({
				url: '/getLotMtl',
				type: 'POST',
				data:{
					mtlCode: mtlCode,
					prodInstCode: $('#prodInstCode').val()
				},
				success: result => {
					$(result).each(function (idx, obj) {
						obj.mtlUse = obj.mtlLotCnt - obj.holdingSum
						
						for(let mtl in mtlCntVO){
							//if(mtl == mtlCode){
								for(let obj2 of mtlCntVO[mtl]){
									if(obj.mtlLotNum == obj2.mtlLotNum) {
										obj.holdingCnt = obj2.holdingCnt
										if(holdingChk[obj2.mtlLotNum]){
											obj.mtlUse += holdingChk[obj2.mtlLotNum]
										}
									}
								}
							//}
						}
						
					})
					$('#mtlModal').modal('show')
					mtlLotGrid.resetData(eval(result))
					setTimeout(() => mtlLotGrid.refreshLayout(), 200);
				},
				error: err => console.log(err)
			})
		})
		
	
		
		$('#saveMtlCnt').on('click', () => {
			mtlLotGrid.blur();
			if(mtlLotGrid.validate().length){
				toastr.warning('값을 확인해주세요')
				return
			}
			let totalCnt = mtlLotGrid.getSummaryValues('holdingCnt').sum
			let needCnt = grid3.getValue(mtlRow,'mtlTotalNeed')
			if(needCnt != totalCnt) {
				toastr.warning('요구량과 같지 않습니다')
				return
			}
			mtlCntVO[mtlCode] = mtlLotGrid.getData()
			grid3.setValue(mtlRow,'holdingCnt', totalCnt)
			$('#mtlModal').modal('hide')
		})
		
		// 오늘날짜 input에 넣기
		today = new Date();
		// console.log("today.toISOString() >>>" + today.toISOString());
		today = today.toISOString().slice(0, 10);
		// console.log("today >>>> " + today);
		bir = document.getElementById("prodInstDate");
		bir.value = today;

	};
	  
    </script>
	</div>
</body>
</html>