<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>생산계획관리</title>
</head>
<style>
</style>
<body>
	<div layout:fragment="content">
		<h2>생산계획관리</h2>
		<label>계획명 : </label> <input type="text" name="prodPlanName"
			id="prodPlanName"><br> <label>담당자 : </label> <input
			type="text" name="prodName" id="prodName"><br> <label>생산계획일자
			: </label> <input type="date" name="prodPlanDate" id="prodPlanDate">
		<label>생산예상시작일자 : </label> <input type="date" name="prodPlanSdate"
			id="prodPlanSdate"> <label>생산예상종료일자 : </label> <input
			type="date" name="prodPlanEdate" id="prodPlanEdate"> <input
			type="hidden" name="prodPlanCode" id="prodPlanCode">
		<div class="btn-group" role="group" aria-label="Basic example"
			style="float: right; margin-bottom: 10px;">
			<button type="button" class="btn btn-primary" id="insertListBtn">새계획</button>
			<button type="button" class="btn btn-primary" id="resetBtn">초기화</button>
			<button type="button" class="btn btn-primary" id="loadOrders">
				주문서</button>
			<button type="button" class="btn btn-primary" id="prodListBtn">검색</button>
			<button type="button" class="btn btn-primary" id="saveBtn">저장</button>
			<button type="button" class="btn btn-primary" id="delBtn">삭제</button>
		</div>
		<div id="grid"></div>

		<div class="modal fade" tabindex="-1" role="dialog" id="orderModal">
			<div class="modal-dialog modal-dialog-centered modal-xl"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">주문서 조회</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="grid4"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<div class="modal fade" tabindex="-1" role="dialog" id="prodModal">
			<div class="modal-dialog modal-dialog-centered modal-xl"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">생산계획 조회</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="grid5"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<div class="modal fade" tabindex="-1" role="dialog" id="prdtModal">
			<div class="modal-dialog modal-dialog-centered modal-xl"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">제품 조회</h4>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div id="grid6"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<script>
		let dtPPCode = [];	// prodPlanCode 담을 변수
		let rowNum;			// 해당 rowNum 값을 담기위해 만든 변수
		let grid, grid2, grid3, grid4, grid5, grid6;
        const header = ['prodPlanName','prodPlanDate','prodPlanSdate','prodPlanEdate'];
        toastr.options = {
	  			  positionClass: "toast-top-center",
	  			  escapeHtml: true,
	  			  closeButton: true,
	 			  newestOnTop: false,
	  			  timeOut: 1250
	  			};
        window.onload=function(){
	    const grid = new tui.Grid({
	    	// 생산계획 등록및 수정 그리드
	      	el: document.getElementById('grid'),
	      	scrollX: false,
	      	scrollY: false,
          	bodyHeight : 400,
          	rowHeaders : ["checkbox"],
	      	columns: [
		        {
		          header: '제품명',
		          name: 'prdtName'
		        },
		        {
		          header: '주문수량',
		          name: 'orderDtCnt'
		        },
		        {
		          header: '계획수량',
		          name: 'prodPlanCnt',
		          editor : 'text'
		        },
		        
		        {
		          header: '순위',
		          name: 'prodRank',
		          editor : 'text'
		        },
		        {
		          header: '비고',
		          name: 'prodPlanNote',
		          editor : 'text'
		        },
	      	]
	    	});
	    
	    
	    const grid4 = new tui.Grid({
	    	// 주문서 모달 그리드
			el: document.getElementById('grid4'),
	      	scrollX: false,
	      	scrollY: false,
			pageOptions: {
            	perPage: 5,
	            useClient: true,
          	},
	      	columns: [{
            	header: '주문코드',
              	name: 'orderCode'
            	},
            	{
	              header: '주문일자',
	              name: 'orderDate'
	            },
	            {
	              header: '납기일자',
	              name: 'orderDate',
	
	            },
	            {
	              header: '담당자',
	              name: 'orderManager'
	            }
          	]
	    });
	    const grid5 = new tui.Grid({
	    	// 생산계획 모달 그리드
	      	el: document.getElementById('grid5'),
	      	scrollX: false,
	      	scrollY: false,
	      	pageOptions: {
	            perPage: 5,
	            useClient: true,
          	},
	      	columns: [
    	  		{
	              header: '계획코드',
	              name: 'prodPlanCode'
	            },
		    	{
	              header: '계획명',
	              name: 'prodPlanName'
	            },
	            {
	              header: '담당자',
	              name: 'prodName'
	            },
	            {
	              header: '생산계획일자',
	              name: 'prodPlanDate',
	            }
   	       ]
 	   });
	    const grid6 = new tui.Grid({
	    	// 새계획눌렀을때 제품 그리드
		      el: document.getElementById('grid6'),
		      scrollX: false,
		      scrollY: false,
		      pageOptions: {
	            perPage: 5,
	            useClient: true,
	          },
	          columns: [
				{
					header: '계획코드',
					name: 'prodPlanCode',
					hidden : true
				},
				{
					header: '제품코드',
					name: 'prdtCode',
				},
				{
					header: '제품명',
					name: 'prdtName',
				},
				{
					header: '분류',
					name: 'prdtType',
				},
			]
	    });
	    
		//제품코드가져오기
	    function selectPrdtList(){
			$.ajax({
				url:'/mdm/selectPrdtList',
				success: result =>{
					grid2.resetData(result)
				}
			})
		}
	    
	    
		// 주문서 모달창
		$('#loadOrders').on('click', loadOrders);
		
		function loadOrders() {
			$.ajax({
				url:'/orderAndPrdt',
				method:'get',
		    	dataType:'json',
				success:function(result){
					grid4.resetData(result);
					$("#orderModal").modal('show');
					setTimeout(() => grid4.refreshLayout(), 200);
					
				},
				error:function(err){
					console.log(err);
				}
			})
		}
		
		// 검색버튼 -> 생산계획에 들어갔는 항목들
		$('#prodListBtn').on('click', prodIngList);
		
		function prodIngList(){
			$.ajax({
				url:'/selectProdPlan',
				method:'get',
		    	dataType:'json',
				success:function(result){
					grid5.resetData(result);
					$("#prodModal").modal('show');
					setTimeout(() => grid5.refreshLayout(), 200);
				},
				error:function(err){
					console.log(err);
				}
			})
		}
		//페이지 초기화버튼
		$('#resetBtn').on('click', resetList)
		
		function resetList(){

			grid.clear()
			$('#prodPlanCode').val('');
			$('#prodPlanName').val('');
			$('#prodPlanDate').val('');
			$('#prodPlanSdate').val('');
			$('#prodPlanEdate').val('');
			$('#prodName').val('');
			bir.value = today;
		}
		
			// 저장 버튼
			$('#saveBtn').on('click',function(){
				grid.blur();
				var data = {};
				data.list = grid.getData();
				data.vo = {
					prodPlanName : $('#prodPlanName').val(),
					prodPlanDate : $('#prodPlanDate').val(),
					prodPlanSdate : $('#prodPlanSdate').val(),
					prodPlanEdate : $('#prodPlanEdate').val(),
					prodName : $('#prodName').val(),
					orderCode : data.list[0].orderCode,
					prodPlanCode : $('#prodPlanCode').val()
				}
				console.log(data);
				console.log(data.vo.prodPlanCode);
				console.log(data.vo.prodPlanCode != '');
				
			if(data.vo.prodPlanCode != ''){
				$.ajax({
		      		url:'/insertAndUpdate',
		      		method: 'post',
					dataType: 'json',
					contentType : 'application/json',
					data : JSON.stringify(data),
		      		success:function(result){
		      			toastr.success("등록및 수정완료");
		      			resetList();
		      		},
		      		error:function(err){
		      			console.log(err)
		      		}
	    		})
			}
		
			else {
				data.list = grid.getData();
				console.log(data);
				$.ajax({
		      		url:'/insertProdPlan',
		      		method: 'post',
					dataType: 'json',
					contentType : 'application/json',
					data : JSON.stringify(data),
					
		      		success:function(result){
		      			toastr.success("저장완료");
		      			resetList();
		      		},
		      		error:function(err){
		      			console.log(err)
		      		}
	    		})
			}
		})
		// 삭제버튼
		$('#delBtn').on('click', delBtnFunc);
			
		function delBtnFunc(){
			var data = {};
			data.list = grid.getCheckedRows();
			data.vo = {
				prodPlanName : $('#prodPlanName').val(),
				prodPlanDate : $('#prodPlanDate').val(),
				prodPlanSdate : $('#prodPlanSdate').val(),
				prodPlanEdate : $('#prodPlanEdate').val(),
				prodName : $('#prodName').val(),
				orderCode : data.list[0].orderCode,
				prodPlanCode : data.list[0].prodPlanCode
			}
			
			if(data.list.length == grid.getData().length){
				$.ajax({
					url:'/deleteProdPlan',
					method: 'post',
					dataType: 'json',
					contentType : 'application/json',
					data : JSON.stringify(data),
					success:function(result){
						toastr.success("전체삭제완료");
						resetList();
					},
					error:function(err){
						console.log(err)
					}
				})
			} else {
				// 삭제 SQL에 WHERE prod_plan_code =  #{prodPlanCode} 라고 했기때문에
				// prodPlanCode = null 을 주고 똑같은 url을 타도 else에는 단건 삭제가 된다.
				data.vo.prodPlanCode = null;
				$.ajax({
					url:'/deleteProdPlan',
					method: 'post',
					dataType: 'json',
					contentType : 'application/json',
					data : JSON.stringify(data),
					success:function(result){
						toastr.success(result + " 건 삭제완료");
						grid.removeRows(grid.getCheckedRowKeys())
					},
					error:function(err){
						console.log(err)
					}
				})
			}
		}
		
		// 주문서 모달창 더블클릭
		grid4.on('dblclick',(ev)=>{
			if(ev.rowKey==undefined){
        		return;
        	}
			let data = grid4.getValue(ev.rowKey,'orderDtCode');
			let data1 = grid4.getValue(ev.rowKey,'orderCode');
			
		 	$.ajax({
	      		url:'/orderDtList',
	      		method:'get',
	      		data : {
	      			orderDtCode : data,
	      			orderCode : data1
	      		},
      		success:function(result){
      			
   	            $("#orderModal").modal('hide');
   	         	grid.resetData(result)
   	         	console.log(result)
   	         	
      		},
      		error:function(err){
      			console.log(err)
      		}
    		})
		})
		// 검색 모달창 더블클릭
		grid5.on('dblclick',(ev)=>{
			if(ev.rowKey==undefined){
        		return;
        	}
			let prodPlanCode = grid5.getValue(ev.rowKey, 'prodPlanCode');
			let orderCode = grid5.getValue(ev.rowKey, 'orderCode');
		 	$.ajax({
	      		url:'/selectProdListView',
	      		method:'get',
	      		data : {
	      			prodPlanCode : prodPlanCode,
	      			orderCode : orderCode
	      		},
      		success:function(result){
				dtPPCode = result;
				console.log(result)
				$('#prodPlanCode').val(result[0].prodPlanCode);
   	         	$('#prodPlanName').val(result[0].prodPlanName);
				$('#prodPlanDate').val(result[0].prodPlanDate);
				$('#prodPlanSdate').val(result[0].prodPlanSdate);
				$('#prodPlanEdate').val(result[0].prodPlanEdate);
				$('#prodName').val(result[0].prodName);
   	         	grid.resetData(result);
   	            $("#prodModal").modal('hide');
   	            
      		},
      		error:function(err){
      			console.log(err)
      		}
    		})
		})
		// 새계획
		$('#insertListBtn').on('click', function() {
			grid.appendRow()
		});
		//제품 클릭모달이벤트
		grid.on('click',(ev)=>{
			if(ev.rowKey == undefined){
				return;
			}
			if(ev.columnName != 'prdtCode' && ev.columnName !='prdtName'){
				return;	
			}
			rowNum = ev.rowKey;
			$.ajax({
				url:'/prdtList',
				method:'GET',
				success:function(result){
					grid6.resetData(result);
					setTimeout(() => grid6.refreshLayout(), 200);
					$('#prdtModal').modal('show');
					
				},
				error:function(err){
					console.log(err)
				}
			})
		})
		//제품 더블클릭 이벤트
		grid6.on('dblclick',(ev)=>{
			if(ev.rowKey==undefined){
        		return;
        	}
			
			let data = grid6.getData()[ev.rowKey]
			
			data.prodPlanCode = $('#prodPlanCode').val();
			//data.rowKey = rowNum
			console.log(data)
			 let check = true; 
			 grid.getData().forEach((order) => {
						if(order.prdtCode == data.prdtCode) {
							toastr.warning('이미 같은 제품이 있습니다.')
							check=false;
							return;
						}
				})
			if(check){
				grid.setRow(rowNum,data)
				$('#prdtModal').modal('hide');
			}

		});
		// 오늘날짜 input에 넣기
		today = new Date();
		console.log("today.toISOString() >>>" + today.toISOString());
		today = today.toISOString().slice(0, 10);
		console.log("today >>>> " + today);
		bir = document.getElementById("prodPlanDate");
		bir.value = today;
		
		
	};
	  
    </script>
	</div>
</body>
</html>