<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
<title>생산현황모니터링</title>
</head>
<body>
<div layout:fragment="content">
<h1>생산현황모니터링</h1>
<div id="chart"></div>
<script>
	var prodAllData;
	var prodData1;
	var prodData2;
	var prodData3;
	$(document).ready(function () {
		
		$.ajax({
	        url:'/getChartData',
	        method:'GET',
	        success: handleChartData,
	        error: function(err){
	            console.log(err);
	        }
	    });
		
		 function handleChartData(result) {
			 
			prodAllData = result;
	        prodData1 = prodAllData[0].prdtProdCnt;
	        prodData2 = prodAllData[1].prdtProdCnt;
	        prodData3 = prodAllData[2].prdtProdCnt;
	        console.log(prodAllData);
	        
	        //제품별재고 ajax
	        $.ajax({
	        	url:'/getPrdtChartData',
	        	method:'GET',
	        	success:function(result){
	        		console.log(result)
	        		let chartData=[];
	        		for(let i =0;i<result.length;i++){
	        			
	        			chartData.push(result[i].prdtName);
	        		}
	        		const Chart = toastui.Chart;
	    			const el = document.getElementById('chart');
	    			const data = {
	    			  categories: chartData,
	    			  series: [
	    			    {
	    			      name: '진행중',
	    			      data: [prodData1, prodData2, prodData3],
	    			    },
	    			    {
	    			      name: '완제품재고',
	    			      data: [100, 100, 50],
	    			    },
	    			  ],
	    			};
	    			const options = {
	    			  chart: { 
	    				  width: 1000
	    				  ,height: 400
	    				  ,title: {
	    				      text: '제품별생산현황',
	    				      align: 'center'
	    				    }
	    				  ,chart: {
	    				    animation: true
	    				    }
	    				  },
	    			};
	    			const chart = Chart.columnChart({el, data, options});
	        	},
	        	error:function(err){
	        		console.log(err);
	        	}
	        })
	        
		 }
		
		
	})
	
	
	
</script>
</div>
</body>
</html>