<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.smartree.business.mapper.BusinessMapper">
  <!-- 주문서조회 -->
  	<select id="selectOrderList" resultType="BusinessVO">
  		select o.order_code , b.bp_code , b.bp_name , o.order_date , o.dod_date , o.dod_state , o.order_manager
  		  from orders o join business_partner b
  		  				on o.bp_code = b.bp_code
  		  <where>
		 	<if test="bpName != null">	 	
		 		b.bp_name like '%'||#{bpName}||'%'
		 	</if>
		 	<if test="orderDate != null ">
		       	and trunc(o.order_date) = trunc(#{orderDate})
		 	</if>
		       <if test="dodDate!= null ">
		       	and trunc(o.dod_date) = trunc(#{dodDate}) 
		       </if>	
		</where>
  	</select>
  	<!-- 출고 전 주문서조회 -->
  		<select id="selectOrderBfOutList" resultType="BusinessVO">
  			select o.order_code , b.bp_code , b.bp_name , o.order_date , o.dod_date , o.dod_state , o.order_manager
  		  	  from orders o join business_partner b
  		  				on o.bp_code = b.bp_code  	
  		  <where>
  		  		dod_state = '납기전'
		 	<if test="bpName != null">	 	
		 		and b.bp_name like '%'||#{bpName}||'%'
		 	</if>
		 	<if test="orderDate != null ">
		       	and trunc(o.order_date) = trunc(#{orderDate})
		 	</if>
		       <if test="dodDate!= null ">
		       	and trunc(o.dod_date) = trunc(#{dodDate}) 
		       </if>	
		</where>
  		</select>
  	<!-- 기출고 주문서조회 -->
  	<select id="searchFinOrder" resultType="BusinessVO">
  		select o.order_code , b.bp_code , b.bp_name , o.order_date , o.dod_date , o.dod_state , o.order_manager
  		  	  from orders o join business_partner b
  		  				on o.bp_code = b.bp_code  	
  		  <where>
  		  		dod_state = '출고완료'
		 	<if test="orderCode != null">	 	
		 		and o.order_code like '%'||#{orderCode}||'%'
		 	</if>
		 	<if test="orderDate != null ">
		       	and trunc(o.order_date) = trunc(#{orderDate})
		 	</if>
		       <if test="dodDate!= null ">
		       	and trunc(o.dod_date) = trunc(#{dodDate}) 
		       </if>	
		</where>
  	</select>
  	<!-- 주문서상세조회 -->
  	<select id="selectOrderDtList" resultType="BusinessVO">
 		select a.*, a.order_dt_cnt - prdt_out_cnt as prdt_left_cnt 
 		  from (       
				         select o.order_code , d.order_dt_code , p.prdt_name , p.prdt_code, d.order_dt_cnt , o.dod_date , o.bp_code 
				       				 , o.order_date, nvl((select sum(prdt_out_cnt) 
							                           from prdt_out p join prdt_out_list pol 
							                                        on p.prdt_out_code = pol.prdt_out_code 
							                          where order_dt_code = d.order_dt_code),0) as prdt_out_cnt 
        				   from orders o join dt_order d 
				                    on o.order_code = d.order_code 
				                    join prdt_table p 
                    				on d.prdt_code = p.prdt_code
					 	  where o.order_code = #{orderCode}) a
  	</select>
  	
  	<!-- 주문서 상세 함께조회 -->
  	<!--  <select id="clickOrder" resultType="BusinessVO">
  		select o.order_code , o.bp_code , b.bp_name , o.dod_date , o.order_manager , d.order_dt_code , d.prdt_code , p.prdt_name , d.order_dt_cnt
		from orders o 
		        join dt_order d 
		            on o.order_code = d.order_code
		        join business_partner b 
		            on o.bp_code = b.bp_code
		        join prdt_table p 
		            on d.prdt_code = p.prdt_code
		where o.order_code = #{orderCode}
  	</select>-->
  	
  	
  	<!-- 제품검색 -->
  	
<!--   	<select id="getOrder" resultType="BusinessVO">
  		select o.order_code , b.bp_code , b.bp_name , o.order_date , o.dod_date , o.order_manager
  		  from orders o join business_partner b
  		  				on o.bp_code = b.bp_code
		<where>
		 	<if test="orderCode != null">	 	
		 		o.order_code like '%'||#{orderCode}||'%'
		 	</if>
		 	<if test="orderDate != null ">
		       	and trunc(o.order_date) = trunc(#{orderDate})
		 	</if>
		       <if test="dodDate!= null ">
		       	and trunc(o.dod_date) = trunc(#{dodDate}) 
		       </if>	
		</where>
  	</select> -->
  	
  	<!-- 주문등록 -->
  	<insert id="insertOrder" parameterType="BusinessVO">
  	<selectKey keyProperty="orderCode" resultType="String" order="BEFORE">
  		select 'ORD' || LPAD(order_code_seq.NEXTVAL, 7, '0') as orderCode from dual
  	</selectKey>
  		insert into orders (order_code , bp_code , order_date , order_manager , dod_date )
  		values(
  			#{orderCode}
  			,#{bpCode}
  			,#{orderDate}
  			,#{orderManager}
  			,#{dodDate}
  		)
  	</insert>
  	
  	<!-- 주문상세등록 -->
  	<insert id="insertDtOrder" parameterType="BusinessVO">
  		insert into dt_order 
  		values (
  			'ODC'|| LPAD(order_dt_code_seq.NEXTVAL , 7 , '0')
  			,#{prdtCode}
  			,#{orderDtCnt}
  			,#{orderCode}
  			,#{orderDtPrice}
  		)
  	</insert>
  	
  	<!-- 주문수정 -->
  	<update id="updateOrder" parameterType="BusinessVO">
	  	update orders 
		   set bp_code = #{bpCode},
	    		order_date = #{orderDate},
	    		dod_date = #{dodDate},
	    		order_manager = #{orderManager}
		 where order_code = #{orderCode}
  	</update>
  	
  	<!-- 주문상세수정 -->
  	<update id="updateDtOrder" parameterType="BusinessVO">
	  	update dt_order
		   set prdt_code = #{prdtCode},
	    		order_dt_cnt = #{orderDtCnt}
		 where order_dt_code = #{orderDtCode}
  	</update>
  	
  	
   	<!-- 주문상세추가등록,수정 -->
 	<insert id="insertNewDtOrder" parameterType="BusinessVO">

	  	{call p_dt_order(
	  		#{orderDtCode},
	  		#{prdtCode},
	  		#{orderDtCnt},
	  		#{orderCode}
	  	)}
  	</insert> 
  	
  	<!-- 주문서삭제 -->
  	<delete id="deleteOrder" parameterType="BusinessVO">
  		delete from orders
  		where order_code = #{orderCode}
  	</delete>
  	<!-- 주문서상세삭제(전체삭제) -->
  	<delete id="deleteAllDtOrder" parameterType="BusinessVO">
  		delete from dt_order
  		where order_code = #{orderCode}
  	</delete>
  	
  	<!-- 주문서상세삭제(한건삭제) -->
  	<delete id="deleteDtOrder" parameterType="BusinessVO">
  		delete from dt_order
  		where order_dt_code = #{orderDtCode}
  	</delete>
  	
  	<!-- 거래처목록 -->
  	<select id="selectBpList" resultType="BpVO">
  		select bp_code , bp_name , bp_main, get_common(bp_type, '005') bp_type
		  from business_partner
		  <where>
		  		bp_type = 'BP02'
		  	<if test="bpCode != null">
		  		and bp_code = #{bpCode}
		  	</if>
		  </where>
  	</select>
  	
  	<!-- 제품목록 -->
  	<select id="selectPrdtList" resultType="BpVO">
  		select prdt_code , prdt_name , prdt_type 
  		from prdt_table
  		<where>
  			<if test="prdtCode != null">
  				prdt_code = #{prdtCode}
  			</if>
  		</where>
  	</select>
  	
  	<!-- 완제품재고조회 -->
  	<select id="selectFinPrdt" resultType="FinPrdtVO">
  		select p.prdt_name , p.prdt_code  , sum(f.prdt_cnt) prdt_sum , p.prdt_ss
		  from fin_prdt f join prdt_table p 
		        on f.prdt_code = p.prdt_code
	  group by p.prdt_name, p.prdt_code,  p.prdt_ss
  	</select>
  	
  	<!-- lot별 완제품조회 -->
  	<select id="selectFinLotPrdt" resultType="FinPrdtVO">
  		select f.prdt_lot_no , f.prdt_code , p.prdt_name , f.prdt_cnt , f.prdt_recieve_date 
		  from fin_prdt f join prdt_table p
		    		on f.prdt_code = p.prdt_code		    			
		 where f.prdt_code = #{prdtCode}
		 order by f.prdt_recieve_date desc
  	</select>
  	<!-- 완제품조회 (출고시 수량 0인것들 안보이게 )  -->
  	<select id="selectFinLotOutPrdt" resultType="FinPrdtVO">
  	<![CDATA[
  		select f.prdt_lot_no , f.prdt_code , p.prdt_name , f.prdt_cnt , f.prdt_recieve_date 
		  from fin_prdt f join prdt_table p
		    		on f.prdt_code = p.prdt_code		    			
		 where f.prdt_code = #{prdtCode} and f.prdt_cnt > 0
	]]>
  	</select>
  	
  	<!-- 완제품조건검색 -->
  	<select id="prdtSearchList" resultType="FinPrdtVO">
  		
  		select f.prdt_lot_no , f.prdt_code , p.prdt_name  , f.prdt_cnt , f.prdt_recieve_date
  		  from fin_prdt f join prdt_table p
		    		on f.prdt_code = p.prdt_code
		<where>
		 	<if test="prdtName != null">	 	
		 		p.prdt_name like '%'||#{prdtName}||'%'
		 	</if>
		 	<if test="prdtLotNo != null ">
		       	and f.prdt_lot_no like '%'||#{prdtLotNo}||'%'
		 	</if> 	
		</where>
  	</select>
  	
  	<!-- 제품출고 -->
  		<insert id="insertPrdtOut" parameterType="FinPrdtVO">
	  	<selectKey keyProperty="prdtOutCode" resultType="String" order="BEFORE">
	  		select 'POT'|| LPAD(prdt_out_seq.NEXTVAL , 7 , '0') as prdtOutCode from dual
	  	</selectKey>
  			insert into prdt_out
			values(
				    #{prdtOutCode},
				    #{prdtOutDate},
				    #{prdtOutManager},
				    #{orderDtCode}
				  )
  		</insert>
  		
  	<!-- 제품상세출고 -->
  		<insert id="insertPrdtDtOut" parameterType="FinPrdtVO">
  			insert into prdt_out_list
  			values(
  					'POD'|| LPAD(prdt_dt_out_seq.NEXTVAL , 7 , '0'),
  					#{prdtLotNo},
  					#{prdtOutCnt},
  					#{prdtOutCode}
  					)
  		</insert>
  		
  		<!-- 제품출고시 재고 update -->
  		<update id="updatePrdtOut" parameterType="FinPrdtVO">
  			update fin_prdt 
			   set prdt_cnt = prdt_cnt - #{prdtOutCnt}
			 where prdt_lot_no = #{prdtLotNo}
  		</update>
  		
  		<!-- 제품출고완료시 update -->
  		<update id="prdtFinOut"  parameterType="BusinessVO">
  			update orders
  			   set dod_state = '출고완료'
  			 where order_code = #{orderCode}
  		</update>
  		
  		<!-- 출고조회 -->
  	<select id="prdtOutList" resultType="FinPrdtVO">
  		select * 
  		from prdt_out
  		<where>
  			<if test="orderDtCode != null">
  				order_dt_code like '%'||#{orderDtCode}||'%'
  			</if>
  			<if test="prdtOutDate != null">
  				and trunc(prdt_out_date) =trunc(#{prdtOutDate})
  			</if>
  		</where>
  	</select>
  	<!-- 출고상세조회 -->
  	<select id="prdtOutDtList" resultType="FinPrdtVO">
  		select p.prdt_dt_out_code , p.prdt_lot_no  , f.prdt_code , pt.prdt_name , p.prdt_out_cnt 
		  from prdt_out_list p join fin_prdt f
		                    on p.prdt_lot_no = f.prdt_lot_no
		                    join prdt_table pt 
		                    on f.prdt_code = pt.prdt_code
		 where p.prdt_out_code = #{prdtOutCode}
  	</select>
  	<!-- 입고처리 -->
  	<insert id="recievePrdt" parameterType="FinPrdtVO">
  		<selectKey keyProperty="prdtLotNo" resultType="String" order="BEFORE">
	  		select 'PLN'|| LPAD(prdt_recieve_seq.NEXTVAL , 7 , '0') as prdtLotNo from dual
	  	</selectKey>
	  	insert into fin_prdt(prdt_lot_no , prdt_code , prdt_recieve_cnt , prdt_recieve_date , prdt_recieve_manager , prdt_chk_code , prdt_cnt)
	  	values(
	  		#{prdtLotNo},
	  		#{prdtCode},
	  		#{prdtRecieveCnt},
	  		#{prdtRecieveDate},
	  		#{prdtRecieveManager},
	  		#{prdtChkCode},
	  		#{prdtCnt}
	  	)
  	</insert>
  	
  	<!-- 입고처리시 상태바꾸기 -->
  	<update id="updatePrdt" parameterType="FinPrdtVO">
	  	 update prdt_chk
			set prdt_fin_chk = '입고완료'
			where prdt_chk_code = #{prdtChkCode}
  	</update>
  	<!-- 입고조회 -->
  	<select id="prdtRecieveList" resultType="FinPrdtVO">
  		select f.prdt_lot_no , f.prdt_code , p.prdt_name , f.prdt_recieve_cnt , f.prdt_recieve_date , f.prdt_recieve_manager , f.prdt_chk_code
  		from fin_prdt f join prdt_table p
                        on f.prdt_code = p.prdt_code 
  		<where>
  			<if test="prdtName != null">
  				prdt_name like '%'||#{prdtName}||'%'
  			</if>
  			<if test="prdtRecieveDate != null">
  				and trunc(prdt_recieve_date) = trunc(#{prdtRecieveDate})
  			</if>
  		</where>
  		order by f.prdt_recieve_date desc
  	</select>
  	
  	<!-- 출고취소 -->
  	<insert id="cancleOutPrdt" parameterType="BusinessVO">
  		{call p_cancle_out(
	  		#{orderDtCode}
	  	)}
  	</insert>
  	
  	<!-- 입고취소 -->
  	<delete id="cancleRecivePrdt" parameterType="FinPrdtVO">
  		delete from fin_prdt
  		where prdt_lot_no = #{prdtLotNo}
  	</delete>
  	
  	<!-- 입고취소 시 검사테이블 입고상태변경 -->
  	<update id="updateChkState" parameterType="FinPrdtVO">
  		 update prdt_chk
			set prdt_fin_chk = '입고전'
		  where prdt_chk_code = #{prdtChkCode}
  	</update>
 
  	
  </mapper>