<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.smartree.business.mapper.BusinessMapper">
  <!-- 주문서조회 -->
  	<select id="selectOrderList" resultType="BusinessVO">
  		select o.order_code , b.bp_code , b.bp_name , o.order_date , o.dod_date , o.dod_state , o.order_manager
  		  from orders o join business_partner b
  		  				on o.bp_code = b.bp_code
  	</select>
  	
  	<!-- 주문서상세조회 -->
  	<select id="selectOrderDtList" resultType="BusinessVO">
	  	select o.order_code , d.order_dt_code , p.prdt_name , p.prdt_code, d.order_dt_cnt , o.dod_date 
		  from orders o join dt_order d on o.order_code = d.order_code
		              join prdt_table p on d.prdt_code = p.prdt_code
		 where o.order_code = #{orderCode}
  	</select>
  	
  	<!-- 주문서 상세 함께조회 -->
  	<!--  <select id="clickOrder" resultType="BusinessVO">
  		select o.order_code , o.bp_code , b.bp_name , o.dod_date , o.order_manager , d.order_dt_code , d.prdt_code , p.prdt_name , d.order_dt_cnt
		from orders o 
		        join dt_order d 
		            on o.order_code = d.order_code
		        join business_partner b 
		            on o.bp_code = b.bp_code
		        join prdt_table p 
		            on d.prdt_code = p.prdt_code
		where o.order_code = #{orderCode}
  	</select>-->
  	
  	
  	<!-- 제품검색 -->
  	
  	<select id="getOrder" resultType="BusinessVO">
  		select o.order_code , b.bp_code , b.bp_name , o.order_date , o.dod_date , o.order_manager
  		  from orders o join business_partner b
  		  				on o.bp_code = b.bp_code
		<where>
		 	<if test="orderCode != null">	 	
		 		o.order_code like '%'||#{orderCode}||'%'
		 	</if>
		 	<if test="orderDate != null ">
		       	and trunc(o.order_date) = trunc(#{orderDate})
		 	</if>
		       <if test="dodDate!= null ">
		       	and trunc(o.dod_date) = trunc(#{dodDate}) 
		       </if>	
		</where>
  	</select>
  	
  	<!-- 주문등록 -->
  	<insert id="insertOrder" parameterType="BusinessVO">
  	<selectKey keyProperty="orderCode" resultType="String" order="BEFORE">
  		select 'ORD' || LPAD(order_code_seq.NEXTVAL, 7, '0') as orderCode from dual
  	</selectKey>
  		insert into orders (order_code , bp_code , order_date , order_manager , dod_date )
  		values(
  			#{orderCode}
  			,#{bpCode}
  			,#{orderDate}
  			,#{orderManager}
  			,#{dodDate}
  		)
  	</insert>
  	
  	<!-- 주문상세등록 -->
  	<insert id="insertDtOrder" parameterType="BusinessVO">
  		insert into dt_order 
  		values (
  			'ODC'|| LPAD(order_dt_code_seq.NEXTVAL , 7 , '0')
  			,#{prdtCode}
  			,#{orderDtCnt}
  			,#{orderCode}
  		)
  	</insert>
  	
  	<!-- 거래처목록 -->
  	<select id="selectBpList" resultType="BpVO">
  		select bp_code , bp_name , bp_type , bp_main
		  from business_partner
		  <where>
		  	<if test="bpCode != null">
		  		bp_code = #{bpCode}
		  	</if>
		  </where>
  	</select>
  	
  	<!-- 제품목록 -->
  	<select id="selectPrdtList" resultType="BpVO">
  		select prdt_code , prdt_name , prdt_type , prdt_unit
  		from prdt_table
  		<where>
  			<if test="prdtCode != null">
  				prdt_code = #{prdtCode}
  			</if>
  		</where>
  	</select>
  </mapper>