<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.smartree.check.mapper.CheckMapper">
  
  	<!-- 제품목록 -->
  	<select id="selectPrdtList" resultType="BpVO">
  		select prdt_code , prdt_name , prdt_type
  		from prdt_table
  		<where>
  			<if test="prdtCode != null">
  				prdt_code = #{prdtCode}
  			</if>
  		</where>
  	</select>
  	
  	<!-- 제품검사기준목록 -->
  	<select id="selectPrdtStdList" resultType="CheckVO">
  		select chk_std_code , chk_name , chk_dt , chk_std
  		from chk_std
  		<where>
  			<if test="chkStdCode != null">
  				chk_std_code = #{chkStdCode}
  			</if>
  		</where>
  	</select>
  
  	<insert id="insertPrdtChkStd" parameterType="CheckVO">
  		insert into prdt_chk_list(chk_std_code, prdt_chk_num, prdt_code, chk_std)
  		values (
  			#{chkStdCode},
  			#{prdtChkNum},
  			#{prdtCode},
  			#{chkStd}
  		) 
  		
  	</insert>
  
  </mapper>