<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.smartree.check.mapper.CheckMapper">
  
  	<!-- 제품목록 -->
  	<select id="selectPrdtList" resultType="BpVO">
  		select prdt_code,
  			   prdt_name,
  			   prdt_type
  		from prdt_table
  		<where>
  			<if test="prdtCode != null">
  				prdt_code = #{prdtCode}
  			</if>
  		</where>
  	</select>
  	
  	<!-- 제품검사기준목록 -->
  	 <select id="selectPrdtStd" resultType="CheckVO">
  		select chk_std_code,
  		       chk_name,
  		       chk_dt,
  		       chk_std
  		from chk_std
  		<where>
  			<if test="chkStdCode != null">
  				chk_std_code = #{chkStdCode}
  			</if>
  		</where>
  	</select> 
  	
  	<!-- 제품별 기준목록 -->
  	<select id="selectPrdtStdList" resultType="CheckVO">
  		select l.chk_std_code, l.prdt_chk_num, l.prdt_code, c.chk_std, c.chk_name, c.chk_dt
		  from prdt_chk_list l
		  join chk_std c 
		  on l.chk_std_code = c.chk_std_code
		  where l.prdt_code = #{prdtCode}
  	</select>
  
  	<!-- 검사기준저장 -->
  	<insert id="insertPrdtChkStd" parameterType="CheckVO">
  		insert into prdt_chk_list(chk_std_code, prdt_chk_num, prdt_code, chk_std)
  		values (
  			#{chkStdCode},
  			#{prdtChkNum},
  			#{prdtCode},
  			#{chkStd}
  		) 

  	</insert>
  
  <!-- 완제품검사목록 -->
  <select id="selectProdCheckList" resultType="CheckVO">
  	SELECT i.prod_inst_code,
		   r.prcs_edate prod_inst_date,
		   
		   r.prcs_rs_code,
		   
	       c.prdt_chk_cnt,
		   get_prdt_name(c.prdt_code) prdt_name,
		   c.prdt_code,
		   c.prdt_chk_code
	FROM prdt_chk c
	JOIN process_result r 
	  ON c.prcs_rs_code = r.prcs_rs_code
	JOIN process p 
	  ON r.prcs_code = p.prcs_code
	JOIN dt_prod_inst d 
	  ON p.dt_prod_inst_code = d.dt_prod_inst_code
	JOIN prod_inst i 
	  ON d.prod_inst_code = i.prod_inst_code
	  
	WHERE c.prdt_chk_sit = 'n'

  </select>
  
  <!-- 완제품검사상세목록 -->
  <select id="selectProdDtList" resultType="CheckVO">
SELECT 
         s.chk_name, 
         s.chk_std,
         
         c.chk_std_code,
         c.prdt_chk_num
  FROM prdt_chk_list c
  JOIN chk_std s
    ON c.chk_std_code = s.chk_std_code
  
   WHERE c.prdt_code = #{prdtCode}
   ORDER BY c.chk_std_code

  </select>  
  <!-- 완제품검사 저장업데이트 -->
  	<update id="updateProdChk" parameterType="CheckVO">
  	UPDATE prdt_chk
  	SET prdt_chk_sit = 'y'
  	WHERE prdt_chk_code = #{prdtChkCode}
  	</update>
  	
  <!-- 완제품검사상세 저장 -->
    <insert id="insertDtProdChk" parameterType="CheckVO">
  	insert into dt_prdt_chk(
  							prdt_chk_code,
  							prdt_code,
  							chk_std_code,
  							prdt_chk_val,
  							prdt_chk_fit,
  							prdt_manager
  						   )
  	values (
  		 #{prdtChkCode},
  		 #{prdtCode},
  		 #{chkStdCode},
  		 #{prdtChkVal},
  		 #{prdtChkFit},
  		 #{prdtManager}
  	) 
  </insert>  
  
  <!-- 완제품 결과수정 -->
  <update id="updatePrdtChk" parameterType="CheckVO">
  	update prdt_chk
  	set prdt_chk_result = '부적합'
  	where prdt_chk_code = #{prdtChkCode}
  </update>
  
  <!-- 완제품검사조회목록 -->
  <select id="selectPrdtCheckList" resultType="CheckVO">
  	SELECT p.prdt_chk_code,
       p.prcs_rs_code,
       p.prdt_code,
       p.prdt_chk_cnt,
       p.prdt_chk_result,
       t.prdt_name,
       MAX(p.prdt_chk_date) AS prdt_chk_date,
       MAX(d.prdt_manager) AS prdt_manager
	FROM prdt_chk p
	JOIN dt_prdt_chk d 
	  ON p.prdt_code = d.prdt_code
	JOIN prdt_table t 
	  ON d.prdt_code = t.prdt_code
	GROUP BY p.prdt_chk_code,
			 p.prcs_rs_code,
			 p.prdt_code,
			 p.prdt_chk_cnt,
		     p.prdt_chk_result,
		     t.prdt_name
  </select>
  
  <!-- 완제품검사상세조회목록 -->
  <select id="selectdtList" resultType="CheckVO">
  SELECT p.prdt_chk_code, 
         p.prdt_code, 
         p.prcs_rs_code,
          
         c.chk_name, 
         c.chk_std,
          
         d.prdt_chk_val,
         d.prdt_chk_fit
         
    FROM prdt_chk p 
    JOIN dt_prdt_chk d 
      ON p.prdt_chk_code = d.prdt_chk_code
    JOIN chk_std c 
      ON d.chk_std_code = c.chk_std_code
  
   WHERE p.prdt_chk_code = #{prdtChkCode}
  </select>
  
  <!-- 완제품 합격검사 -->
  <select id="selectPrdtFin" resultType="CheckVO">
  select *
  	from prdt_chk c
  	JOIN prdt_table t 
  	  ON c.prdt_code = t.prdt_code
  WHERE c.prdt_chk_result = '적합'
  		and c.prdt_fin_chk = '입고전'	  
  </select>
  
  <!-- 검사기준삭제 -->
  <delete id="delChkStd" parameterType="String">
  	delete prdt_chk_list
  	where prdt_code = #{prdtCode}
  </delete>
  
  </mapper>