<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.yedam.smartree.eqm.mapper.EqmInspMapper">
  <!-- 설비점검 전체조회 -->
  	<select id="selectEqmInspList" resultType="EqmInspVO">
  	    SELECT e.eqm_code,e.eqm_name,i.insp_manager,i.insp_judg,i.repair_date,i.RECENT_INSP_DATE,i.NEXT_INSP_DATE,i.insp_dt,i.action_dt
		FROM eqm e join EQM_INSP i
  		  				ON e.eqm_code = i.eqm_code
  	 					 
  		ORDER BY eqm_code
  	</select>
  	<!-- 판정여부 조회 -->
  	<select id="selectEqmInspInspJudgList" resultType="EqmInspVO">
  	 SELECT e.eqm_code,e.eqm_name,i.insp_manager,i.insp_judg,i.repair_date,i.RECENT_INSP_DATE,i.NEXT_INSP_DATE,i.insp_dt,i.action_dt
     FROM eqm e join EQM_INSP i
  		  			ON e.eqm_code = i.eqm_code
  	 	<where>
  			<if test="inspJudg != null and !inspJudg.equals('')">
  				insp_judg = #{inspJudg}	
  			</if>
  		</where>  		
  	 					 
  	ORDER BY eqm_code
  	</select>
  	<!-- 설비점검이름으로 검색 -->
  	 <select id="searchEqmInsp" resultType="EqmInspVO">
  	 SELECT e.eqm_code,e.eqm_name,i.insp_manager,i.insp_judg,i.repair_date,i.RECENT_INSP_DATE,i.NEXT_INSP_DATE,i.insp_dt,i.action_dt
     FROM eqm e join EQM_INSP i
  		  			ON e.eqm_code = i.eqm_code
  		<where>
  			<if test="eqmName != null and !eqmName.equals('')">
  				eqm_name LIKE '%'||#{eqmName}||'%'
  			</if>
  		</where>  	
  	 					 
  	ORDER BY eqm_code
  	</select>
  	
  	<!-- 설비점검 단건조회  -->
  	<select id= "selectEqmInsp" resultType="EqmInspVO">
  		select INSP_CODE,RECENT_INSP_DATE,REPAIR_DATE,INSP_DT,ACTION_DT,INSP_JUDG,NEXT_INSP_DATE,REGISTER_DATE,INSP_MANAGER
  		from EQM_INSP
  		where INSP_CODE = #{inspCode}
  	</select>
  	
  	<!-- 설비점검 등록 -->
  	<insert id="insertEqmInsp" parameterType="EqmInspVO">
  		<selectKey keyProperty="inspCode" resultType="String" order="BEFORE">
  			select 'ein' || LPAD(eqm_insp_code_seq.NEXTVAL, 7, '0') as inspCode from dual
  	    </selectKey>
  	    INSERT INTO EQM_INSP
  			 ( 
  			    INSP_CODE
  			   ,RECENT_INSP_DATE
  			   ,REPAIR_DATE
  		  	   ,INSP_DT
  			   ,ACTION_DT
  			   ,INSP_JUDG
  			   ,NEXT_INSP_DATE
  			   ,REGISTER_DATE
  			   ,INSP_MANAGER
  			   ,EQM_CODE
  			   ,NOPER_CODE
  			)
   values
           ( 
   				#{inspCode}
   			   ,#{recentInspDate}
   			   ,#{repairDate}
   			   ,#{inspDt}
   			   ,#{actionDt}
   			   ,#{inspJudg}
   			   ,#{nextInspDate}
   			   ,#{registerDate}
   			   ,#{inspManager}   
   			   ,#{eqmCode} 
   			   ,#{noperCode} 
           )
  	    
  	    
  	</insert>
  </mapper>