<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.yedam.smartree.eqm.mapper.EqmMapper">
  <!-- 설비 전체조회 -->
  	<select id="selectEqmList" resultType="EqmVO">
  		select EQM_CODE
				,EQM_NAME
				,case when EQM_UCHECK='Y' then '사용'
					  else '미사용'
			     end EQM_UCHECK
				,EQM_MAX_TEMP
				,EQM_MIN_TEMP
				,EQM_MANAGER
				,EQM_DIVISION
				,INSP_CYCLE
				,MFG_COMP
				,MFG_DATE
				,EQM_IMG
				, case when EQM_STATE = 'Y' then '사용가능' 
					when EQM_STATE = 'S' then '설비점검관리에 등록하세요'
				       else '사용중'
				  end  EQM_STATE
				, (
                select max(RECENT_INSP_DATE)
                from eqm_insp i
                WHERE e.eqm_code = i.eqm_code ) as RECENT_INSP_DATE,
                 (
                select max(NEXT_INSP_DATE)
                from eqm_insp i
                WHERE e.eqm_code = i.eqm_code ) as NEXT_INSP_DATE
        from eqm e
        ORDER BY eqm_code
  	</select>
  	
  	  <!-- 설비 전체조회 비가동 제외 -->
  	<select id="selectEqmListExceptNoper" resultType="EqmVO">
  		select EQM_CODE
				,EQM_NAME
				,case when EQM_UCHECK='Y' then '사용'
					  else '미사용'
			     end EQM_UCHECK
				,EQM_MAX_TEMP
				,EQM_MIN_TEMP
				,EQM_MANAGER
				,EQM_DIVISION
				,INSP_CYCLE
				,MFG_COMP
				,MFG_DATE
				,EQM_IMG
				, case when EQM_STATE = 'Y' then '사용가능' 
					when EQM_STATE = 'S' then '설비점검관리에 등록하세요'
				       else '사용중'
				  end  EQM_STATE
				, (
                select max(RECENT_INSP_DATE)
                from eqm_insp i
                WHERE e.eqm_code = i.eqm_code ) as RECENT_INSP_DATE,
                 (
                select max(NEXT_INSP_DATE)
                from eqm_insp i
                WHERE e.eqm_code = i.eqm_code ) as NEXT_INSP_DATE
        from eqm e
        where  EQM_STATE != 'S'
        ORDER BY eqm_code
  	</select>
  	
  	<!-- 사용여부 조회 -->
  	<select id="selectEqmUcheckList" resultType="EqmVO">
  		select  EQM_CODE
				,EQM_NAME
				,case when EQM_UCHECK='Y' then '사용'
					  else '미사용'
			     end EQM_UCHECK
				,EQM_MAX_TEMP
				,EQM_MIN_TEMP
				,EQM_MANAGER
				,EQM_DIVISION
				,INSP_CYCLE
				,MFG_COMP
				,MFG_DATE
				,EQM_IMG
				, EQM_STATE , (
                select max(RECENT_INSP_DATE)
                from eqm_insp i
                WHERE e.eqm_code = i.eqm_code ) as RECENT_INSP_DATE,
                 (
                select max(NEXT_INSP_DATE)
                from eqm_insp i
                WHERE e.eqm_code = i.eqm_code ) as NEXT_INSP_DATE
        from eqm e
  		<where>
  			<if test="eqmUcheck != null and !eqmUcheck.equals('')">
  				e.eqm_ucheck = #{eqmUcheck}	
  			</if>
  		</where>  				
  		 
  		ORDER BY eqm_code
  	</select>
  	

	<!-- 설비이름으로 검색 -->
  	  <select id="searchEqm" resultType="EqmVO">
  		select EQM_CODE
				,EQM_NAME
				,case when EQM_UCHECK='Y' then '사용'
					  else '미사용'
			     end EQM_UCHECK
				,EQM_MAX_TEMP
				,EQM_MIN_TEMP
				,EQM_MANAGER
				,EQM_DIVISION
				,INSP_CYCLE
				,MFG_COMP
				,MFG_DATE
				,EQM_IMG
				, case when EQM_STATE = 'Y' then '사용가능' 
					   when EQM_STATE = 'S' then '설비점검관리에 등록하세요'
				       else '사용중'
				  end  EQM_STATE
			  , (
                select max(RECENT_INSP_DATE)
                from eqm_insp i
                WHERE e.eqm_code = i.eqm_code ) as RECENT_INSP_DATE,
                 (
                select max(NEXT_INSP_DATE)
                from eqm_insp i
                WHERE e.eqm_code = i.eqm_code ) as NEXT_INSP_DATE
        from eqm e
  		<where>
  			<if test="eqmName != null and !eqmName.equals('')">
  				e.eqm_name LIKE '%'||#{eqmName}||'%'
  			</if>
  		</where>  				
  		 
  		ORDER BY eqm_code
  	</select>
  	
  	<!-- 설비이름으로 검색 - 비가동제외 -->
  	  <select id="searchEqmExceptNoper" resultType="EqmVO">
  		select EQM_CODE
				,EQM_NAME
				,case when EQM_UCHECK='Y' then '사용'
					  else '미사용'
			     end EQM_UCHECK
				,EQM_MAX_TEMP
				,EQM_MIN_TEMP
				,EQM_MANAGER
				,EQM_DIVISION
				,INSP_CYCLE
				,MFG_COMP
				,MFG_DATE
				,EQM_IMG
				, case when EQM_STATE = 'Y' then '사용가능' 
					   when EQM_STATE = 'S' then '설비점검관리에 등록하세요'
				       else '사용중'
				  end  EQM_STATE
			  , (
                select max(RECENT_INSP_DATE)
                from eqm_insp i
                WHERE e.eqm_code = i.eqm_code ) as RECENT_INSP_DATE,
                 (
                select max(NEXT_INSP_DATE)
                from eqm_insp i
                WHERE e.eqm_code = i.eqm_code ) as NEXT_INSP_DATE
        from eqm e
  		<where>
  			<if test="eqmName != null and !eqmName.equals('')">
  				e.eqm_name LIKE '%'||#{eqmName}||'%'
  			</if>
  			and EQM_STATE != 'S'
  		</where>  				
  		 
  		ORDER BY eqm_code
  	</select>
  	
  	
  	<!-- 설비조회 단건조회-->
  	<select id="selectEqm" resultType="EqmVO">
  	select *
  	from EQM
  	where eqm_code=#{eqmCode} 
  	</select>
  	
  	
  	<!-- 설비등록  -->
  	<insert id="insertEqm" parameterType="EqmVO">
  	<selectKey keyProperty="eqmCode" resultType="String" order="BEFORE">
  		select 'eqm' || LPAD(eqm_code_seq.NEXTVAL, 7, '0') as eqmCode from dual
  	</selectKey>
  	INSERT INTO EQM
  			 ( 
  			    EQM_CODE
  			   ,EQM_NAME
  			   ,EQM_UCHECK
  		  	   ,EQM_MIN_TEMP
  			   ,EQM_MAX_TEMP
  			   ,EQM_MANAGER
  			   ,INSP_CYCLE
  			   ,MFG_COMP
  			   ,MFG_DATE
  			   ,EQM_IMG
  			   ,EQM_DIVISION
  			)
   values
           ( 
   				#{eqmCode}
   			   ,#{eqmName}
   			   ,#{eqmUcheck}
   			   ,#{eqmMinTemp}
   			   ,#{eqmMaxTemp}
   			   ,#{eqmManager}
   			   ,#{inspCycle}
   			   ,#{mfgComp}
   			   ,#{mfgDate}   
   			   ,#{eqmImg}
   			   ,#{eqmDivision}
   			
           )
  	
  	
  	</insert>
  	
  	<!-- 설비삭제 -->
  	<delete id="deleteEqm" parameterType="EqmVO">
  		delete from EQM
  		where eqm_code= #{eqmCode}
  	</delete>
  	
  	<!-- 설비 수정 -->
  	<update id="updateEqm" parameterType="EqmVO">
  		update EQM
  		<set>
  			<if test="eqmName != null and !eqmName.equals('')">
  			     EQM_NAME=#{eqmName},
  			</if>
  			<if test="eqmUcheck != null and !eqmUcheck.equals('')">
  			       EQM_UCHECK =#{eqmUcheck},
  			</if>
  			<if test="eqmMinTemp != null and !eqmMinTemp.equals('')">
  			       EQM_MIN_TEMP =#{eqmMinTemp},
  			</if>
  			<if test="eqmMaxTemp != null and !eqmMaxTemp.equals('')">
  			       EQM_MAX_TEMP =#{eqmMaxTemp},
  			</if>
  			<if test="eqmManager != null and !eqmManager.equals('')">
  			       EQM_MANAGER =#{eqmManager},
  			</if>
  			<if test="inspCycle != null and !inspCycle.equals('')">
  			       INSP_CYCLE =#{inspCycle},
  			</if>
  			<if test="mfgComp != null and !mfgComp.equals('')">
  			       MFG_COMP =#{mfgComp},
  			</if>
  			<if test="mfgDate != null and !mfgDate.equals('')">
  			       MFG_DATE =#{mfgDate},
  			</if>
  			<if test="eqmImg != null and !eqmImg.equals('')">
  			       EQM_IMG =#{eqmImg},
  			</if>
  			<if test="eqmDivision != null and !eqmDivision.equals('')">
  			       EQM_DIVISION =#{eqmDivision}
  			</if>
  			<if test="eqmState != null and !eqmState.equals('')">
  			       EQM_STATE =#{eqmState}
  			</if>
  		
  		</set>
  		where eqm_code=#{eqmCode}
  	</update>
  	
  	<!-- 설비 구분으로 조회 -->
  	<select id="searchEqmDivision" resultType="EqmVO">
  	select EQM_CODE
				,EQM_NAME
				,EQM_UCHECK
				,EQM_MAX_TEMP
				,EQM_MIN_TEMP
				,EQM_MANAGER
				,EQM_DIVISION
				,INSP_CYCLE
				,MFG_COMP
				,MFG_DATE
				,EQM_IMG
				,case when EQM_STATE = 'Y' then '사용가능' 
					  when EQM_STATE = 'S' then '설비점검관리에 등록하세요'
				       else '사용중'
				  end  EQM_STATE
  	from EQM
  	where eqm_division = #{eqmDivision} 
  	</select>
  	



  	
  </mapper>