<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.yedam.smartree.material.mapper.MaterialMapper">
    
    <!-- 자재발주 전체조회 -->
  	<select id="selectNeedList" resultType="MaterialVO">
  		SELECT n.mtl_code , n.mtl_date, b.bp_name , t.mtl_type , t.mtl_name , n.mtl_cnt , t.mtl_unit , n.mtl_manager , n.mtl_wish_date , n.mtl_where
  		FROM mtl_need n
        JOIN mtl_table t
        ON n.mtl_code = t.mtl_code
        JOIN business_partner b
        ON n.bp_code = b.bp_code
  	</select>
  	
  	<!-- 재고목록 전체조회 -->
  	<select id="selectMtlList" resultType="MaterialVO">
  		select * from mtl_container
  	</select>
  	
  	<!-- 출고목록 전체조회 -->
    <select id="selectMtlOutList" resultType="MaterialVO">
  		select * from mtl_out
  	</select>
  	
  	<!-- 발주관리 안전재고 미달목록 출력 -->
  	<select  id="selectMinusMtl" resultType="MaterialVO">
  		
  	</select>
  	
  </mapper>