<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.yedam.smartree.material.mapper.MaterialMapper">
    
    <!-- 자재발주 전체조회 -->
  	<select id="selectNeedList" resultType="MaterialVO">
		SELECT b.bp_name, n.mtl_date, n.mtl_manager, MIN(n.mtl_wish_date) mtl_wish_date
		FROM mtl_need n 
		JOIN business_partner b ON n.bp_code = b.bp_code
		GROUP BY b.bp_name, n.mtl_date, n.mtl_manager
  	</select>
  	
  	<!-- 재고목록 전체조회 -->
  	<select id="selectMtlList" resultType="MaterialVO">
		WITH c as (SELECT c.mtl_code, MAX(mtl_in_date)mtl_in_date,SUM(mtl_lot_cnt)mtl_lot_cnt 
		           FROM mtl_container c 
		      	   GROUP BY c.mtl_code)
		SELECT c.mtl_code, get_common(mtl_type, '003') AS mtl_type, t.mtl_name, mtl_in_date, mtl_lot_cnt
		FROM c
		JOIN mtl_table t 
		  ON c.mtl_code = t.mtl_code
  	</select>
  	
  	<!-- 출고목록 전체조회 -->
    <select id="selectMtlOutList" resultType="MaterialVO">
  		SELECT m.mtl_out_code, m.mtl_lot_num, t.mtl_name, m.mtl_code, m.mtl_out_cnt, m.prcs_rs_code, p.prcs_edate
  		FROM mtl_out m 
  		JOIN mtl_table t
  		ON m.mtl_code = t.mtl_code
  		JOIN process_result p
  		ON  m.prcs_rs_code = p.prcs_rs_code
  	</select>
  	
  	<!-- 발주관리 안전재고 미달목록 출력 -->
  	<select id="selectMinusMtl" resultType="MaterialVO">
		WITH c as (SELECT c.mtl_code,SUM(mtl_lot_cnt)mtl_lot_cnt 
		           FROM mtl_container c 
		      	   GROUP BY c.mtl_code)
		SELECT c.mtl_code, get_common(mtl_type, '003') AS mtl_type, t.mtl_name, mtl_lot_cnt, mtl_ss, (mtl_lot_cnt - mtl_ss)mtl_now
		FROM c
		JOIN mtl_table t ON c.mtl_code = t.mtl_code
		<![CDATA[
		WHERE (c.mtl_lot_cnt - t.mtl_ss) < 0
		]]>
  	</select>
  	
  	<!-- 입고관리 검사완료 목록 출력 -->
  	<select id="selectChkMtl" resultType="MaterialVO">
		SELECT mtl_code, mtl_name, mtl_pass_cnt, mtl_chk_date, mtl_chk_manager, mtl_chk_code, get_common(mtl_chk_status, '009') AS mtl_status_nm
		FROM mtl_chk JOIN mtl_table USING(mtl_code)
  	</select>
  	
  	
  	
  	<!-- 발주관리 insert -->
  	<insert id="insertNeedMtl" parameterType="MaterialVO" statementType="CALLABLE">
		INSERT INTO mtl_need (mtl_code, bp_code, mtl_name, mtl_cnt, mtl_unit, mtl_manager, mtl_wish_date, mtl_type)
		VALUES (
		    #{mtlCode},
		    (SELECT bp_code FROM business_partner WHERE bp_name = #{bpName}),
		    #{mtlName},
		    #{mtlCnt},
		    #{mtlUnit},
		    #{mtlManager},
		    #{mtlWishDate},
		    #{mtlType}
		)
  	</insert>
  	
  	<!-- 발주관리 update -->
  	<update id="updateNeedMtl" parameterType="MaterialVO">
  		UPDATE mtl_need
  		SET mtl_cnt = #{mtlCnt},
  			mtl_wish_date = #{mtlWishDate}
  		WHERE mtl_code = #{mtlCode} AND mtl_date = #{mtlDate}
  	</update>
  	
  	<!-- 발주관리 delete -->
  	<delete id="deleteNeedMtl" parameterType="MaterialVO">
  		DELETE FROM mtl_need
  		WHERE mtl_code = #{mtlCode} AND mtl_date = #{mtlDate}
  	</delete>
  	
  	<!-- 입고관리 insert -->

	<insert id="insertInMtl" parameterType="MaterialVO">
		<selectKey keyProperty="mtlLotNum" resultType="String" order="BEFORE">
		 SELECT #{mtlCode} ||'-'|| TO_CHAR(SYSDATE,'RRMMDD') || NVL( LPAD( MAX( SUBSTR( mtl_lot_num,-2)) +1, 2, '0'), '01')
         FROM mtl_container
            where mtl_code = #{mtlCode}
		</selectKey>
  		 INSERT INTO mtl_container(mtl_lot_num, mtl_code, mtl_in_cnt, mtl_in_date, mtl_manager, mtl_lot_cnt, mtl_chk_code )
  		 VALUES(
  			#{mtlLotNum},#{mtlCode},#{mtlInCnt},#{mtlInDate},#{mtlManager},#{mtlInCnt},#{mtlChkCode}
  		 )
	</insert> 	
  	
  	<!-- 입고관리 update -->
  	<update id="updateInMtl" parameterType="MaterialVO">
  		UPDATE mtl_container
  		SET mtl_in_cnt = #{mtlInCnt}
  		WHERE mtl_lot_num = #{mtlLotNum}
  	</update>
  	
  	<!-- 입고관리 delete -->
  	<delete id="deleteInMtl" parameterType="MaterialVO">
  		DELETE FROM mtl_container
  		WHERE mtl_lot_num = #{mtlLotNum}
  	</delete>
  	
  	<!-- 발주관리 검색조회 -->
  	<select id="getNeedMtl" parameterType="MaterialVO">
  		SELECT n.mtl_code , n.mtl_date, b.bp_name , t.mtl_type , t.mtl_name , n.mtl_cnt , t.mtl_unit , n.mtl_manager , n.mtl_wish_date ,get_common (mtl_where, '009') mtl_where_nm
  		FROM mtl_need n
        JOIN mtl_table t
        ON n.mtl_code = t.mtl_code
        JOIN business_partner b
        ON n.bp_code = b.bp_code
        WHERE t.mtl_name like '%'||#{mtlName}||'%'
  	</select>
  	
  	
  	<!-- 입고관리 검색조회 -->
  	<select id="getInMtl" parameterType="MaterialVO">
  		SELECT c.mtl_lot_num, c.mtl_code, t.mtl_name, c.mtl_in_cnt, c.mtl_in_date, c.mtl_manager, c.mtl_lot_cnt, c.mtl_chk_code
        FROM mtl_container c 
        JOIN mtl_table t
        ON c.mtl_code = t.mtl_code
		WHERE c.mtl_lot_num IS NOT NULL AND t.mtl_name like '%'||#{mtlName}||'%'
  	</select>
  	
  	<!-- 재고조회 로트별 출력기능 -->
  	<select id="getLotMtl" parameterType="MaterialVO">
  		SELECT c.mtl_lot_num, get_common(t.mtl_type, '003') AS mtl_type, c.mtl_code, t.mtl_name, c.mtl_in_date, c.mtl_in_cnt, NVL(h.holding_cnt,0)holding_cnt, (c.mtl_lot_cnt - (NVL(h.holding_cnt,0)))mtl_use
		FROM mtl_container c
		JOIN mtl_table t
		ON c.mtl_code = t.mtl_code
		LEFT JOIN holding h
		ON c.mtl_lot_num = h.mtl_lot_num
		WHERE c.mtl_code = #{mtlCode}
  	</select>
  	
  	<!-- 발주목록 발주서별 자재내역 출력기능 -->
  	<select id="getPaperMtl" parameterType="MaterialVO">
		SELECT b.bp_code, b.bp_name, get_common(t.mtl_type, '003') AS mtl_type, n.mtl_code, t.mtl_name, t.mtl_unit, n.mtl_cnt, n.mtl_date , get_common(n.mtl_where, '009')mtl_where
		FROM mtl_need n JOIN mtl_table t ON n.mtl_code = t.mtl_code
		JOIN business_partner b ON b.bp_code = n.bp_code
		WHERE b.bp_name = #{bpName} AND TO_CHAR(n.mtl_date, 'yy/MM/dd') = #{mtlDate}
  	</select>
  	

  	
  	
  	
  	<!-- 출고자재를 자재목록에서 빼주는 procedure -->
  	
  	
  </mapper>