<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.yedam.smartree.material.mapper.MaterialMapper">
    
    <!-- 자재발주 전체조회 -->
  	<select id="selectNeedList" resultType="MaterialVO">
  		SELECT n.mtl_code , n.mtl_date, b.bp_name , t.mtl_type , t.mtl_name , n.mtl_cnt , t.mtl_unit , n.mtl_manager , n.mtl_wish_date ,get_common (mtl_where, '009') mtl_where_nm
  		FROM mtl_need n
        JOIN mtl_table t
        ON n.mtl_code = t.mtl_code
        JOIN business_partner b
        ON n.bp_code = b.bp_code
  	</select>
  	
  	<!-- 재고목록 전체조회 -->
  	<select id="selectMtlList" resultType="MaterialVO">
  		select * from mtl_container
  	</select>
  	
  	<!-- 출고목록 전체조회 -->
    <select id="selectMtlOutList" resultType="MaterialVO">
  		select * from mtl_out
  	</select>
  	
  	<!-- 발주관리 안전재고 미달목록 출력 -->
  	<select id="selectMinusMtl" resultType="MaterialVO">
  		SELECT t.mtl_type, c.mtl_code, t.mtl_name, t.mtl_ss, c.mtl_lot_cnt, (c.mtl_lot_cnt - t.mtl_ss) AS "mtl_now"
		FROM mtl_container c JOIN mtl_table t
		ON c.mtl_code = t.mtl_code
		<![CDATA[
		WHERE (c.mtl_lot_cnt - t.mtl_ss) < 0
		]]>
  	</select>
  	<!-- 입고관리 검사완료 목록 출력 -->
  	<select id="selectChkMtl" resultType="MaterialVO">
		SELECT mtl_code, mtl_name, mtl_pass_cnt, mtl_chk_date, mtl_chk_manager, mtl_chk_code, get_common(mtl_chk_status, '009') AS mtl_status_nm
		FROM mtl_chk JOIN mtl_table USING(mtl_code)
  	</select>
  	
  	<!-- 출고자재를 자재목록에서 빼주는 procedure -->
  	
  	
  </mapper>