<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.smartree.check.mapper.MtlCheckMapper">
  <!-- 모달자재 조회 -->
  	<select id="selectMtl" resultType="MtlCheckVO">
  		SELECT	mtl_date, 
	  			mtl_code, 
	  			bp_code, 
	  			mtl_name, 
	  			mtl_manager,
	  			mtl_cnt
		FROM	mtl_need
        <where>
        	mtl_where = 'MT01'
          <if test="mtlDate != null">
            AND mtl_date >= #{mtlDate} AND mtl_date <![CDATA[<]]> #{mtlDate}+1
          </if>
          <if test="bpCode != null and !bpCode.equals('')">
            AND bp_code = #{bpCode}
          </if>
          <if test="mtlCode != null and !mtlCode.equals('')">
            AND mtl_code = #{mtlCode}
          </if>
          <if test="mtlManager != null and !mtlManager.equals('')">
            AND mtl_manager LIKE '%' || #{mtlManager} ||'%'
          </if>
      </where> 	
  	</select>
  	
  	<select id="getMtl" resultType="MtlCheckVO">
	  	SELECT c.mtl_chk_code, 
	  			c.mtl_chk_date, 
	  			c.mtl_date, 
	  			n.mtl_code, 
	  			n.bp_code, 
	  			n.mtl_name, 
	  			c.mtl_chk_cnt, 
	  			c.mtl_error_cnt, 
	  			c.mtl_pass_cnt, 
	  			c.mtl_chk_manager
		FROM mtl_chk c 
		JOIN mtl_need n ON c.mtl_code = n.mtl_code
		WHERE bp_code = #{bpCode}
		AND mtl_date BETWEEN #{mtlDate} AND #{mtlDate}+1
	  	
  	</select>
  	
  	<!-- 자재검사저장 -->
  	<insert id="insertChkMtl" parameterType="MtlCheckVO" statementType="CALLABLE">
  	{call InsertOrUpdateMtlCheck(
  		#{mtlChkCode},
  		#{mtlDate},
  		#{bpCode},
  		#{mtlCode},
  		#{mtlCnt},
  		#{mtlErrorCnt},
  		#{mtlPassCnt},
  		#{mtlChkManager}
  	)}
  	</insert>
  
<!-- 검사코드 검색 -->
  <select id="searchMtl" resultType="MtlCheckVO">
  	 SELECT *
	 FROM mtl_chk c 
  		<where>
  			<if test="mtlChkCode != null and !mtlChkCode.equals('')">
  				mtl_chk_code LIKE '%'||#{mtlChkCode}||'%'
  			</if>
  		</where>  	
		ORDER BY mtl_chk_code ASC	 
  	</select>
  	
 <!-- 검사일자검색 -->
  	<select id="searchMtlDate" resultType="MtlCheckVO">
  	 SELECT *
	 FROM mtl_chk c 
  		<where>
  			<if test="mtlChkDate != null and !mtlChkDate.equals('')">
  				mtl_chk_date LIKE '%'||#{mtlChkDate}||'%'
  			</if>
  		</where>  	
		ORDER BY mtl_chk_code 	 
  	</select>
  	
  	<!-- 전체조회 -->
	<select id="selectChkAll" resultType="MtlCheckVO">
		SELECT *
		FROM mtl_chk c JOIN mtl_table t using(mtl_code)
		ORDER BY mtl_chk_code
  	</select>
  	
  	<!-- 검사 수정 -->
  	<update id="updateChkMtl" parameterType="MtlCheckVO">
  		UPDATE mtl_chk
  		SET mtl_chk_cnt = #{mtlChkCnt},
  			mtl_error_cnt = #{mtlErrorCnt},
  			mtl_pass_cnt = #{mtlPassCnt}
	 <where>
	    <if test="mtlChkCode != null and !mtlChkCode.equals('')">
	       mtl_chk_code = #{mtlChkCode}
	    </if>
	 </where>
  	</update>
  	
  </mapper>