<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.smartree.check.mapper.MtlCheckMapper">
  	<select id="Allselect" resultType="MtlCheckVO">
  		select c.mtl_date, n.mtl_code, n.bp_code, n.mtl_name, c.mtl_chk_cnt, c.mtl_error_cnt , c.mtl_pass_cnt, c.mtl_chk_manager
		from mtl_chk c join mtl_need n
		on c.mtl_code = n.mtl_code
  	</select>
  
  	<select id="mtlselect" resultType="MtlCheckVO">
  		select *
      	from mtl_need 
        <where>
          <if test="mtlDate != null">
             TRUNC(mtl_date) = TO_DATE(#{mtlDate}, 'yy/MM/dd')
          </if>
          <if test="bpCode != null || !bpCode.equal('')" >
              bp_code = #{bpCode}
          </if>
          <if test="mtlCode != null || !mtlCode.equal('')">
            and mtl_code = #{mtlCode}
          </if>
          <if test="mtlManager != null || !mtlManager.equal('')">
            and mtl_manager = #{mtlManager}
          </if>
      </where>
  	</select>
  </mapper>