<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.smartree.check.mapper.MtlCheckMapper">
  	<select id="selectAll" resultType="MtlCheckVO">
  		SELECT DISTINCT c.mtl_date, n.mtl_code, n.bp_code, n.mtl_name, c.mtl_chk_cnt, c.mtl_error_cnt , c.mtl_pass_cnt, c.mtl_chk_manager
		FROM mtl_chk c 
		JOIN mtl_need n ON c.mtl_code = n.mtl_code
  	</select>
  
  	<select id="selectMtl" resultType="MtlCheckVO">
  		select *
      	from mtl_need 
        <where>
          <if test="mtlDate != null">
             mtl_date BETWEEN #{mtlDate} AND #{mtlDate}+1
          </if>
          <if test="bpCode != null and !bpCode.equals('')">
            AND bp_code = #{bpCode}
          </if>
          <if test="mtlCode != null and !mtlCode.equals('')">
            AND mtl_code = #{mtlCode}
          </if>
          <if test="mtlManager != null and !mtlManager.equals('')">
            AND mtl_manager LIKE '%' || #{mtlManager} ||'%'
          </if>
      </where>
  	</select>
  	
  	<insert id="insertChkMtl" parameterType="MtlCheckVO">
  		insert into mtl_chk(
  		                mtl_chk_code,
  		                mtl_code , 
  		                mtl_chk_cnt,
  		                mtl_error_cnt,
  		                mtl_pass_cnt,
  		                mtl_chk_manager)
  		values  ( 'MTC' || LPAD(mtl_chk_seq.NEXTVAL, 5, '0')
  				,#{mtlCode} 
  				 ,#{mtlChkCnt} 
  				 ,#{mtlErrorCnt}
  				 ,#{mtlPassCnt}
  				 ,#{mtlChkManager})
  	</insert>
  </mapper>