<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.smartree.prod.mapper.ProdMapper">
  	<select id="selectProdList" resultType="ProdVO">
  		select *
		from dt_prod_plan dtp join prod_plan p 
		on dtp.prod_plan_code = p.prod_plan_code
		join  prdt_table pt 
		on dtp.prdt_code = pt.prdt_code
  	</select>
  	
  	<select id="selectAllOrderAndPrdt" resultType="BusinessVO">
  		select o.order_code , b.bp_code , b.bp_name , o.order_date , o.dod_date , o.dod_state , o.order_manager
  		from orders o join business_partner b
 		  				on o.bp_code = b.bp_code
		  				where o.prod_plan_yn = 'n'
  	</select>
  	
  	
	<insert id="insertProdPlan" parameterType="ProdVO" statementType="CALLABLE">
    <selectKey keyProperty="prodPlanCode" resultType="String" order="BEFORE">
        select 'PPN' || LPAD(prod_plan_seq.NEXTVAL, 7, '0') as prodPlanCode from dual
    </selectKey>
    {call in_prod_up_order(
        #{prodPlanCode},
        #{orderCode},
        #{prodPlanName},
        #{prodPlanDate},
        #{prodName},
        #{prodPlanSdate},
        #{prodPlanEdate}
    )}
	</insert>
	
	<insert id="insertDtProdPlan" parameterType="ProdVO">
	    insert into dt_prod_plan
	    values(
	        'PPD' || LPAD(dt_prod_plan_seq.NEXTVAL, 7, '0'),
	        #{prodPlanCode},
	        #{prdtCode},
	        #{prodPlanCnt},
	        #{prodPlanNote},
	        #{prodRank}
	    )
	</insert>
	
  	<select id="searchProdPlan" resultType="ProdVO">
  		select *
		from dt_prod_plan dtp join prod_plan p 
		on dtp.prod_plan_code = p.prod_plan_code
		join  prdt_table pt
		on dtp.prdt_code = pt.prdt_code
		<where>
			<if test="dtProdPlanCode != null">
				dtp.dt_prod_plan_code like '%' || #{dtProdPlanCode} || '%'
			</if> 
			
		</where>
  	</select>
  	
  	<select id="selectProd" resultType="ProdVO">
  		select prod_plan_code, prod_plan_name, prod_name, prod_plan_date
  		from prod_plan
  	</select>
  	
  	<select id="selectProdListView" resultType="ProdVO">
  		select p.prod_plan_name, p.prod_name, p.prod_plan_date, p.prod_plan_sdate, p.prod_plan_edate, pt.prdt_name,  dtp.prod_plan_cnt, dtp.prod_rank, dtp.prod_plan_note , pt.prdt_code, dto.order_dt_cnt
		from dt_prod_plan dtp join prod_plan p 
		on dtp.prod_plan_code = p.prod_plan_code
		join  prdt_table pt 
		on dtp.prdt_code = pt.prdt_code
        join dt_order dto
        on p.order_code = dto.order_code and dtp.prdt_code = dto.prdt_code
		where p.prod_plan_code = #{prodPlanCode}
  	</select>
  	
  	
  </mapper>