<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>완제품재고조회</title>
</head>

<body>
	<div layout:fragment="content">
			<label>제품명</label>
			<input type="text"  id="prdt"> 
			<label>Lot번호</label>
			<input type="text"  id="lotNo"> 
		
				<button type="button" id="searchDataBtn" class="btn btn-primary"
					style="margin: 5px;">조회</button>
				<button type="button" id="resetBtn" class="btn btn-primary"
					style="margin: 4px;" >초기화</button>

		<hr>
		<h1 style="display: inline-block;">제품별 수량</h1>
		<button type="button" class="btn btn-info btn-icon-text excelDownload" id="ExcelBtn" style="float:right">EXCEL
	            <i class="bi bi-printer"></i>
	            </button>
		

		
		<div id="prdtGrid" style="margin-bottom:50px;"></div>
		<h1 >Lot별 재고</h1>
		<div id="lotPrdtGrid" ></div>
		<script th:inline="javascript">
		var data = [[${finPrdt}]]
			var grid;
			$(document).ready(function () {

				const finPrdt = new tui.Grid({
					el: document.getElementById('prdtGrid'),
					scrollX: false,
					scrollY: false,
					data: data ,
					rowHeaders: ["rowNum"],
					columns: [
						{
							header: '제품명',
							name: 'prdtName',

						},
						{
							header: '제품코드',
							name: 'prdtCode',

						},
						
						{
							header: '수량',
							name: 'prdtSum',

						},
						{
							header: '안전재고',
							name: 'prdtSs',

						}],
						
					
				})
				const lotPrdtGrid = new tui.Grid({
					el: document.getElementById('lotPrdtGrid'),
					scrollX: false,
					scrollY: false,
					pageOptions: {
			            perPage: 5,
			            useClient: true,
			          },
					rowHeaders: ["rowNum"],
					columns: [
						{
							header: 'Lot번호',
							name: 'prdtLotNo',

						},
						{
							header: '제품코드',
							name: 'prdtCode',

						},
						{
							header: '제품명',
							name: 'prdtName',

						},
						
						{
							header: '수량',
							name: 'prdtCnt',

						},
						{
				            header: '입고일자',
				            name: 'prdtRecieveDate',
				            filter: {
				              type: 'date', showApplyBtn: true, showClearBtn: true,
				              options: {
				                format: 'yyyy-MM-dd'
				              }
				            }
				          }],
						
					
				})
				
				
				finPrdt.on('click',(ev)=> {
					let data = finPrdt.getValue(ev.rowKey , 'prdtCode');
					 $.ajax({
						url:'/lotPrdtList',
						method:'GET',
						data: {
							prdtCode:data
						},
						success:function(result){
							lotPrdtGrid.resetData(result);
							
						},
						error:function(err){
							console.log(err)
						}
					}) 
					
				});
				function resetBtn(){
					$('#prdt').val('');
					$('#lotNo').val('');
				}
				
				$('#resetBtn').on('click' , resetBtn)
				$('#searchDataBtn').on('click',searchBtn)
				
				function searchBtn(){
					$.ajax({
						url:'/prdtSearch',
						method:'POST',
						data:{
							prdtName : $('#prdt').val(),
							prdtLotNo : $('#lotNo').val()
						},
						success:function(result){
							lotPrdtGrid.resetData(result);
						},
						error:function(err){
							console.log(err);
						}
					})
				}
				$('#ExcelBtn').on('click',function(){
					finPrdt.export('xlsx');
		        })
			});


			
		</script>
	</div>
</body>

</html>