<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>완제품재고조회</title>
</head>

<body>
	<div layout:fragment="content">
			
		<h1>완제품재고조회</h1>
		<hr>
			<div class="row">
				<div class="col-6">
					<h2 class="mb-4">제품별 재고</h2>
					<div id="prdtGrid" class="lightgrey"></div>
				</div>
				<div class="col-6">
					<div style="display:flex; justify-content: space-between;">
						<h2 class="mb-4" style="display: inline-block;">Lot별 재고</h2>
						<div>
							<label>제품명</label>
							<input type="text"  id="prdt"> 
							<label>Lot번호</label>
							<input type="text"  id="lotNo">
							<div class="btn-group" role="group" aria-label="Basic example" style="margin-left:10px;"> 
							<button type="button" id="searchDataBtn" class="btn btn-primary">조회</button>
							<button type="button" id="resetBtn" class="btn btn-primary">초기화</button>
							<button type="button" class="btn btn-info btn-icon-text excelDownload" id="ExcelBtn" style="float:right">EXCEL
            				<i class="bi bi-printer"></i> </button>
            				</div>
						</div>
					</div>
					<div id="lotPrdtGrid"></div>
				</div>
			</div>
		<script th:inline="javascript">
		var data = [[${finPrdt}]]
			var grid;
			$(document).ready(function () {

				const finPrdt = new tui.Grid({
					el: document.getElementById('prdtGrid'),
					scrollX: false,
					scrollY: false,
					data: data ,
					rowHeaders: ["rowNum"],
					bodyHeight : 400,
					columns: [
						{
							header: '제품코드',
							name: 'prdtCode',
							align: 'center'

						},
						{
							header: '제품명',
							name: 'prdtName',
							align: 'left'

						},
						{
							header: '수량',
							name: 'prdtSum',
							align: 'right'

						},
						{
							header: '안전재고',
							name: 'prdtSs',
							align: 'right'

						}],
						
					
				})
				const lotPrdtGrid = new tui.Grid({
					el: document.getElementById('lotPrdtGrid'),
					scrollX: false,
					scrollY: false,
					pageOptions: {
			            perPage: 10,
			            useClient: true,
			          },
					rowHeaders: ["rowNum"],
					bodyHeight : 400,
					columns: [
						{
							header: 'Lot번호',
							name: 'prdtLotNo',
							align: 'center'

						},
						{
							header: '제품코드',
							name: 'prdtCode',
							align: 'center'

						},
						{
							header: '제품명',
							name: 'prdtName',
							align: 'center'
						},
						
						{
							header: '수량',
							name: 'prdtCnt',
							align: 'right'

						},
						{
				            header: '입고일자',
				            name: 'prdtRecieveDate',
				            filter: {
				              type: 'date', showApplyBtn: true, showClearBtn: true,
				              options: {
				                format: 'yyyy-MM-dd'
				              }
				            },
							align: 'center'
				          }],
						
					
				})
				
				
				finPrdt.on('click',(ev)=> {
					let data = finPrdt.getValue(ev.rowKey , 'prdtCode');
					 $.ajax({
						url:'/lotPrdtList',
						method:'GET',
						data: {
							prdtCode:data
						},
						success:function(result){
							lotPrdtGrid.resetData(result);
							
						},
						error:function(err){
							console.log(err)
						}
					}) 
					
				});
				function resetBtn(){
					$('#prdt').val('');
					$('#lotNo').val('');
				}
				
				$('#resetBtn').on('click' , resetBtn)
				$('#searchDataBtn').on('click',searchBtn)
				
				function searchBtn(){
					$.ajax({
						url:'/prdtSearch',
						method:'POST',
						data:{
							prdtName : $('#prdt').val(),
							prdtLotNo : $('#lotNo').val()
						},
						success:function(result){
							lotPrdtGrid.resetData(result);
							finPrdt.restore()
						},
						error:function(err){
							console.log(err);
						}
					})
				}
				const options = {
					fileName: '제품별재고현황'
				};
				$('#ExcelBtn').on('click',function(){
					finPrdt.export('xlsx',options);
		        })
			});


			
		</script>
	</div>
</body>

</html>