<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>SMARTREE</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/tui-grid@4.21.16/dist/tui-grid.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" /> 
		<script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>
		<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tui-grid@4.21.16/dist/tui-grid.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head> 
<body>
	<div layout:fragment="content">
    <div id="grid"></div>
    
    
    
    <script>
        var grid;
        window.onload=function(){

    const grid = new tui.Grid({
      el: document.getElementById('grid'),
      scrollX: false,
      scrollY: false,
      rowHeaders:["rowNum"],
      columns: [
        {
          header: '주문코드',
          name: 'orderCode'
        },
        {
          header: '업체코드',
          name: 'bpCode'
        },
        {
          header: '업체명',
          name: 'type'
        },
        {
          header: '주문일자',
          name: 'release'
        },
        {
          header: '납기일자',
          name: 'orderDate'
        },
        {
          header: '납기현황',
          name: 'dodState'
        },
        {
          header: '담당자',
          name: 'orderManager'
        }
      ]
    });
    
	$.ajax({
		url:'/orders',
		method:'get',
    dataType:'json',
		success:function(result){
			console.log(result);
			grid.resetData(eval(result));
		},
		error:function(err){
			console.log(err);
		}
	})
    
  }
    

        
    </script>
	
    



    	
	</div>
</body>
</html>