<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>SMARTREE</title>
  
</head>

<body>
  <div layout:fragment="content">
    <div id="grid"></div>



    <script>
      

      var grid;
      $(document).ready(function () {


        const grid = new tui.Grid({
          el: document.getElementById('grid'),
          scrollX: false,
          scrollY: false,
          rowHeaders: ["rowNum"],
          columns: [{
              header: '주문코드',
              name: 'orderCode'
            },
            {
              header: '업체코드',
              name: 'bpCode'
            },
            {
              header: '업체명',
              name: 'bpName'
            },
            {
              header: '주문일자',
              name: 'orderDate'
            },
            {
              header: '납기일자',
              name: 'orderDate',

            },
            {
              header: '납기현황',
              name: 'dodState'
            },
            {
              header: '담당자',
              name: 'orderManager'
            }
          ]
        });

        const header = ['orderCode', 'bpCode', 'bpName', 'orderDate', 'orderDate', 'dodState', 'orderManager']

        // Orders List불러오기
        $.ajax({
          url: '/orders',
          method: 'get',
          dataType: 'json',
          success: function (result) {
            //날짜변환
            $(result).each(function (idx, obj) {
              for (let head of header) {

                if (head.slice(-4).toLowerCase() == 'date') {
                  obj[head] = getDate(obj[head]);
                }
              }
            });
            grid.resetData(eval(result));
          },
          error: function (err) {
            console.log(err);
          }
        })


        //주문상세조회 모달창
        $(function() {
        	  $('#grid').on('click', 'td', function(e) {
        	    let target = $(this).parent().children().first().text();
        	    console.log(target);
        	    
        	    $.ajax({
        	    	url:'/orderDtList',
        	    	method:'get',
        	    	data:{
        	    		orderCode: target
        	    	},
                dataType: 'json',
        	    	suceess:result => {
                  console.log(result)
                },
        	    	error:function(err){
        	    		console.log(err);
        	    	}
        	    })
        	  });
        	});
      })
    </script>
  </div>
</body>

</html>