<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>주문서관리</title>
</head>

<body>
	<div layout:fragment="content">
		<h2 style="height:0px">주문정보</h2>
		<div class="btn-group" role="group" aria-label="Basic example" style="float : right;">
			<button class="btn btn-primary" style="float:right" id="searchOrder">검색</button>
			<button class="btn btn-primary" style="float:right" id="resetBtn">초기화</button>
			<button class="btn btn-primary" style="float:right" id="saveBtn">저장</button>
			<button class="btn btn-primary" style="float:right" id="insertBtn">새주문서</button>
			<button class="btn btn-primary" style="float:right"id="deleteBtn">삭제</button>
		</div>
		<div id="order"></div>
		<h2 style="height : 0px;margin-top:200px">주문상세정보</h2>
		<div class="btn-group" role="group" aria-label="Basic example" style="float : right;">
			<button class="btn btn-primary" style="float:right" id="insertDtBtn">추가</button>
			<button class="btn btn-primary" style="float:right" id="deleteDtBtn">삭제</button>
		</div>
		<div id="dtOrder"></div>


		<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
			<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
				<div class="modal-content">
					<h2 style="margin:30px">주문서검색</h2>
					<div style="margin: 0 auto;">
						<label for="ordercd" style="text-align:center;">주문코드</label>
						<input type="text" id="ordercd" class="form-control" placeholder="주문코드를 입력하세요" name="ordercd"
							style="width:500px">
						<label for="plsdate" style="margin-top:10px">접수일자</label>
						<input type="date" id="plsdate" class="form-control" name="plsdate" style="width:500px">
						<label for="doddate" style="margin-top:10px">납기일자</label>
						<input type="date" id="doddate" class="form-control" name="doddate" style="width:500px">
					</div>
					<div style="display: flex; justify-content: center; margin-top:10px;">
						<button type="button" id="searchDataBtn" class="btn btn-primary"
							style="margin: 5px;">조회</button>
						<button type="button" id="resetModalBtn" class="btn btn-primary"
							style="margin: 4px;" >초기화</button>
					</div>
					<div class="modal-body">
						<div id="searchModal"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		
		<!-- 업체모달 -->
		<div class="modal fade" tabindex="-1" role="dialog" id="bpModal">
			<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
				<div class="modal-content">
					<h2 style="margin:30px">업체목록</h2>
					
					
					<div class="modal-body">
						<div id="bpListModal"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!-- 제품모달 -->
		<div class="modal fade" tabindex="-1" role="dialog" id="prModal">
			<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
				<div class="modal-content">
					<h2 style="margin:30px">제품목록</h2>
					
					
					<div class="modal-body">
						<div id="prdtListModal"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


		<script>
			let searchModalData = [];
			let newOrder =[];
			let newDtOrder =[];
			let selectedData; // 주문서에있는해당값 저장
			let dtOrderRowNum;
			let newOrderData={};//새주문서 data에 넣어줄 객체생성
			let updateDtOrder;
			$(document).ready(function () {
				//주문그리드
				const order = new tui.Grid({
					el: document.getElementById('order'),
					scrollX: false,
					scrollY: true,
					columns: [
						
						{
							header: '업체코드',
							name: 'bpCode',
						},
						{
							header: '업체명',
							name: 'bpName',
						},
						{
							header: '주문일자',
							name: 'orderDate',
							editor: 'datePicker'
				        },
						
						{
							header: '납기일자',
							name: 'dodDate',
							editor: 'datePicker'
						},
						{
							header: '담당자',
							name: 'orderManager',
							editor: 'text'
						},
					]
				})
				//상세보기그리드
				const dtOrder = new tui.Grid({
					el: document.getElementById('dtOrder'),
					scrollX: false,
					scrollY: true,
					rowHeaders: ['checkbox'],
					columns: [
						{
							header: '제품명',
							name: 'prdtName',
						},
						{
							header: '제품코드',
							name: 'prdtCode',
							
						},
						{
							header: '수량',
							name: 'orderDtCnt',
							editor: 'text'
						},

					]
				});
				//모달그리드
				const searchModal = new tui.Grid({
					el: document.getElementById('searchModal'),
					scrollX: false,
					scrollY: true,
					columns: [
						{
							header: '주문코드',
							name: 'orderCode',
						},
						{
							header: '업체코드',
							name: 'bpCode',
						},
						{
							header: '업체명',
							name: 'bpName',
						},
						{
							header: '주문일자',
							name: 'orderDate',
						},
						{
							header: '납기일자',
							name: 'dodDate',
						},
						{
							header: '담당자',
							name: 'orderManager',
						},
					]
				})
				//업체리스트
				const bpListModal = new tui.Grid({
					el: document.getElementById('bpListModal'),
					scrollX: false,
					scrollY: true,
					columns: [
						{
							header: '업체코드',
							name: 'bpCode',
						},
						{
							header: '업체명',
							name: 'bpName',
						},
						{
							header: '분류',
							name: 'bpType',
						},
						{
							header: '주거래',
							name: 'bpMain',
						}
						
					]
				})
				
				//제품
				const prdtListModal = new tui.Grid({
					el: document.getElementById('prdtListModal'),
					scrollX: false,
					scrollY: true,
					columns: [
						{
							header: '제품코드',
							name: 'prdtCode',
						},
						{
							header: '제품명',
							name: 'prdtName',
						},
						{
							header: '분류',
							name: 'prdtType',
						},
						
						
					]
				})
				
				//검색 클릭이벤트-모달띄우기
				$('#searchOrder').on('click', function () {
					$('#ordercd').val('');
					$('#plsdate').val('');
					$('#doddate').val('');
					$("#myModal").modal('show');
					searchModal.resetData([]);
					
				});
				//조회 처리이벤트
				$('#searchDataBtn').on('click',function(ev){
					$.ajax({
						url:'/selectOrder',
						method: 'POST',
						data:{
							orderCode: $('#ordercd').val(),
							orderDate: $('#plsdate').val(),
							dodDate:$('#doddate').val()

						},
						success:function(result){
							searchModalData = result;
							searchModal.resetData(result);
					 		setTimeout(() => searchModal.refreshLayout(), 200);
					 		
							
						},
						error:function(err){
							console.log(err);
						}
					})
						
					});
				
					//해당열 더블클릭이벤트
					searchModal.on('dblclick',(ev)=>{
						if(ev.rowKey==undefined){
			        		return;
			        	}
						let data = searchModal.getValue(ev.rowKey,'orderCode');
						
						$.ajax({
							url:'/orderDtList',
							method:'GET',
							data:{
								orderCode:data
							},
							success:function(result){
								$('#myModal').modal('hide');
								order.resetData(eval([searchModalData[ev.rowKey]]));
								dtOrder.resetData(result);
								selectedData = searchModalData[ev.rowKey];//불러온 해당 열 변수에 저장
								newOrder.push(searchModalData[ev.rowKey]);
								newDtOrder = result;
								updateDtOrder=result.length;
							},
							error:function(err){
								console.log(err)
							}
							
							
						})
					})
					//초기화 - 주문서 ,주문서상세 초기화
					$('#resetBtn').on('click',function(){		
						newOrder = [];
						newDtOrder = [];
						order.resetData([]);
						dtOrder.resetData([]);
					});
					//모달창초기화 - 검색input창 초기화
					$('#resetModalBtn').on('click',function(){	
						searchModal.resetData([]);
						$('#ordercd').val('');
						$('#plsdate').val('');
						$('#doddate').val('');
					});
					//저장버튼클릭
					order.blur();
					dtOrder.blur();
					$('#saveBtn').on('click',function(){
						
						if(dtOrder.getCheckedRows().length == 0 ){
							alert('주문상세정보를 선택해주세요');
							return;
						}else{
							
						let editdata={};
						editdata.vo = order.getData();
						editdata.list = dtOrder.getData();
						
						
					 	if(dtOrder.getData().length > updateDtOrder && editdata.vo[0].orderCode != null){//수정중 상세주문 추가한경우
								console.log('수정등록');
					 			 newOrderData.orderList = order.getData();
								 newOrderData.orderDtList = dtOrder.getCheckedRows() ;
								 
							 	
							 
							 $.ajax({
								url:'/plusDtOrder',
								method:'POST',
								dataType: 'json',
								contentType : 'application/json',
								data:JSON.stringify(newOrderData),
								success:function(result){
									alert('상세주문이 추가되었습니다');
									dtOrder.uncheckAll();
								},
								error:function(err){
									console.log(err);
								}
							})	 
						 } 
					 	
					 	//수정등록
					 	else if(editdata.vo[0].orderCode != null ){//수정
							 	newOrderData.orderList = order.getData();
								newOrderData.orderDtList = dtOrder.getCheckedRows() ;

							 $.ajax({
								url:'/updateOrder',
								method:'POST',
								dataType: 'json',
								contentType : 'application/json',
								data:JSON.stringify(newOrderData),
								success:function(result){
									
										alert('수정되었습니다');
										dtOrder.resetData(dtOrder.getData());
										dtOrder.uncheckAll();
								},
								error:function(err){
									console.log(err);
								}
									
								
							}) 
							console.log('update');
						}
						 else {//등록
							console.log('insert');
							
							
							newOrderData.orderList = order.getData();
							newOrderData.orderDtList = dtOrder.getCheckedRows();
							
								$.ajax({
									url:'/insertOrder',
									method:'POST',
									dataType: 'json',
									contentType : 'application/json',
									data:JSON.stringify(newOrderData),
									success:function(result){
										if(result > 0 ){
											alert('등록되었습니다');
											order.resetData([]);
											dtOrder.resetData([]);
										}
									},
									error:function(err){
										console.log(err);
									}				
								})
							
						} 
						
						}
					});
					//주문서삭제
					$('#deleteBtn').on('click',function(){
						newOrderData={};
						newOrderData.orderList = order.getData();
						$.ajax({
							url:'/deleteOrder',
							method:'POST',
							dataType: 'json',
							contentType : 'application/json',
							data:JSON.stringify(newOrderData),
							success:function(result){
								if(result > 0 ){
									alert('삭제되었습니다');
									order.resetData([]);
									dtOrder.resetData([]);
								}
							},
							error:function(err){
								console.log(err);
							}
							
						})
					});
					//주문서상세삭제
					$('#deleteDtBtn').on('click',function(){
						let delrows = dtOrder.getCheckedRows();
						newOrderData={};
						newOrderData.orderDtList = dtOrder.getCheckedRows();
						$.ajax({
							url:'/deleteDtOrder',
							method:'POST',
							dataType: 'json',
							contentType : 'application/json',
							data:JSON.stringify(newOrderData),
							success:function(result){
								if(result > 0 ){
									alert('상세주문'+result+'건이 삭제되었습니다');
									dtOrder.removeCheckedRows(); //삭제후 인터페이스 삭제처리
									newDtOrder = dtOrder.getData();//삭제값 다시들어가지않게 인터페이스reset 
								}
							},
							error:function(err){
								console.log(err);
							}
							
						})
					})

					
					$('#insertBtn').on('click',function(){
						newOrder = [];
						newDtOrder = [];
						order.resetData([]);
						dtOrder.resetData([]);
						newOrder.push({
							codeType:'',
							typeName:''					
						})
						order.resetData(newOrder);
					})
					$('#insertDtBtn').on('click',function(){
						newDtOrder.push({
							codeType:'',
							typeName:''					
						});
						dtOrder.resetData(newDtOrder);
					})
					
					//업체명 , 업체코드 클릭이벤트
					order.on('click',(ev)=>{
						if(ev.columnName != 'bpName' && ev.columnName !='bpCode'){//업체코드와 업체명 아닐 시 return
							return;	
						}
						/* else if(order.getValue(ev.rowKey,'bpCode')){//수정은 업체코드 , 업체명 수정은 불가하게 했다.
							return;
						} */
						//ev.rowKey == 'undefined'
						$.ajax({
							url:'/partnerList',
							method:'GET',
							success:function(result){
								bpListModal.resetData(result);
								setTimeout(() => bpListModal.refreshLayout(), 200);
								$('#bpModal').modal('show');
								
							},
							error:function(err){
								console.log(err);
							}
						})
					})
					//업체더블클릭 이벤트
					bpListModal.on('dblclick',(ev)=>{
						if(ev.rowKey==undefined){
			        		return;
			        	}
						let data = bpListModal.getValue(ev.rowKey,'bpCode');
						$.ajax({
							url:'/partnerList',
							method:'GET',
							data:{
								bpCode: data
							},
							success:function(result){
								$('#bpModal').modal('hide');
								result[0].dodDate = newOrder[0].dodDate;
								result[0].orderDate = newOrder[0].orderDate;
								result[0].orderManager = newOrder[0].orderManager;
								order.resetData(result);
							},
							error:function(err){
								console.log(err);
							}
						})
					})
					
					//제품 클릭모달이벤트
					dtOrder.on('click',(ev)=>{
						if(ev.columnName != 'prdtCode' && ev.columnName !='prdtName'){
							return;	
						}
						dtOrderRowNum = ev.rowKey
						$.ajax({
							url:'/prdtList',
							method:'GET',
							success:function(result){
								prdtListModal.resetData(result);
								setTimeout(() => prdtListModal.refreshLayout(), 200);
								$('#prModal').modal('show');
								
							},
							error:function(err){
								console.log(err)
							}
						})
					})
					
					//제품 더블클릭 이벤트
					prdtListModal.on('dblclick',(ev)=>{
						if(ev.rowKey==undefined){
			        		return;
			        	}
						let data = prdtListModal.getValue(ev.rowKey,'prdtCode');
						$.ajax({
							url:'/prdtList',
							method:'GET',
							data:{
								prdtCode : data
							},
							success:function(result){
								let check = true; 
								newDtOrder.forEach((order) => {
									if(order.prdtCode == data) {
										alert('이미 같은 제품이 있습니다.')
										check=false;
										return;
									}
									
								})
								if(check){
									newDtOrder[dtOrderRowNum] = result[0]
									dtOrder.resetData(newDtOrder);
									$('#prModal').modal('hide');
								}
								
							},
							error:function(err){
								console.log(err)
							}
							
						})
					});
					//주문상세 change 될때마다 newDtOrder에 저장해서 값 안사라지게하는이벤트
					 dtOrder.on('afterChange', ev=>{
			            let change = ev.changes
			            newDtOrder[change[0].rowKey][change[0].columnName]=change[0].value
			         })
			          order.on('afterChange', ev=>{
			            let change = ev.changes
			            newOrder[change[0].rowKey][change[0].columnName]=change[0].value
			         }) 
					
				})
				
			
		</script>
	</div>
</body>

</html>