<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>완제품출고관리</title>
</head>

<body>
	<div layout:fragment="content">	
		<h1>완제품출고관리</h1>
		<br>
		<div class="row">
			<div class="col-6">
				<div class="btn-group" role="group" aria-label="Basic example" style="float : right;">
					<button class="btn btn-primary" style="float:right" id="searchOrderModal">미출고주문서검색</button>
					<button class="btn btn-primary" style="float:right" id="searchFinOrderModal">기출고주문서검색</button>
				</div>
				<h2>주문서</h2>
				<div id="orderGrid"></div>
			</div>
			<div class="col-6">
					<h2 class="mb-2" style="display: inline-block;">상세주문서</h2>
					<div class="btn-group" role="group" aria-label="Basic example" style="float : right;">
						<button class="btn btn-primary" style="float:right" id="cancleOutPrdt">출고취소</button>
					</div>
					<div id="orderDtGrid" ></div>
			</div>
		</div>
		
		
		
		
		
		
	<div class="modal fade" tabindex="-1" role="dialog" id="orderModal">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content" style="height:550px">
          <div class="modal-header">
            <h2>주문서조회</h2>
          </div>
          <div class="modal-body">
            <div style="margin-left:10px; margin-bottom:10px;">
				<label for="bpname" style="text-align:center;">업체명</label>
				<input type="text" id="bpname" placeholder="업체명을 입력하세요" name="ordercd">
				<label for="doddate" style="margin-top:10px">납기일자</label>
				<input type="date" id="doddate"name="doddate">
				<div class="btn-group" role="group" aria-label="Basic example" style="margin-left:10px;"> 
					<button type="button" id="searchDataBtn" class="btn btn-primary">조회</button>
					<button type="button" id="resetModalBtn" class="btn btn-primary">초기화</button>
				</div>
			</div>
            <div id="searchGrid"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn">닫기</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	
	
	
	<div class="modal fade" tabindex="-1" role="dialog" id="prdtModal">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content" style="height:500px;">
          <div class="modal-header">
            <h2>lot별재고조회</h2>
          </div>
          <div>
          <label for="ordercd"  style="margin-left:20px; margin-top:20px;  margin-bottom:20px;">담당자</label>
		  <input type="text" id="outmanager"  placeholder="담당자를 입력하세요" name="ordercd">
		  <label for="ordercd" >출고날짜</label>
		  <input type="date" id="outdate" name="ordercd">
          <div id="lotPrdtGrid"></div>
          <div style="float:right;">
	          <label for="leftCnt" >남은수량</label>
			  <input type="text" id="leftCnt" name="leftCnt" readonly >
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" id="saveBtn" >출고</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" >닫기	</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->	
	
		<script th:inline="javascript">
		
		let manager = [[${session.loginMember.empName}]];
		var rowCheck;
		var valueCheck;
		var check = 0;
		var allCheck = false;
		var leftCnt2=0;
		// 오늘날짜 input에 넣기
		today = new Date();
		// console.log("today.toISOString() >>>" + today.toISOString());
		today = today.toISOString().slice(0, 10);
		// console.log("today >>>> " + today);
		let bir = document.getElementById("outdate");
		bir.value = today;
		outmanager.value= manager;
		
		toastr.options = {
	  			  positionClass: "toast-top-center",
	  			  escapeHtml: true,
	  			  closeButton: true,
	 			  newestOnTop: false,
	  			  timeOut: 1250
	  			};
		const searchOrderGrid = new tui.Grid({
			el: document.getElementById('searchGrid'),
			scrollX: false,
			scrollY: false,
			rowHeaders: ["rowNum"],
			pageOptions: {
	            perPage: 5,
	            useClient: true,
	          },
			columns: [
				{
					header: '주문코드',
					name: 'orderCode',
					align: 'center'

				},
				{
					header: '업체코드',
					name: 'bpCode',
					align: 'center'
				},
				{
					header: '업체명',
					name: 'bpName',
					align: 'left'
				},
				{
					header: '납기일자',
					name: 'dodDate',
					align: 'center'
				},
				{
					header: '담당자',
					name: 'orderManager',
					align: 'left'
				}],
				
			
		})
		const OrderGrid = new tui.Grid({
			el: document.getElementById('orderGrid'),
			scrollX: false,
			scrollY: false,
			rowHeaders: ["rowNum"],
			bodyHeight : 500,
			columns: [
				{
					header: '주문코드',
					name: 'orderCode',
					align: 'center'
				},
				{
					header: '업체코드',
					name: 'bpCode',
					align: 'center'
				},
				{
					header: '업체명',
					name: 'bpName',
					align: 'left'
				},
				{
					header: '납기일자',
					name: 'dodDate',
					align: 'center'
				},
				{
					header: '담당자',
					name: 'orderManager',
					align: 'left'
				}],		
		})
		
		const OrderDtGrid = new tui.Grid({
			el: document.getElementById('orderDtGrid'),
			scrollX: false,
			scrollY: false,
			rowHeaders: ["checkbox"],
			bodyHeight : 500,
			columns: [
				{
					header: '주문상세코드',
					name: 'orderDtCode',
					align: 'center'
				},
				{
					header: '제품코드',
					name: 'prdtCode',
					align: 'center'
				},
				{
					header: '제품명',
					name: 'prdtName',
					align: 'center'
				},
				{
					header: '주문수량',
					name: 'orderDtCnt',
					align: 'right'
				},
				{
					header: '출고수량',
					name: 'prdtOutCnt',
					align: 'right'
				},
				{
					header: '미납수량',
					name: 'prdtLeftCnt',
					align: 'right'
				}],
			})
				
				//lot별 재고
				const lotPrdtGrid = new tui.Grid({
					el: document.getElementById('lotPrdtGrid'),
					scrollX: false,
					scrollY: false,
					rowHeaders: ["rowNum"],
					pageOptions: {
			            perPage: 4,
			            useClient: true,
			          },
					columns: [
						{
							header: 'Lot번호',
							name: 'prdtLotNo',
							align: 'center'
						},
						{
							header: '제품코드',
							name: 'prdtCode',
							align: 'center'
						},
						{
							header: '제품명',
							name: 'prdtName',
							align: 'left'
						},
						
						{
							header: '재고량',
							name: 'prdtCnt',
							align: 'right'
						},
						{
				            header: '입고일자',
				            name: 'prdtRecieveDate',
				            filter: {
				              type: 'date', showApplyBtn: true, showClearBtn: true,
				              options: {
				                format: 'yyyy-MM-dd'
				              }
				            },
				            align: 'center'
				          },
				          {
								header: '수량입력',
								name: 'prdtOutCnt',
								editor: 'text',
								align: 'right'
							}],
				         	
				})
			$(document).ready(function () {
				//미출고주문서검색클릭이벤트
				$('#searchOrderModal').on('click',function(){
					$('#bpname').val('');
					$('#doddate').val('');
					$.ajax({
						url:'/bfOutList',
						method:'GET',
						success:function(result){
							searchOrderGrid.resetData(result);
							setTimeout(() => searchOrderGrid.refreshLayout(), 300);
							$('#orderModal').modal('show')
						},
						error:function(err){
							console.log(err)
						}
					})
					
				})
				//기출고주문서검색클릭이벤트
				$('#searchFinOrderModal').on('click',function(){
					$('#bpname').val('');
					$('#doddate').val('');
					$.ajax({
						url:'/searchFinOrder',
						method:'GET',
						success:function(result){
							searchOrderGrid.resetData(result);
							setTimeout(() => searchOrderGrid.refreshLayout(), 300);
							$('#orderModal').modal('show')
						},
						error:function(err){
							console.log(err);
						}
					})
				})
				$('#closeBtn').on('click',function(){
					searchOrderGrid.resetData([]);
				})
				
				let ordercode;//주문정보 orderCode 저장
				//열클릭이벤트
				searchOrderGrid.on('dblclick',function(ev){
					//주문정보그리드
					ordercode = searchOrderGrid.getValue(ev.rowKey , 'orderCode');//주문정보 orderCode 저장
					OrderGrid.resetData([searchOrderGrid.getRow(ev.rowKey)]);
					loadDTList();
					
				});
				
				function loadDTList(callback){
					 $.ajax({
						url:'/orderDtList',
						method:'GET',
						data: {
							orderCode: ordercode //함수로쓰기위해서 주문정보를 클릭할때저장
						},
						success:function(result){
							
							valueCheck = result
							OrderDtGrid.resetData(result);
							console.log('dtgrid', result)
							$('#orderModal').modal('hide')
								let count=0;
							for(let i =0 ; i< result.length ; i++){
								count+=result[i].prdtLeftCnt;
								console.log('count',  count)
								
							}
							if(count==0 ){
								allCheck = true;
								//전체출고완료 시 그리드 값 비워주기
								
								$.ajax({
									url:'/prdtFinOut',
									method:'POST',
									data:{
										orderCode : result[0].orderCode
									},		
									success:function(result){	
										 if (callback) callback();
									},
									error:function(err){
										console.log(err);
									}
								})
							}
							
							
						},
						error:function(err){
							console.log(err)
						}
					}) 
					
				}
				//주문상세클릭이벤트
				OrderDtGrid.on('click',function(ev){
					let data = {};
					data.prdtCode = OrderDtGrid.getValue(ev.rowKey,'prdtCode');
					data.orderDtCode = OrderDtGrid.getValue(ev.rowKey,'orderDtCode');
					console.log('data:',data)
					if(ev.targetType == 'cell'){
						lotPrdtOutList(data);
						rowCheck = ev.rowKey
					}
				})
				lotPrdtGrid.on('afterChange',function(){
					let cnt = lotPrdtGrid.getData();					
					let allCnt=0;
					
					console.log('leftCnt2',leftCnt2);
					for(let i = 0 ; i<cnt.length;i++){
						allCnt+= Number(cnt[i].prdtOutCnt);
					}
					let beforeCnt= leftCnt2 - allCnt;
					$('#leftCnt').val(beforeCnt);
				})
				function lotPrdtOutList(data){
					console.log(OrderDtGrid.getData());
						$.ajax({
							url:'/lotPrdtOutList',
							method:'GET',
							data:data,
							success:function(result){
								console.log('result',result);
								$('#leftCnt').val(result[0].orderDtCnt);
								leftCnt2 = $('#leftCnt').val();
								lotPrdtGrid.resetData(result);	
								setTimeout(() => lotPrdtGrid.refreshLayout(), 300);
								$('#prdtModal').modal('show');
							},
							error:function(err){
								console.log(err);
							}
						})
					
				}
				
				//제품수량선택 후 저장버튼클릭
				$('#saveBtn').on('click',function(){
					let lotcnt=0;
					lotPrdtGrid.blur();
					let chkPrdt = false;
					for(let i = 0 ; i < lotPrdtGrid.getData().length ; i++){
						lotcnt += Number(lotPrdtGrid.getData()[i].prdtOutCnt)
						if(lotPrdtGrid.getData()[i].prdtOutCnt>lotPrdtGrid.getData()[i].prdtCnt){
							chkPrdt= true;
						}
					}
						if(lotcnt > valueCheck[rowCheck].prdtLeftCnt){
							toastr.warning('미납수량보다 많습니다');
							return;
						}else if(chkPrdt){
							toastr.warning('재고량을 초과합니다');
							return;
						}else{
							lotPrdtGrid.blur()
							var data={};
							data.list = lotPrdtGrid.getModifiedRows().updatedRows;
							data.vo = {
									prdtOutDate : $('#outdate').val(),
									prdtOutManager:$('#outmanager').val(),
									orderDtCode: OrderDtGrid.getValue(rowCheck,"orderDtCode")
									};
							
							$.ajax({
								url:'/prdtOutProcess',
								method:'POST',
								dataType: 'json',
								contentType : 'application/json',
								data:JSON.stringify(data),
								success:function(result){
									toastr.success('출고되었습니다');
									$('#prdtModal').modal('hide');
									loadDTList(function(){
										if(allCheck){	
											console.log('bbbb')
											toastr.success('해당 주문서에 대한 전체 출고가 완료되었습니다');
											OrderDtGrid.resetData([]);
											OrderGrid.resetData([]);
										}
									}); //페이지 리로드
									
								},
								error:function(err){
									console.log(err);
								}
							})

						}
				})
				let prdtcode ;
				//출고취소버튼클릭
				$('#cancleOutPrdt').on('click',function(){
					if(OrderDtGrid.getCheckedRows().length == 0){
						toastr.warning('출고취소 품목을 선택해주세요');
					}else{
						let dtData = OrderDtGrid.getCheckedRows();
						console.log(dtData)
						$.ajax({
							url:'/cancleOutPrdt',
							method:'POST',
							dataType: 'json',
							contentType : 'application/json',
							data:JSON.stringify(dtData),
							success:function(result){
				                toastr.success('취소완료');
				                loadDTList()
							},
							error:function(err){
								console.log(err);
							}
						})
					}
				})
				//조회 처리이벤트
				$('#searchDataBtn').on('click',function(ev){
					$.ajax({
						url:'/selectOrder',
						method: 'POST',
						data:{
							bpName: $('#bpname').val(),
							dodDate:$('#doddate').val()

						},
						success:function(result){
							searchOrderGrid.resetData(result);
					 		setTimeout(() => searchModal.refreshLayout(), 200);
					 		
							
						},
						error:function(err){
							console.log(err);
						}
					})
						
					});
				//모달창초기화 - 검색input창 초기화
				$('#resetModalBtn').on('click',function(){	
					searchOrderGrid.resetData([]);
					$('#bpname').val('');
					$('#doddate').val('');
				});
			});
		</script>
	</div>
</body>
</html>