<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>완제품입고관리</title>
</head>
<body>
<div layout:fragment="content">
<h1>입고대기품목</h1>
<div id="chkListGrid" ></div>

<div id="recieveGrid"></div>



<script>
const chkListGrid = new tui.Grid({
	el: document.getElementById('chkListGrid'),
	scrollX: false,
	scrollY: false,
	rowHeaders: ["rowNum"],
	pageOptions: {
        perPage: 5,
        useClient: true,
      },
	columns: [
		{
			header: '완제품검사코드',
			name: 'prdtChkCode',

		},
		{
			header: '제품코드',
			name: 'prdtCode',

		},
		{
			header: '검사량',
			name: 'prdtChkCnt',

		},
		{
			header: '검사날짜',
			name: 'prdtChkDate',

		},
		{
			header: '검사담당자',
			name: 'prdtManager',

		}],
})

const recieveGrid = new tui.Grid({
	el: document.getElementById('recieveGrid'),
	scrollX: false,
	scrollY: false,
	rowHeaders: ["rowNum"],
	
	columns: [
		{
			header: '완제품검사코드',
			name: 'prdtChkCode',

		},
		{
			header: '제품코드',
			name: 'prdtCode',

		},
		{
			header: '제품명',
			name: 'prdtName',

		},
		{
			header: '입고량',
			name: 'prdtRecieveCnt',

		},
		{
			header: '입고날짜',
			name: 'prdtRecieveDate',

		},
		{
			header: '입고담당자',
			name: 'recieveManager',

		}],
})

	getprdtCheckList();
	// 제품검사목록 조회
	function getprdtCheckList(){
		$.ajax({
			url:'/prdtCheckList',
			method:'get',
	   	 	dataType:'json',
			success:function(result){
				chkListGrid.resetData(result);
			},
			error:function(err){
				console.log(err);
			}
		})
	}
	chkListGrid.on('dblclick',function(ev){
		console.log(chkListGrid.getFocusedCell().rowKey)
		chkListGrid.removeRow(chkListGrid.getFocusedCell().rowKey)
		
		recieveGrid.appendRow({
			prdtChkCode: prdtChkCode
			prdtCode : prdtCode
		})
	})
</script>
</div>
</body>
</html>