<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
      
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
<title>생산현황모니터링</title>
</head>
<body>
<div layout:fragment="content">
<div class="row">
   <!-- Earnings (Monthly) Card Example -->
   <div class="col-xl-3 col-md-6 mb-4">
       <div class="card border-left-primary shadow h-100 py-2">
           <div class="card-body">
               <div class="row no-gutters align-items-center">
                   <div class="col mr-2">
                       <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           당일 생산 건수</div>
                       <div class="h5 mb-0 font-weight-bold text-gray-800" id="todayProdData"></div>
                   </div>
                   <div class="col-auto">
                       <i class="bi bi-minecart-loaded fa-2x"></i>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <!-- Earnings (Monthly) Card Example -->
   <div class="col-xl-3 col-md-6 mb-4">
       <div class="card border-left-success shadow h-100 py-2">
           <div class="card-body">
               <div class="row no-gutters align-items-center">
                   <div class="col mr-2">
                       <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                           당일 지시 예정 건수</div>
                       <div class="h5 mb-0 font-weight-bold text-gray-800" id="todayInstData"></div>
                   </div>
                   <div class="col-auto">
                       <i class="bi bi-person-check-fill fa-2x"></i>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <!-- Earnings (Monthly) Card Example -->
   <div class="col-xl-3 col-md-6 mb-4">
    	<a href="/business/orderList" style="text-decoration: none; font-style: none">
	       <div class="card border-left-info shadow h-100 py-2">
	           <div class="card-body">
	               <div class="row no-gutters align-items-center">
	                   <div class="col mr-2">
	                       <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
	                           당일 주문건수</div>
	                       <div class="h5 mb-0 font-weight-bold text-gray-800" id="todayOrderData"></div>
	                   </div>
	                   <div class="col-auto">
	                       <i class="bi bi-telephone fa-2x"></i>
	                   </div>
	               </div>
	           </div>
	       </div>
    	</a>
   </div>
   

   <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            당일 출고 예정 건수</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="todayOutData"></div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-truck fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:flex; justify-content: space-between;">
	<div id="prodChart"></div>
	<div id="prdtChart"></div>
</div>
	<div id="prdtOutChart"></div>
<script>

$(document).ready(function () {
	var prodAllData;
	let chartData=[];
    // 중복 사용되는 AJAX 호출을 함수로 정의
    function fetchData(url, successCallback) {
        $.ajax({
            url: url,
            async:false,
            method: 'GET',
            success: successCallback,
            error: function(err){
                console.log(err);
            }
        });
    }

    // 제품별재고 데이터 가져오기
    fetchData('/getPrdtChartData', function(result) {
        
        let prdtData=[];

        for(let i =0;i<result.length;i++){
            chartData.push(result[i].prdtName);
            prdtData.push(result[i].prdtSum)
        }
        const Chart = toastui.Chart;
        const el = document.getElementById('prdtChart');
        const data = {
            categories: chartData,
            series: [
                {
                    name: '제품별재고',
                    data: prdtData,
                    colorByCategories: true
                }
            ],
        };
        const options = {
      		legend: {
      		    visible: false,
      		  },
            chart: {
                width: 800,
                height: 260,
                title: {
                    text: '제품별재고현황',
                    align: 'center'
                },
                chart: {
                    animation: true
                },
                
            },
            
        };
        const chart = Chart.columnChart({el, data, options});
    });

    // 생산 데이터 가져오기
    fetchData('/getChartData', function(result) {
        prodAllData = result;
        prodData = [];
        for(let i = 0; i<prodAllData.length;i++){
            prodData.push(prodAllData[i].prdtProdCnt);
        }
        console.log('prodData',prodData)

        // 제품별이름 데이터 가져오기
        fetchData('/getPrdtChartData', function(result) {
            let chartData=[];
            let prdtData=[];

            for(let i =0;i<result.length;i++){
                chartData.push(result[i].prdtName);
                prdtData.push(result[i].prdtSum)
            }
            console.log('chartdata',chartData)
            const Chart = toastui.Chart;
            const el = document.getElementById('prodChart');
            const data = {
                categories: chartData,
                series: [
                    {
                    	name: '제품생산현황',
                        data: prodData,
                        colorByCategories: true,
                        shift: true
                    }
                ],
            };
            const options = {
           		legend: {
       		    	visible: false,
       		  	},
                chart: {
                    width:800,
                    height: 260,
                    title: {
                        text: '제품별생산현황(오늘기준)',
                        align: 'center'
                    },
                    chart: {
                        animation: true
                    }
                },
            };
            const chart = Chart.columnChart({el, data, options});
        });
    });
    
    
 // 제품별출고 데이터 가져오기
    fetchData('/getPrdtOutChartData', function(result) {
        console.log(result)
        let prdtOutData = [];
        for(let i = 0 ; i<result.length;i++){
        	prdtOutData.push(result[i].orderDtCnt);
        }
        const Chart = toastui.Chart;
        const el = document.getElementById('prdtOutChart');
        const data = {
            categories: chartData,
            series: [
                {
                    name: '제품별출고',
                    data: prdtOutData,
                    colorByCategories: true
                }
            ],
        };
        const options = {
       		series: {
       		    shift: true
       		  },
      		legend: {
     		    visible: false,
     		 },
            chart: {
                width: 1650,
                height: 300,
                title: {
                	name: '제품별출고',
                    text: '제품별출고현황',
                    align: 'center'
                },
                chart: {
                    animation: true
                }
            },
        };
        const chart = Chart.columnChart({el, data, options});

    });
 
 //당일출고데이터
 fetchData('/getAllChartData', function(result) {
	 console.log(result,"===========")
	 $('#todayProdData').text(result.todayProdCnt);
	 $('#todayInstData').text(result.todayInstCnt);
	 $('#todayOrderData').text(result.todayOrderCnt);
	 $('#todayOutData').text(result.todayOutCnt);
 });
 
});
	
	
	
</script>
</div>
</body>
</html>