<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<meta charset="UTF-8">
<title>자재입고관리</title>

</head>
<body>
	<div layout:fragment="content">
		<h3>자재입고관리</h3>
		<a href="javascript:pop()" style="margin:20px">검사완료 자재목록<a>
		<div id="mtlCheckGrid"></div>
		<br>
		<div id="mtlInGrid"></div>
		<script>
		// 검사완료 목록 출력/숨기기
	    function pop(){
    	    $('#mtlCheckGrid').toggle("size", 500);
   	    }		
		
			window.onload = function() {
				// 검사완료목록
				const mtlCheckGrid = new tui.Grid({
					el : document.getElementById('mtlCheckGrid'),
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
			          },
					columns : [ {
						header : '자재LOT',
						name : 'mtlLotNum'
					}, {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재입고수량',
						name : 'mtlInCnt'
					}, {
						header : '검사완료일',
						name : 'mtlChkDate'
					}, {
						header : '검수담당자',
						name : 'mtlChkManager'
					}, {
						header : '자재검사코드',
						name : 'mtlChkCode'
					}   ]
				});
				// 아래 리스트
				const mtlInGrid = new tui.Grid({
					el : document.getElementById('mtlInGrid'),
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					pageOptions: {
			            perPage: 10,
			            useClient: true,
			          },
					columns : [ {
						header : '자재LOT',
						name : 'mtlLotNum',
						sortable: true,
					    sortingType: 'asc'
					}, {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재입고수량',
						name : 'mtlInCnt'
					}, {
						header : '자재입고일자',
						name : 'mtlInDate'
					}, {
						header : '담당자',
						name : 'mtlManager'
					}, {
						header : '자재재고수량',
						name : 'mtlLotCnt'
					}, {
						header : '자재검사코드',
						name : 'mtlChkCode'
					}   ]
				});
				
				const header = ['mtlLotNum', 'mtlCode', 'mtlInCnt', 'mtlInDate', 'mtlManager', 'mtlLotCnt', 'mtlChkCode']

		        $.ajax({
		          url: '/mtlExist',
		          method: 'get',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {

		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            mtlInGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        })
			}
		</script>
	</div>
	
</body>
</html>