<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<meta charset="UTF-8">
<title>자재입고관리</title>
<style>
.tui-grid-body-area .tui-grid-cell .tui-grid-cell-content{
 text-align: center;
}
#chkBtn{
margin : 10px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<h3>자재입고관리</h3>
		<button type="button" id="chkBtn" class="btn btn-info">검사완료 자재목록</button>
		<div id="mtlCheckGrid"></div>
		<br>
			<div class="col-14">
				<div class="btn-group" role="group" aria-label="Basic example" style="float:right;">
				<button type="button" id="mtlSearch" class="btn btn-primary" data-toggle="modal" data-target="#myModal">상세조회</button>
				<button type="button" id="mtlSave" class="btn btn-primary">입고</button>
			</div>
		<div id="mtlInGrid"></div>
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content" style="height: 700px">
					<div class="container text-center">
					<br>
						<h2>입고관리</h2>
						<div class="modal-header row justify-content-evenly">
							<div class="col-6">
								<div class="d-flex flex-column align-items-center">
									<div class="mb-3">
									<span>검사완료일</span>
									<div class="input-group">
										<input class="form-control mr-2" id="startMtlInDate" type="date" style="width: 150px;">
										<div class="mt-2">~</div>
										<input class="form-control ml-2" id="endMtlInDate" type="date" style="width: 150px;">
									</div>			
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex flex-column align-items-center">
									<div class="mb-3">
									<span>자재이름</span> <input class="form-control mb-3" id="mtlName" type="text" style="width: 300px;">
									<span>담당자</span> <input class="form-control" id="mtlManager" type="text" style="width: 300px;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="display: flex; justify-content: center;">
						<button type="button" id="searchDataBtn" class="btn btn-primary"
							style="margin: 5px;">조회</button>
						<button type="button" id="resetModalBtn" class="btn btn-primary"
							style="margin: 4px;">초기화</button>
					</div>
					<div class="modal-body">
						<div id="mtlInModalGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose">닫기</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<script>
			let searchModalData = [];
			let mtlDate;
		// 검사완료 목록 출력/숨기기
		function toggle(){
			$('#chkBtn').on('click', function (){
        	    $('#mtlCheckGrid').toggle("blind", 1000);
       	    });
		}
	     
		document.addEventListener("DOMContentLoaded",() => {
				toggle();
				// 모달창
				const mtlInModalGrid = new tui.Grid({
					el: document.getElementById('mtlInModalGrid'),
					scrollX: false,	
					scrollY: false,
					contextMenu: null,
					rowHeaders:["rowNum"],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
		            },
					columns : [ {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '검사완료수량',
						name : 'mtlPassCnt'
					}, {
						header : '검사완료일',
						name : 'mtlChkDate'
					}, {
						header : '검수담당자',
						name : 'mtlChkManager'
					}, {
						header : '자재검사코드',
						name : 'mtlChkCode'
					}, {
						header : '검사결과',
						name : 'mtlChkStatus'
					},   ]
			    });		
			    $('#mtlSearch').on('click', function(){
                     setTimeout(() => mtlInModalGrid.refreshLayout(), 200);
                 })
                 
				// 검사완료목록
				const mtlCheckGrid = new tui.Grid({
					el : document.getElementById('mtlCheckGrid'),
					scrollX : false,
					scrollY : false,
					rowHeaders : ["rowNum"],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
			          },
					columns : [ {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '검사완료수량',
						name : 'mtlPassCnt'
					}, {
						header : '검사완료일',
						name : 'mtlChkDate'
					}, {
						header : '검수담당자',
						name : 'mtlChkManager'
					}, {
						header : '자재검사코드',
						name : 'mtlChkCode'
					}, {
						header : '검사결과',
						name : 'mtlChkStatus'
					},   ]
				});
			 // 검사완료 더블클릭시 발주목록으로 이동시키기
                mtlCheckGrid.on('dblclick', () => {
                    let rowKey =
                    	mtlCheckGrid.getFocusedCell().rowKey;
                    	mtlInModalGrid.getFocusedCell().rowKey;
                    if (rowKey != null && rowKey >= 0) {
                        let mtlCode = mtlCheckGrid.getValue(
                            rowKey,
                            "mtlCode"
                        );
                        let mtlName = mtlCheckGrid.getValue(
                            rowKey,
                            "mtlName"
                        );
                        let mtlPassCnt = mtlCheckGrid.getValue(
                            rowKey,
                            "mtlPassCnt"
                        );
                        let mtlChkCode = mtlCheckGrid.getValue(
                            rowKey,
                            "mtlChkCode"
                        );
                        let mtlChkStatus = mtlCheckGrid.getValue(
                                rowKey,
                        	"mtlChkStatus"
                        );

                        mtlCheckGrid.removeRow(rowKey);
                        mtlInModalGrid.removeRow(rowKey);
                        mtlCheckGrid.blur();
                        mtlInModalGrid.blur();
                        let now = new Date(); // 현재 날짜 및 시간
                        let year = now.getFullYear();
                        let month = (
                            "0" +
                            (now.getMonth() + 1)
                        ).substr(-2);
                        let day = (
                            "0" + now.getDate()
                        ).substr(-2);
                        let mtlInDate =
                            year + "-" + month + "-" + day;

                        mtlInGrid.appendRow(
                            {
                            	mtlCode: mtlCode,
                            	mtlName: mtlName,
                            	mtlInDate: mtlInDate,
                            	mtlInCnt: mtlPassCnt,
                            	mtlChkCode: mtlChkCode,
                            	/* mtlLotNum: 'testLotNum1', */
                            	mtlManager: '미닛맨',
                            	mtlChkStatus : mtlChkStatus
                            },
                            { at: 0 }
                        );
                        if(mtlCheckGrid.getData().length === 0){
            				$('#chkBtn').click();
            			}
                    }
                });
			    
				// 아래 리스트
				const mtlInGrid = new tui.Grid({
					el : document.getElementById('mtlInGrid'),
					data: [],
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
			          },
					columns : [ {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '자재입고수량',
						name : 'mtlInCnt'
					}, {
						header : '자재입고일자',
						name : 'mtlInDate'
					}, {
						header : '담당자',
						name : 'mtlManager'
					}, {
						header : '자재검사코드',
						name : 'mtlChkCode'
					}, {
						header : '검사결과',
						name : 'mtlChkStatus'
					}   ]
				});
				
				const header = ['mtlCode', 'mtlInCnt', 'mtlInDate', 'mtlManager', 'mtlLotCnt', 'mtlChkCode','mtlChkDate','mtlChkStatus', 'mtlName']
				// 입고 ajax
				$('#mtlSave').on('click', mtlSave)
				function mtlSave() {
					mtlInGrid.blur();
					if(!mtlInGrid.isModified()) {
						toastr.warning('입고할 내역이 없습니다.');
						return;
					}
					$.ajax({
						url: '/insertInMtl',
						type: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						data: JSON.stringify(mtlInGrid.getData()),
						success: result => {
							toastr.success("입고가 완료되었습니다");
							mtlInGrid.resetData([]);
						},
						error: err => console.log(err)
					})
				}
				
				
				// 검사완료 자재목록
				$.ajax({
		          url: '/mtlChecked',
		          method: 'get',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {

		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            mtlCheckGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        })
				
				
		        // 모달검색 ajax
/* 		        $.ajax({
		          url: '/getInMtl',
		          method: 'POST',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {

		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            mtlInModalGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        }) */
		     // 모달창의 조회버튼을 누를때 조건에 맞게 검색해주기
				$('#searchDataBtn').on('click',function(ev){
					$.ajax({
						url:'/getInMtl',
						method: 'POST',
						data:{
							mtlName: $('#mtlName').val(),
							mtlManager : $('#mtlManager').val(),
							startMtlInDate : $('#startMtlInDate').val(),
							endMtlInDate : $('#endMtlInDate').val()
						},
						success:function(result){
							searchModalData = result;
							mtlInModalGrid.resetData(result);
					 		setTimeout(() => mtlInModalGrid.refreshLayout(), 200);
						},
						error:function(err){
							console.log(err);
						}
					})
				});
			// 모달창 리스트 누르면 입고목록으로 집어넣기
                mtlInModalGrid.on('dblclick', () => {
                    let rowKey =
                    	mtlInModalGrid.getFocusedCell().rowKey;
                    	mtlCheckGrid.getFocusedCell().rowKey;
                    if (rowKey != null && rowKey >= 0) {
                        let mtlCode = mtlInModalGrid.getValue(
                            rowKey,
                            "mtlCode"
                        );
                        let mtlName = mtlInModalGrid.getValue(
                            rowKey,
                            "mtlName"
                        );
                        let mtlPassCnt = mtlInModalGrid.getValue(
                            rowKey,
                            "mtlPassCnt"
                        );
                        let mtlChkCode = mtlInModalGrid.getValue(
                            rowKey,
                            "mtlChkCode"
                        );
                        let mtlChkStatus = mtlInModalGrid.getValue(
                                rowKey,
                        	"mtlChkStatus"
                        );
                        
                        mtlCheckGrid.removeRow(rowKey);
                        mtlInModalGrid.removeRow(rowKey);
                        mtlCheckGrid.blur();
                        mtlInModalGrid.blur();

                        let now = new Date(); // 현재 날짜 및 시간
                        let year = now.getFullYear();
                        let month = (
                            "0" +
                            (now.getMonth() + 1)
                        ).substr(-2);
                        let day = (
                            "0" + now.getDate()
                        ).substr(-2);
                        let mtlInDate =
                            year + "-" + month + "-" + day;

                        mtlInGrid.appendRow(
                            {
                            	mtlCode: mtlCode,
                            	mtlName: mtlName,
                            	mtlInDate: mtlInDate,
                            	mtlInCnt: mtlPassCnt,
                            	mtlChkCode: mtlChkCode,
                            	/* mtlLotNum: 'testLotNum1', */
                            	mtlManager: '미닛맨',
                            	mtlChkStatus : mtlChkStatus
                            },
                            { at: 0 }
                        );
                        $("#modalClose").click();
                    }
                });
		// 모달 초기화버튼
		$('#resetModalBtn').on('click',function(){
			mtlInModalGrid.resetData([]);
			$('#startMtlInDate').val('');
			$('#endMtlInDate').val('');
			$('#mtlManager').val('');
			$('#mtlName').val('');
		});
		
		// 알람창
	    toastr.options = {
              "closeButton": false,
              "debug": false,
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-center",
              "preventDuplicates": true,
              "onclick": null,
              "showDuration": "100",
              "hideDuration": "1000",
              "timeOut": "1500",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }
		
	});
		</script>
	</div>
	</div>
</body>
</html>