<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<meta charset="UTF-8">
<title>자재입고관리</title>

</head>
<body>
	<div layout:fragment="content">
		<h3>자재입고관리</h3>
		<a href="javascript:pop()" style="margin:20px">검사완료 자재목록<a>
		<div id="mtlCheckGrid"></div>
		<br>
			<div class="col-14">
				<div class="btn-group" role="group" aria-label="Basic example" style="float:right;">
				<button type="button" id="mtlSearch" class="btn btn-primary" data-toggle="modal" data-target="#myModal">조회</button>
				<button type="button" id="mtlSave" class="btn btn-primary">입고</button>
			</div>
		<div id="mtlInGrid"></div>
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content" style="height: 700px">
					<div class="container text-center">
					<br>
						<h2>입고관리</h2>
						<div class="modal-header row justify-content-evenly">
							<div class="col-6">
								<div class="d-flex flex-column align-items-center">
									<div class="mb-3">
									<span>자재입고일</span>
									<div class="input-group">
										<input class="form-control" id="mtlInDate" type="date" style="width: 150px;">
										<input class="form-control" id="mtlInDate" type="date" style="width: 150px;">
									</div>			
									</div>
									<div>
									<span>검사완료일</span>
									<div class="input-group">
										 <input class="form-control" id="mtlChkDate" type="date" style="width: 150px;">
										 <input class="form-control" id="mtlChkDate" type="date" style="width: 150px;">
									</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex flex-column align-items-center">
									<div class="mb-3">
									<span>자재이름</span> <input class="form-control" id="mtlName" type="text" style="width: 300px;">
									<span>담당자</span> <input class="form-control" id="mtlManager" type="text" style="width: 300px;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="display: flex; justify-content: center;">
						<button type="button" id="searchDataBtn" class="btn btn-primary"
							style="margin: 5px;">조회</button>
						<button type="button" id="resetModalBtn" class="btn btn-primary"
							style="margin: 4px;">초기화</button>
					</div>
					<div class="modal-body">
						<div id="modalGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" id="addModalBtn" class="btn btn-default">저장</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<script>
	       let modalSearchData;
		   let mtlDate;
		// 검사완료 목록 출력/숨기기
	    function pop(){
    	    $('#mtlCheckGrid').toggle("size", 500);
   	    }		     
			window.onload = function() {
				// 모달창
				const modalGrid = new tui.Grid({
					el: document.getElementById('modalGrid'),
					scrollX: false,	
					scrollY: false,
					contextMenu: null,
					rowHeaders:["checkbox"],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
		            },
					columns: [
					{
						header: '자재',
						name: 'mtlCode',
						align: 'center'
					},
					{
						header: '거래처',
						name: 'bpCode',
						align: 'center'
					},
					{
						header: '발주일자',
						name: 'mtlDate',
						align: 'center'
					},
					{
						header: '담당자',
						name: 'mtlManager',
						align: 'center'
					},
					]
			    });		
				// 모달그리드 클릭이벤트
				modalGrid.on('click', (ev) => {
					alert('성공');
					});
			    $('#mtlSearch').on('click', function(){
                     setTimeout(() => modalGrid.refreshLayout(), 200);
                 })
                 
				// 검사완료목록
				const mtlCheckGrid = new tui.Grid({
					el : document.getElementById('mtlCheckGrid'),
					scrollX : false,
					scrollY : false,
					rowHeaders : ["checkbox","rowNum" ],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
			          },
					columns : [ {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '자재입고수량',
						name : 'mtlPassCnt'
					}, {
						header : '검사완료일',
						name : 'mtlChkDate'
					}, {
						header : '검수담당자',
						name : 'mtlChkManager'
					}, {
						header : '자재검사코드',
						name : 'mtlChkCode'
					}, {
						header : '검사결과',
						name : 'mtlStatusNm'
					},   ]
				});
			 // 미달목록 더블클릭시 발주목록으로 이동시키기
                mtlCheckGrid.on('dblclick', () => {
                    let rowKey =
                    	mtlCheckGrid.getFocusedCell().rowKey;

                    if (rowKey != null && rowKey >= 0) {
                        let mtlCode = mtlCheckGrid.getValue(
                            rowKey,
                            "mtlCode"
                        );
                        let mtlName = mtlCheckGrid.getValue(
                            rowKey,
                            "mtlName"
                        );
                        let mtlPassCnt = mtlCheckGrid.getValue(
                            rowKey,
                            "mtlPassCnt"
                        );
                        let mtlChkCode = mtlCheckGrid.getValue(
                            rowKey,
                            "mtlChkCode"
                        );
                        

                        mtlCheckGrid.removeRow(rowKey);

                        mtlCheckGrid.blur();

                        let now = new Date(); // 현재 날짜 및 시간
                        let year = now.getFullYear();
                        let month = (
                            "0" +
                            (now.getMonth() + 1)
                        ).substr(-2);
                        let day = (
                            "0" + now.getDate()
                        ).substr(-2);
                        let mtlInDate =
                            year + "-" + month + "-" + day;

                        mtlInGrid.appendRow(
                            {
                            	mtlCode: mtlCode,
                            	mtlName: mtlName,
                            	mtlInDate: mtlInDate,
                            	mtlInCnt: mtlPassCnt,
                            	mtlChkCode: mtlChkCode,
                            	/* mtlLotNum: 'testLotNum1', */
                            	mtlManager: '남태원'
                            },
                            { at: 0 }
                        );
                    }
                });
			    
				// 아래 리스트
				const mtlInGrid = new tui.Grid({
					el : document.getElementById('mtlInGrid'),
					data: [],
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
			          },
					columns : [ {
						header : '자재LOT',
						name : 'mtlLotNum',
						sortable: true,
					    sortingType: 'asc'
					}, {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '자재입고수량',
						name : 'mtlInCnt'
					}, {
						header : '자재입고일자',
						name : 'mtlInDate'
					}, {
						header : '담당자',
						name : 'mtlManager'
					}, {
						header : '자재검사코드',
						name : 'mtlChkCode'
					}   ]
				});
				
				const header = ['mtlLotNum', 'mtlCode', 'mtlInCnt', 'mtlInDate', 'mtlManager', 'mtlLotCnt', 'mtlChkCode','mtlChkDate','mtlStatusNm', 'mtlName']
				// 검사완료 자재목록
				$.ajax({
		          url: '/mtlChecked',
		          method: 'get',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {

		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            mtlCheckGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        })
				
				// 입고 아래리스트
		        $.ajax({
		          url: '/insertInMtl',
		          method: 'POST',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {

		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            mtlInGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        })
			}
		</script>
	</div>
	
</body>
</html>