<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>자재재고목록</title>

</head>
<body>
	<div layout:fragment="content">
		<div id="grid"></div>
		<script>
			var grid;
			window.onload = function() {
				const grid = new tui.Grid({
					el : document.getElementById('grid'),
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					columns : [ {
						header : '자재LOT',
						name : 'mtlLotNum'
					}, {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재입고수량',
						name : 'mtlInCnt'
					}, {
						header : '자재입고일자',
						name : 'mtlInDate'
					}, {
						header : '담당자',
						name : 'mtlManager'
					}, {
						header : '자재재고수량',
						name : 'mtlLotCnt'
					}, {
						header : '자재검사코드',
						name : 'mtlChkCode'
					}   ]
				});
				
				const header = ['mtlLotNum', 'mtlCode', 'mtlInCnt', 'mtlInDate', 'mtlManager', 'mtlLotCnt', 'mtlChkCode']

		        // Orders List불러오기
		        $.ajax({
		          url: '/mtlExist',
		          method: 'get',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {

		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            grid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        })
			}
		</script>
	</div>
	
</body>
</html>