<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>자재재고목록</title>

</head>
<body>
	<div layout:fragment="content">
		<h3>자재재고목록</h3>
		<div>
			<span>자재종류</span>
			<select id="mtlPick">
				<option value="" selected>원자재</option>
				<option value="" selected>부자재</option>
				<option value="" selected>-전체-</option>
			</select>
			<input id="mtlName" placeholder="">
			<br>
			<span>재고상황</span>
			<select id="mtlStatus">
				<option value="" selected>안전</option>
				<option value="" selected>부족</option>
				<option value="" selected>-전체-</option>
			</select>
			<br>
			<button type="button" id="searchBtn" class="btn btn-primary">조회</button>
		</div>
		<div id="mtlGrid"></div>
		<script>
		
			window.onload = function() {
				
				const mtlGrid = new tui.Grid({
					el : document.getElementById('mtlGrid'),
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					pageOptions: {
			            perPage: 10,
			            useClient: true,
			          },
					columns : [ {
						header : '자재LOT',
						name : 'mtlLotNum',
						sortable: true,
					    sortingType: 'asc'
					}, {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재입고수량',
						name : 'mtlInCnt'
					}, {
						header : '자재입고일자',
						name : 'mtlInDate'
					}, {
						header : '담당자',
						name : 'mtlManager'
					}, {
						header : '자재재고수량',
						name : 'mtlLotCnt'
					}, {
						header : '자재검사코드',
						name : 'mtlChkCode'
					}   ]
				});
				
				const header = ['mtlLotNum', 'mtlCode', 'mtlInCnt', 'mtlInDate', 'mtlManager', 'mtlLotCnt', 'mtlChkCode']

		        $.ajax({
		          url: '/mtlExist',
		          method: 'get',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {

		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            mtlGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        })
			}
		</script>
	</div>
	
</body>
</html>