<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<meta charset="UTF-8">
<title>자재-발주관리</title>
<style>
.selec {
background-color: cadetblue;
}

.tui-grid-body-area .tui-grid-cell .tui-grid-cell-content{
 text-align: center;
}
#minusBtn{
margin : 10px;
}


</style>
</head>
<body>
	<div layout:fragment="content">
	<h1>발주 관리</h1>
		<button type="button" id="minusBtn" class="btn btn-info" style="background-color: orange; border-color:orange;">안전재고 미달목록</button>
		<div id="mtlLowGrid"></div>
		<br>
		<div class="col-14">
		<div class="btn-group" role="group" aria-label="Basic example" style="float:right;">
			<button type="button" id="addRow" class="btn btn-primary">추가</button>
			<button type="button" id="mtlSearch" class="btn btn-primary" data-toggle="modal" data-target="#myModal">조회</button>
			<button type="button" id="mtlSave" class="btn btn-primary">발주</button>
		</div>
		<div id="mtlNeedGrid"></div>
		
			<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content" style="height: 720px">
					<div class="container text-center">
					<br>
						<h2>발주관리</h2>
						<div class="modal-header row justify-content-evenly">
							<div class="col-6">
								<div class="d-flex flex-column align-items-center">
									<div class="mb-3">
									<span>자재발주일</span>
									<div class="input-group">
										<input class="form-control mr-2" id="startMtlNeedDate" type="date" style="width: 150px;">
										<div class="mt-2">~</div>
										<input class="form-control ml-2" id="endMtlNeedDate" type="date" style="width: 150px;">
									</div>			
									</div>
									<div>
									<span>납기요청일</span>
									<div class="input-group">
										<input class="form-control mr-2" id="startMtlWishDate" type="date" style="width: 150px;">
										<div class="mt-2">~</div>
										<input class="form-control ml-2" id="endMtlWishDate" type="date" style="width: 150px;">
									</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex flex-column align-items-center">
									<div class="mb-3">
										<span>자재이름</span> <input class="form-control mb-3" id="mtlName" type="text" style="width: 300px;">
										<span>담당자</span> <input class="form-control" id="mtlManager" type="text" style="width: 300px;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-3">
					<div class="col-md-3 offset-md-5">
						<button type="button" id="searchDataBtn" class="btn btn-primary "
							style="margin: 4px; margin-left:27px;">조회</button>
						<button type="button" id="resetModalBtn" class="btn btn-primary"
							style="margin: 4px;">초기화</button>
					</div>
					<div class="col-md-1 offset-md-3">
						<button type="button" id="deleteBtn" class="btn btn-danger"
							style="margin: 5px; justify-content: right;">삭제</button>
					</div>
					</div>


					<div class="modal-body">
						<div id="needModalGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" id="modalClose" >닫기</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<!-- 거래처모달 -->
			<div id="bpModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl" role="document" style="width:600px; height:500px;" >
				<div class="modal-content" style="height: 700px">
					<div class="container text-center">
					<br>
						<h2>거래처목록</h2>
						<div class="modal-header row justify-content-evenly">
						</div>
					</div>
					<div class="modal-body">
						<div id="bpGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn">닫기</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<!-- 자재모달 -->
		<div id="matModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl" role="document" style="width:600px; height:500px;" >
				<div class="modal-content" style="height: 700px">
					<div class="container text-center">
					<br>
						<h2>자재목록</h2>
							<div class="modal-header row justify-content-evenly">
						</div>
					</div>
					<div class="modal-body">
						<div id="matGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="matPlusBtn">추가</button>
						<button type="button" class="btn btn-default" data-dismiss="modal" id="matCloseBtn">닫기</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<!-- 자재모달 수정용 -->
		<div id="matModal2" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl" role="document" style="width:600px; height:500px;" >
				<div class="modal-content" style="height: 700px">
					<div class="container text-center">
					<br>
						<h2>자재목록</h2>
							<div class="modal-header row justify-content-evenly">
						</div>
					</div>
					<div class="modal-body">
						<div id="matGrid2"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" id="matCloseBtn1">닫기</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<script th:inline="javascript">
			let manager = [[${session.loginMember.empName}]];
			let mtlInfo = [];
			let bucket = [];
			let newBucket = [];
			// 안전재고 미달목록 출력/숨기기
			$('#minusBtn').on('click', function (){
        	    $('#mtlLowGrid').toggle("blind", 1000);
       	    });
		    document.addEventListener("DOMContentLoaded",() => {
			            
				// 모달창
				const needModalGrid = new tui.Grid({
					el: document.getElementById('needModalGrid'),
					scrollX: false,	
					scrollY: false,
					contextMenu: null,
					rowHeaders:["checkbox"],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
		            },
					columns: [ {
						header : '분류',
						name : 'mtlType',
						align: 'center'
					}, {
						header : '자재코드',
						name : 'mtlCode',
						sortable: true,
					    sortingType: 'asc',
					    align: 'center'
					}, {
						header : '자재이름',
						name : 'mtlName',
						align: 'center'
					}, {
						header: '거래처',
						name: 'bpName',
						align: 'center'
					}, {
						header: '거래처',
						name: 'bpCode',
						align: 'center',
						hidden : true
					}, {
						header: '수량',
						name: 'mtlCnt',
						align: 'center'
					}, {
						header: '발주일자',
						name: 'mtlDate',
						align: 'center'
					}, {
						header : '납기요청일',
						name : 'mtlWishDate',
						align: 'center'						
					}, {
						header: '담당자',
						name: 'mtlManager',
						align: 'center'
					}, {
						header: '발주코드',
						name: 'needCode',
						align: 'center',
						hidden: true
					}, {
						header: '주문상태',
						name: 'mtlWhere',
						align: 'center',
						hidden: true
					}]
			    });								

			    $('#mtlSearch').on('click', function(){
                     setTimeout(() => needModalGrid.refreshLayout(), 200);
                 })

				// 안전재고미달 자재목록
				const mtlLowGrid = new tui.Grid({
					el : document.getElementById('mtlLowGrid'),
					data: [],
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
			          },
					columns : [ {
						header : '분류',
						name : 'mtlType'
					}, {
						header : '자재코드',
						name : 'mtlCode',
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '현재수량',
						name : 'mtlLotCnt'
					}, {
						header : '안전재고수량',
						name : 'mtlSs'
					}, {
						header : '수량차',
						name : 'mtlNow'
					}   ]
				});
			    
			    
                //선택한 행 색깔 바꾸기
/*        			mtlLowGrid.on('focusChange', (ev) => {
       			 mtlLowGrid.setSelectionRange({
       			      start: [ev.rowKey, 0],
       			      end: [ev.rowKey, mtlLowGrid.getColumns().length-1]
       			    });
       			  }); */
                
                // 미달목록 더블클릭시 발주목록으로 이동시키기
                mtlLowGrid.on('dblclick', () => {
                    let rowKey =
                    	mtlLowGrid.getFocusedCell().rowKey;

                    if (rowKey != null && rowKey >= 0) {
                        let mtlCode = mtlLowGrid.getValue(
                            rowKey,
                            "mtlCode"
                        );
                        let mtlName = mtlLowGrid.getValue(
                            rowKey,
                            "mtlName"
                        );
                        let mtlType = mtlLowGrid.getValue(
                            rowKey,
                            "mtlType"
                        );
                        let mtlNow = mtlLowGrid.getValue(
                            rowKey,
                            "mtlNow"
                        );
                        let mtlUnit = mtlLowGrid.getValue(
                            rowKey,
                            "mtlUnit"
                        );
                        

                        mtlLowGrid.removeRow(rowKey);

                        mtlLowGrid.blur();

                        let now = new Date(); // 현재 날짜 및 시간
                        let year = now.getFullYear();
                        let month = (
                            "0" +
                            (now.getMonth() + 1)
                        ).substr(-2);
                        let day = (
                            "0" + now.getDate()
                        ).substr(-2);
                        let mtlDate =
                            year + "-" + month + "-" + day;

                        mtlNeedGrid.appendRow(
                            {
                            	mtlCode: mtlCode,
                            	mtlDate: mtlDate,
                            	mtlName: mtlName,
                            	mtlType: mtlType,
                            	mtlCnt: (-1)*mtlNow,
                            	mtlUnit: mtlUnit,
                            	mtlManager: manager
                            },
                            { at: 0 }
                        );
                    }
                    if(mtlLowGrid.getData().length === 0){
        				$('#minusBtn').click();
        			}
                });
                
				const mtlNeedGrid = new tui.Grid({
					el : document.getElementById('mtlNeedGrid'),
					data: [],
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					pagination: true,
					pageOptions: {
			            perPage: 7,
			            useClient: true
			          },
					columns : [ {
						header : '분류',
						name : 'mtlType',
					    editor: {
					        type: 'select',
					        options: {
					          listItems: [
					            { text: '원자재', value: 'MA01' },
					            { text: '부자재', value: 'MA02' }
					          ]
					        }
					      }
					},
						{
						header : '자재코드',
						name : 'mtlCode',
						sortable: true,
					    sortingType: 'asc',
						editor:{type: 'text'}
					}, {
						header : '자재이름',
						name : 'mtlName',
						editor:{type: 'text'}
					}, {
						header : '자재발주일',
						name : 'mtlDate',
						sortable: true,
					    sortingType: 'asc'
					}, {
						header : '거래처이름',
						name : 'bpName',
						sortable: true,
					    sortingType: 'asc',
						editor:{type: 'text'}
					}, {
						header: '거래처',
						name: 'bpCode',
						align: 'center',
						hidden : true
					}, {
						header : '수량',
						name : 'mtlCnt',
						editor:{type: 'text'},
						validation: {
						    dataType: 'number'
						  }
					}, {
						header : '단위',
						name : 'mtlUnit',
					    editor: {
					        type: 'select',
					        options: {
					          listItems: [
					            { text: 'ea', value: 'ea' },
					            { text: 'box', value: 'box' }
					          ]
					        }
					      }
					}, {
						header : '담당자',
						name : 'mtlManager',
						editor:{type: 'text'}
					}, {
						header : '납기요청일',
						name : 'mtlWishDate',
						editor: 'datePicker'
					}, {
						header: '주문상태',
						name: 'mtlWhere',
						align: 'center',
						hidden : true
					}, {
						header: '발주코드',
						name: 'needCode',
						align: 'center',
						hidden : true
					}   ]
				});
				
				const header = ['mtlCode', 'mtlDate', 'bpName', 'mtlName', 'mtlCnt', 'mtlUnit', 'mtlManager','mtlWishDate','mtlWhereNm','mtlLotCnt','mtlSs','mtlNow','mtlType','bpCode', 'mtlWhere', 'needCode']
				
/*        			// 발주목록에서 취소시키기
                mtlNeedGrid.on('dblclick', () => {
                    let rowKey =
                    	mtlNeedGrid.getFocusedCell().rowKey;

                    if (rowKey != null && rowKey >= 0) {
                        let mtlCode = mtlNeedGrid.getValue(
                            rowKey,
                            "mtlCode"
                        );
                        let mtlName = mtlNeedGrid.getValue(
                            rowKey,
                            "mtlName"
                        );
                        let mtlType = mtlNeedGrid.getValue(
                            rowKey,
                            "mtlType"
                        );
                        let mtlCnt = mtlNeedGrid.getValue(
                            rowKey,
                            "mtlCnt"
                        );
                        

                        mtlNeedGrid.removeRow(rowKey);

                        mtlNeedGrid.blur();

                        mtlLowGrid.appendRow(
                            {
                            	mtlCode: mtlCode,
                            	mtlName: mtlName,
                            	mtlType: mtlType,
                            	mtlNow: (-1)*mtlCnt,
                            },
                            { at: 0 }
                        );
                    }
                }); */
				
				//안전재고미달 ajax
				$.ajax({
			          url: '/mtlMinus',
			          method: 'get',
			          dataType: 'json',
			          success: function (result) {
			            //날짜변환
			            $(result).each(function (idx, obj) {
			              for (let head of header) {

			                if (head.slice(-4).toLowerCase() == 'date') {
			                  obj[head] = getDate(obj[head]);
			                }
			              }
			            });
			            mtlLowGrid.resetData(eval(result));
			          },
			          error: function (err) {
			            console.log(err);
			          }
			        })
                
				// 발주 ajax
			$('#mtlSave').on('click', mtlSave)
			function mtlSave() {
                mtlNeedGrid.blur();
				if(!mtlNeedGrid.isModified()) {
					toastr.warning("발주할 내역이 없습니다");
					return;
				}
				$.ajax({
					url: '/insertNeedMtl',
					type: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(mtlNeedGrid.getData()),
					success: result => {
						toastr.success("발주가 완료되었습니다.");
						mtlNeedGrid.resetData([]);
					},
					error: err => console.log(err)
				})
			}
		        // 모달창에서 미리 보여주기 하고싶으면 켜쇼 ajax
/* 		        $.ajax({
		          url: '/getNeedMtl',
		          method: 'POST',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {

		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            needModalGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        }) */
		    // 행추가 기능    
/* 		    $(addRow).on('click', (ev)=> {
		    	mtlNeedGrid.blur()
		    	        let now = new Date(); // 현재 날짜 및 시간
                        let year = now.getFullYear();
                        let month = (
                            "0" +
                            (now.getMonth() + 1)
                        ).substr(-2);
                        let day = (
                            "0" + now.getDate()
                        ).substr(-2);
                        let mtlDate =
                            year + "-" + month + "-" + day;
				mtlNeedGrid.appendRow(
                        {
                        	mtlDate: mtlDate
                        }
                    );
			}) */
				// 모달창의 조회버튼을 누를때 조건에 맞게 검색해주기
				$('#searchDataBtn').on('click',function(ev){
					$.ajax({
						url:'/getNeedMtl',
						method: 'POST',
						data:{
							mtlName: $('#mtlName').val(),
							mtlManager : $('#mtlManager').val(),
							startMtlNeedDate : $('#startMtlNeedDate').val(),
							endMtlNeedDate : $('#endMtlNeedDate').val(),
							startMtlWishDate : $('#startMtlWishDate').val(),
							endMtlWishDate : $('#endMtlWishDate').val(),
						},
						success:function(result){
							searchModalData = result;
							needModalGrid.resetData(result);
					 		setTimeout(() => needModalGrid.refreshLayout(), 200);
						},
						error:function(err){
							console.log(err);
						}
					})
						
					});
		    	// 거래처 선택 모달
				// 거래처표
				const bpGrid = new tui.Grid({
					el: document.getElementById('bpGrid'),
					data:[],
					scrollX: false,
					pagination: true,
					pageOptions: {
						useClient: true,
						perPage: 10,
					},
					rowHeaders: ['rowNum'],
					columns: [{
						header: '거래처코드',
						name: 'bpCode'
					}, {
						header: '거래처명',
						name: 'bpName'					
					}, {
						header: '주거래품목',
						name: 'bpMain'					
					}, {
						header: '연락처',
						name: 'bpTell'					
					}]
				});
				// 그리드 클릭시 모달 팝업
				mtlNeedGrid.on('click', (ev)=>{
		          if (ev.columnName === 'bpName') {
						$.ajax({
							url:'/mdm/selectBpList',
				            method: 'get',
				            data:[],
							success: function (result) {
								bpGrid.resetData(result);
					              setTimeout(() => bpGrid.refreshLayout(), 200);
					              $("#bpModal").modal('show');
					            },
					            error: function (err) {
					              console.log(err)
					            }
					          })
		            }
				        });
	              // 거래처목록 더블클릭시 발주목록으로 이동시키기
				bpGrid.on('dblclick', () => {
				    let rowKey = bpGrid.getFocusedCell().rowKey;
				    if (rowKey != null && rowKey >= 0) {
				        let bpName = bpGrid.getValue(rowKey, "bpName");
				        let bpCode = bpGrid.getValue(rowKey, "bpCode");
						// 선택한 행에 값이 들어가게 행 키값 지정해주기
				        let mtlRowKey = mtlNeedGrid.getFocusedCell().rowKey;
				        if (mtlRowKey != null && mtlRowKey >= 0) {
				            mtlNeedGrid.setValue(mtlRowKey, "bpName", bpName);
				            mtlNeedGrid.setValue(mtlRowKey, "bpCode", bpCode);
				        }
				        $("#closeBtn").click();
				    }
				});

		    	// 자재 선택 모달
				// 자재목록
				const matGrid = new tui.Grid({
					el: document.getElementById('matGrid'),
					data:[],
					scrollX: false,
					pagination: true,
					pageOptions: {
						useClient: true,
						perPage: 10,
					},
					rowHeaders: [ 'checkbox','rowNum'],
					columns: [{
						header: '자재코드',
						name: 'mtlCode'
					}, {
						header: '자재명',
						name: 'mtlName'					
					}, {
						header: '분류',
						name: 'mtlType'					
					}, {
						header: '단위',
						name: 'mtlUnit'
					}, {
						header: '주문상태',
						name: 'mtlWhere',
						hidden : true
					}, {
						header: '발주코드',
						name: 'needCode',
						hidden : true
					}]
				});
				// 자재목록 수정용
				const matGrid2 = new tui.Grid({
					el: document.getElementById('matGrid2'),
					data:[],
					scrollX: false,
					pagination: true,
					pageOptions: {
						useClient: true,
						perPage: 10,
					},
					rowHeaders: ['rowNum'],
					columns: [{
						header: '자재코드',
						name: 'mtlCode'
					}, {
						header: '자재명',
						name: 'mtlName'					
					}, {
						header: '분류',
						name: 'mtlType'					
					}, {
						header: '단위',
						name: 'mtlUnit'
					}, {
						header: '주문상태',
						name: 'mtlWhere',
						hidden : true
					}, {
						header: '발주코드',
						name: 'needCode',
						hidden : true
					}]
				});
				// 그리드 클릭시 모달 팝업
				mtlNeedGrid.on('click', (ev)=>{
		          if (ev.columnName === 'mtlName' || ev.columnName === 'mtlCode') {
						$.ajax({
							url:'/mdm/selectMtlList',
							success: function (result){
								matGrid2.resetData(result)
					            setTimeout(() => matGrid2.refreshLayout(), 200);
					            $("#matModal2").modal('show');
							},
					        error: function (err) {
					            console.log(err)
					        }
							})
		           		}
				});
				// 추가버튼 클릭시 자재선택 모달 팝업
				$(addRow).on('click', (ev)=>{
							$.ajax({
								url:'/mdm/selectMtlList',
								success: function (result){
									for(let data of result){
										data.mtlUse = null
									}
									matGrid.resetData(result)
						            setTimeout(() => matGrid.refreshLayout(), 200);
						            $("#matModal").modal('show');
								},
						        error: function (err) {
						            console.log(err)
						        }
								})
					});
				// 자재목록 체크한 품목 발주목록으로 이동시키기
				 $('#matPlusBtn').on('click', function (ev) {
					 	mtlNeedGrid.blur();
		    	        let now = new Date(); // 현재 날짜 및 시간
                        let year = now.getFullYear();
                        let month = (
                            "0" +
                            (now.getMonth() + 1)
                        ).substr(-2);
                        let day = (
                            "0" + now.getDate()
                        ).substr(-2);
                        let mtlDate =
                            year + "-" + month + "-" + day;
                        
					 	let datas = matGrid.getCheckedRows();
					 	
					 	let mtlCode = matGrid.getValue("mtlCode");
					 	let mtlWhere = matGrid.getValue("mtlWhere");
					 	let needCode = matGrid.getValue("needCode");
					 	datas.forEach((data,index)=>{
					 		data.mtlDate = mtlDate;
					 		data.mtlManager = manager;
					 		data.mtlWhere = mtlWhere;
					 		data.needCode = needCode;
					 		delete data.rowKey;
					 		delete data._attributes;
							mtlNeedGrid.appendRow(data);
					 	})
					 	
					 	
					 	
					 	mtlNeedGrid.getData();
					 	$("#matCloseBtn").click();
		        });
				
                // 자재목록 더블클릭시 발주목록으로 이동시키기
				matGrid2.on('dblclick', () => {
				    let rowKey = matGrid2.getFocusedCell().rowKey;
				    if (rowKey != null && rowKey >= 0) {
				        let mtlName = matGrid2.getValue(rowKey, "mtlName");
				        let mtlCode = matGrid2.getValue(rowKey, "mtlCode");
				        let mtlUnit = matGrid2.getValue(rowKey, "mtlUnit");
				        let mtlType = matGrid2.getValue(rowKey, "mtlType");
						// 선택한 행에 값이 들어가게 행 키값 지정해주기
				        let mtlRowKey = mtlNeedGrid.getFocusedCell().rowKey;
				        if (mtlRowKey != null && mtlRowKey >= 0) {
				            mtlNeedGrid.setValue(mtlRowKey, "mtlName", mtlName);
				            mtlNeedGrid.setValue(mtlRowKey, "mtlCode", mtlCode);
				            mtlNeedGrid.setValue(mtlRowKey, "mtlUnit", mtlUnit);
				            mtlNeedGrid.setValue(mtlRowKey, "mtlType", mtlType);
				        }
				        $("#matCloseBtn1").click();
				    }
				});	
				
				
                // 모달 리스트 클릭시 아래 리스트로 이동
                needModalGrid.on('dblclick', () => {
                    let rowKey = needModalGrid.getFocusedCell().rowKey;

                    if (rowKey != null && rowKey >= 0) {
                        let mtlCode = needModalGrid.getValue(
                            rowKey,
                            "mtlCode"
                        );
                        let mtlName = needModalGrid.getValue(
                            rowKey,
                            "mtlName"
                        );
                        let mtlType = needModalGrid.getValue(
                            rowKey,
                            "mtlType"
                        );
                        let mtlCnt = needModalGrid.getValue(
                            rowKey,
                            "mtlCnt"
                        );
                        let bpName = needModalGrid.getValue(
                                rowKey,
                                "bpName"
                        );
                        let bpCode = needModalGrid.getValue(
                                rowKey,
                                "bpCode"
                        );
                        let mtlWishDate = needModalGrid.getValue(
                                rowKey,
                                "mtlWishDate"
                        );
                        let mtlUnit = needModalGrid.getValue(
                                rowKey,
                                "mtlUnit"
                        );
                        let mtlWhere = needModalGrid.getValue(
                                rowKey,
                                "mtlWhere"
                        );
                        let needCode = needModalGrid.getValue(
                                rowKey,
                                "needCode"
                        );
                        

                        needModalGrid.removeRow(rowKey);

                        needModalGrid.blur();

                        let now = new Date(); // 현재 날짜 및 시간
                        let year = now.getFullYear();
                        let month = (
                            "0" +
                            (now.getMonth() + 1)
                        ).substr(-2);
                        let day = (
                            "0" + now.getDate()
                        ).substr(-2);
                        let mtlDate =
                            year + "-" + month + "-" + day;

                        mtlNeedGrid.appendRow(
                            {
                            	mtlCode: mtlCode,
                            	mtlDate: mtlDate,
                            	mtlName: mtlName,
                            	mtlType: mtlType,
                            	mtlCnt: mtlCnt,
                            	bpName: bpName,
                            	mtlWishDate: mtlWishDate,
                            	mtlUnit: mtlUnit,
                            	mtlManager: manager,
                            	mtlWhere : mtlWhere,
                            	bpCode: bpCode,
                            	needCode: needCode
                            },
                            { at: 0 }
                        );
                        $("#modalClose").click();
                    }
                });
        		// 모달 초기화버튼
        		$('#resetModalBtn').on('click',function(){
        			needModalGrid.resetData([]);
        			$('#startMtlNeedDate').val('');
        			$('#endMtlNeedDate').val('');
        			$('#startMtlWishDate').val('');
        			$('#endMtlWishDate').val('');
        			$('#mtlManager').val('');
        			$('#mtlName').val('');
        		});
        		
        		// 알람창
        		    toastr.options = {
			              "closeButton": false,
			              "debug": false,
			              "newestOnTop": false,
			              "progressBar": true,
			              "positionClass": "toast-top-center",
			              "preventDuplicates": true,
			              "onclick": null,
			              "showDuration": "100",
			              "hideDuration": "1000",
			              "timeOut": "1500",
			              "extendedTimeOut": "1000",
			              "showEasing": "swing",
			              "hideEasing": "linear",
			              "showMethod": "fadeIn",
			              "hideMethod": "fadeOut"
			            }
        			// 모달창 체크항목 삭제처리
					$('#deleteBtn').on('click',function(){
						newData={};
						newData.needList = needModalGrid.getCheckedRows();
						$.ajax({
							url:'/deleteNeedMtl',
							method:'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							data: JSON.stringify(needModalGrid.getCheckedRows()),
							success:function(result){
									toastr.success('발주내역이 삭제되었습니다');
									needModalGrid.removeCheckedRows();
									newBucket = needModalGrid.getData();//
							},
							error:function(err){
								console.log(err);
							}
							
						})
					})
			});
		</script>
	</div>
	</div>
</body>
</html>