<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>SMARTREE</title>

<style>
.excelDownload {
margin-top: 0px;
float: right;
}
.tui-grid-body-area .tui-grid-cell .tui-grid-cell-content{
 text-align: center;
}

</style>

</head>
<body>
	<div layout:fragment="content">
		<div class="row">
		<div class="col-5">
			<h1>발주 조회</h1>
				<div class="input-group mb-3 ml-3">
				<label class="mr-2 mt-1" style="">자재발주일</label>
						<input class="form-control mr-2" id="startMtlNeedDate" type="date" style="width: 138px;">
						<div class="mt-2">~</div>
						<input class="form-control ml-2" id="endMtlNeedDate" type="date" style="width: 138px;">
					<input type="text" class="form-control col-2 ml-4" placeholder="거래처명" id="bpName">
					<div class="input-group-append" >
				   	<button class="btn btn-outline-secondary" type="button" id="btnLeft" style="height: 32px; padding: 3px; padding-left: 20px; padding-right: 20px;">검색</button>
				   	<button class="btn btn-outline-secondary" type="button" id="resetLeftBtn" style="height: 32px; padding: 3px; padding-left: 13px; padding-right: 13px;">초기화</button>
					</div>
				</div> 
			<div id="mtlNeedGrid" class="lightgrey"></div>
		</div>
		<div class="col-7">
			<h1 style="margin-bottom: 22px;">발주서</h1>
			<button type="button" class="btn btn-info btn-icon-text excelDownload">Excel 
				<i class="bi bi-printer"></i>
       		</button>
       		<button type="button" class="btn btn-info btn-icon-text excelDownload" id="pdfBtn">PDF 
				<i class="bi bi-printer"></i>
       		</button>
			<div id=mtlNeedListGrid class="lightgrey"></div>
		</div>


		</div>


		
		<script>
		
		document.addEventListener("DOMContentLoaded",() => {
			let searchData = [];
			let codeType;
			let cdl;	
			
			// 발주목록 그리드- 거래처명,발주일자,담당자가 같은경우 한건씩만 나오게
				const mtlNeedGrid = new tui.Grid({
					el : document.getElementById('mtlNeedGrid'),
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					minBodyHeight: 450,
					pageOptions: {
			            perPage: 11,
			            useClient: true,
			          },
					columns : [ {
						header : '거래처명',
						name : 'bpName',
						sortable: true,
					}, {
						header : '담당자',
						name : 'mtlManager'
					},{
						header : '발주일자',
						name : 'mtlDate',
						sortable: true						
					}, {
						header : '납기요청일',
						name : 'mtlWishDate'
					} ]
				});
				
				const header = ['mtlWhere','mtlWishDate','bpName', 'mtlLotNum', 'mtlCode', 'mtlInCnt', 'mtlDate', 'mtlManager', 'mtlLotCnt', 'mtlChkCode', 'mtlName','startMtlNeedDate','endMtlNeedDate','startMtlWishDate','endMtlWishDate','mtlWishDate','needCode']
				
				// 발주서별 목록 그리드
				const mtlNeedListGrid = new tui.Grid({
					el : document.getElementById('mtlNeedListGrid'),
					data: [],
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					minBodyHeight: 450,
					pageOptions: {
			            perPage: 11,
			            useClient: true,
			          },
					columns : [ {
						header : '거래처명',
						name : 'bpName'
					},{
						header : '분류',
						name : 'mtlType'
					}, {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '수량',
						name : 'mtlCnt'
					}, {
						header : '단위',
						name : 'mtlUnit'
					}, {
						header : '진행상황',
						name : 'mtlWhere'
					}, {
						header : '담당자',
						name : 'mtlManager',
						hidden : true
					}   ]
				});
				// 발주목록 ajax
		        $.ajax({
		          url: '/mtlNeeds',
		          method: 'get',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {
		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            mtlNeedGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        })
		        // 자재의 모든 lot 조회 출력기능
		        function PaperFnc(bpName, mtlDate, mtlManager){
		        $.ajax({
		          url: '/getPaperMtl',
		          method: 'POST',
		          data: { bpName : bpName , mtlDate : mtlDate, mtlManager : mtlManager},
		          success: function (result) {
		            mtlNeedListGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        });
				}
				
			mtlNeedGrid.on('click', function (ev) {
				if (ev.rowKey == undefined) {
					return;
				}
				bpName = mtlNeedGrid.getValue(ev.rowKey, 'bpName')
				mtlDate = mtlNeedGrid.getValue(ev.rowKey, 'mtlDate')
				mtlManager = mtlNeedGrid.getValue(ev.rowKey, 'mtlManager')
				PaperFnc(bpName,mtlDate,mtlManager)
				
			})
		        
		        //엑셀 다운로드 버튼으로 만드는 기능
	            let today = new Date();
		     	let year = today.getFullYear(); // 년도
			    let month = today.getMonth() + 1;  // 월
			    let date = today.getDate();  // 날짜
     		    const options = {
				     fileName: (year + '-' + month + '-' + date) + ' 자재 발주서'
				   };
		        const excelDownload = document.querySelector(".excelDownload");
	               excelDownload.addEventListener("click",
	                    function (e) {
	            	   		mtlNeedListGrid.export("xlsx",options);
	                    }
	               );
	            // 검색 좌측
	               $('#btnLeft').on('click',function(ev){
						$.ajax({
							url:'/searchNeed',
							method: 'POST',
							data:{
								bpName: $('#bpName').val(),
								startMtlNeedDate : $('#startMtlNeedDate').val(),
								endMtlNeedDate : $('#endMtlNeedDate').val(),
								mtlManager : $('#mtlManager').val(),
								mtlWishDate : $('#mtlWishDate').val()
							},
							success:function(result){
								searchData = result;
								mtlNeedGrid.resetData(result);
						 		setTimeout(() => mtlNeedGrid.refreshLayout(), 200);
							},
							error:function(err){
								console.log(err);
							}
						})
					});
	            
	       		$('#resetLeftBtn').on('click',function(){
	       			mtlNeedGrid.resetData([]);
	    			$('#startMtlNeedDate').val('');
	    			$('#endMtlNeedDate').val('');
	    			$('#bpName').val('');
	    		});
	           
	    		//pdf저장
	            $('#pdfBtn').on('click', function () {
	            	let bpName = mtlNeedListGrid.getValue(0 , "bpName");
	            	let mtlDate = mtlNeedListGrid.getValue(0 , "mtlDate");
	              	window.open("mtlPdf1?bpName="+bpName+"&mtlDate="+mtlDate,'pdf');
	            });
		
			});

		</script>
	</div>
	</div>
</body>
</html>