<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<meta charset="UTF-8">
<title>자재발주관리</title>
<style>
.selec {
background-color: cadetblue;
}
</style>
</head>
<body>
	<div layout:fragment="content">
	<h3>자재발주관리</h3>	
		<a href="javascript:pop()" style="margin:20px">안전재고미달목록<a>
		<div id="mtlLowGrid"></div>
		<br>
		<div class="col-14">
				<div class="btn-group" role="group" aria-label="Basic example" style="float:right;">
			<button type="button" id="mtlSearch" class="btn btn-primary" data-toggle="modal" data-target="#myModal">조회</button>
			<button type="button" id="mtlSave" class="btn btn-primary">발주</button>
		</div>
		<div id="mtlNeedGrid"></div>
			<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content" style="height: 700px">
					<div class="container text-center">
					<br>
						<h2>발주관리</h2>
						<div class="modal-header row justify-content-evenly">
							<div class="col-6">
								<div class="d-flex flex-column align-items-center">
									<div class="mb-3">
										<span>자재발주일</span>
										<div class="input-group">
											<input class="form-control" id="mtlDate" type="date" style="width: 150px;">
											<input class="form-control" id="mtlDate" type="date" style="width: 150px;">
									</div>		
									</div>
									<div>
									<span>납기요청일</span>
									<div class="input-group">
										 <input class="form-control" id="mtlWishDate" type="date" style="width: 150px;">
										 <input class="form-control" id="mtlWishDate" type="date" style="width: 150px;">
									</div>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="d-flex flex-column align-items-center">
									<div class="mb-3">
										<span>자재이름</span> <input class="form-control" id="mtlName"	type="text" style="width: 300px;">
										<span>담당자</span> <input class="form-control" id="mtlManager" type="text" style="width: 300px;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div style="display: flex; justify-content: center;">
						<button type="button" id="searchDataBtn" class="btn btn-primary"
							style="margin: 5px;">조회</button>
						<button type="button" id="resetModalBtn" class="btn btn-primary"
							style="margin: 4px;">초기화</button>
					</div>
					<div class="modal-body">
						<div id="needModalGrid"></div>
					</div>
					<div class="modal-footer">
						<button type="button" id="addModalBtn" class="btn btn-default">저장</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<script>
			// 안전재고 미달목록 출력/숨기기
			let mtlInfo = [];
			
		    function pop(){
        	    $('#mtlLowGrid').toggle("size", 500);
       	    }		
		
		    document.addEventListener("DOMContentLoaded",() => {
				// 모달창
				const needModalGrid = new tui.Grid({
					el: document.getElementById('needModalGrid'),
					scrollX: false,	
					scrollY: false,
					contextMenu: null,
					rowHeaders:["checkbox"],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
		            },
					columns: [ {
						header : '분류',
						name : 'mtlType',
						align: 'center'
					}, {
						header : '자재코드',
						name : 'mtlCode',
						sortable: true,
					    sortingType: 'asc',
					    align: 'center'
					}, {
						header : '자재이름',
						name : 'mtlName',
						align: 'center'
					}, {
						header: '거래처',
						name: 'bpName',
						align: 'center'
					}, {
						header: '발주일자',
						name: 'mtlDate',
						align: 'center'
					}, {
						header : '납기요청일',
						name : 'mtlWishDate',
						align: 'center'						
					}, {
						header: '담당자',
						name: 'mtlManager',
						align: 'center'
					}]
			    });								

			    $('#mtlSearch').on('click', function(){
                     setTimeout(() => needModalGrid.refreshLayout(), 200);
                 })

				// 안전재고미달 자재목록
				const mtlLowGrid = new tui.Grid({
					el : document.getElementById('mtlLowGrid'),
					data: [],
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					pageOptions: {
			            perPage: 5,
			            useClient: true,
			          },
					columns : [ {
						header : '분류',
						name : 'mtlType'
					}, {
						header : '자재코드',
						name : 'mtlCode',
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '현재수량',
						name : 'mtlLotCnt'
					}, {
						header : '안전재고수량',
						name : 'mtlSs'
					}, {
						header : '수량차',
						name : 'mtlNow'
					}   ]
				});
			    
			    
                //선택한 행 색깔 바꾸기
/*        			mtlLowGrid.on('focusChange', (ev) => {
       			 mtlLowGrid.setSelectionRange({
       			      start: [ev.rowKey, 0],
       			      end: [ev.rowKey, mtlLowGrid.getColumns().length-1]
       			    });
       			  }); */
                
                // 미달목록 더블클릭시 발주목록으로 이동시키기
                mtlLowGrid.on('dblclick', () => {
                    let rowKey =
                    	mtlLowGrid.getFocusedCell().rowKey;

                    if (rowKey != null && rowKey >= 0) {
                        let mtlCode = mtlLowGrid.getValue(
                            rowKey,
                            "mtlCode"
                        );
                        let mtlName = mtlLowGrid.getValue(
                            rowKey,
                            "mtlName"
                        );
                        let mtlType = mtlLowGrid.getValue(
                            rowKey,
                            "mtlType"
                        );
                        let mtlNow = mtlLowGrid.getValue(
                            rowKey,
                            "mtlNow"
                        );
                        

                        mtlLowGrid.removeRow(rowKey);

                        mtlLowGrid.blur();

                        let now = new Date(); // 현재 날짜 및 시간
                        let year = now.getFullYear();
                        let month = (
                            "0" +
                            (now.getMonth() + 1)
                        ).substr(-2);
                        let day = (
                            "0" + now.getDate()
                        ).substr(-2);
                        let mtlDate =
                            year + "-" + month + "-" + day;

                        mtlNeedGrid.appendRow(
                            {
                            	mtlCode: mtlCode,
                            	mtlDate: mtlDate,
                            	mtlName: mtlName,
                            	mtlType: mtlType,
                            	mtlCnt: (-1)*mtlNow,
                            	mtlUnit: 'ea',
                            	mtlManager: '남태원'
                            },
                            { at: 0 }
                        );
                    }
                });
                
				const mtlNeedGrid = new tui.Grid({
					el : document.getElementById('mtlNeedGrid'),
					data: [],
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					pageOptions: {
			            perPage: 10,
			            useClient: true,
			          },
					columns : [ {
						header : '분류',
						name : 'mtlType'
					},
						{
						header : '자재코드',
						name : 'mtlCode',
						sortable: true,
					    sortingType: 'asc'
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '자재발주일',
						name : 'mtlDate',
						sortable: true,
					    sortingType: 'asc'
					}, {
						header : '거래처이름',
						name : 'bpCode',
						sortable: true,
					    sortingType: 'asc',
						editor:{type: 'text'}
					}, {
						header : '수량',
						name : 'mtlCnt',
						editor:{type: 'text'}
					}, {
						header : '단위',
						name : 'mtlUnit'
					}, {
						header : '담당자',
						name : 'mtlManager'
					}, {
						header : '납기요청일',
						name : 'mtlWishDate',
						editor: 'datePicker'
					}, {
						header : '상태',
						name : 'mtlWhereNm'
					}   ]
				});
				
				const header = ['mtlCode', 'mtlDate', 'bpName', 'mtlName', 'mtlCnt', 'mtlUnit', 'mtlManager','mtlWishDate','mtlWhereNm','mtlLotCnt','mtlSs','mtlNow','mtlType']
				
/*        			// 발주목록에서 취소시키기
                mtlNeedGrid.on('dblclick', () => {
                    let rowKey =
                    	mtlNeedGrid.getFocusedCell().rowKey;

                    if (rowKey != null && rowKey >= 0) {
                        let mtlCode = mtlNeedGrid.getValue(
                            rowKey,
                            "mtlCode"
                        );
                        let mtlName = mtlNeedGrid.getValue(
                            rowKey,
                            "mtlName"
                        );
                        let mtlType = mtlNeedGrid.getValue(
                            rowKey,
                            "mtlType"
                        );
                        let mtlCnt = mtlNeedGrid.getValue(
                            rowKey,
                            "mtlCnt"
                        );
                        

                        mtlNeedGrid.removeRow(rowKey);

                        mtlNeedGrid.blur();

                        mtlLowGrid.appendRow(
                            {
                            	mtlCode: mtlCode,
                            	mtlName: mtlName,
                            	mtlType: mtlType,
                            	mtlNow: (-1)*mtlCnt,
                            },
                            { at: 0 }
                        );
                    }
                }); */
				
				//안전재고미달 ajax
		        
				$.ajax({
			          url: '/mtlMinus',
			          method: 'get',
			          dataType: 'json',
			          success: function (result) {
			            //날짜변환
			            $(result).each(function (idx, obj) {
			              for (let head of header) {

			                if (head.slice(-4).toLowerCase() == 'date') {
			                  obj[head] = getDate(obj[head]);
			                }
			              }
			            });
			            mtlLowGrid.resetData(eval(result));
			          },
			          error: function (err) {
			            console.log(err);
			          }
			        })
                
				// 발주 ajax
			$('#mtlSave').on('click', mtlSave)
			function mtlSave() {
                mtlNeedGrid.blur();
				if(!mtlNeedGrid.isModified()) {
					alert('발주할 내역이 없습니다.');
					return;
				}
				$.ajax({
					url: '/insertNeedMtl',
					type: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(mtlNeedGrid.getData()),
					success: result => {
						alert("등록완료");
						mtlNeedGrid.resetData([]);
					},
					error: err => console.log(err)
				})
			}
		        // 모달검색 ajax
		        $.ajax({
		          url: '/getNeedMtl',
		          method: 'POST',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {

		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            needModalGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        })
				// 모달창의 조회버튼을 누를때 조건에 맞게 검색해주기
				$('#searchDataBtn').on('click',function(ev){
					$.ajax({
						url:'/getNeedMtl',
						method: 'POST',
						data:{
							mtlName: $('#mtlName').val()
						},
						success:function(result){
							searchModalData = result;
							needModalGrid.resetData(result);
					 		setTimeout(() => needModalGrid.refreshLayout(), 200);
						},
						error:function(err){
							console.log(err);
						}
					})
						
					});
			});
		</script>
	</div>
	</div>
</body>
</html>