<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>자재출고목록</title>

</head>
<body>
	<div layout:fragment="content">
	<h3>자재출고목록</h3>	
		<div>
			<span>자재종류</span>
				<div> 
			    <input type="radio" id="all" name="mtlRadio" value="" checked />
			    <label for="all">전체</label>
			 	<input type="radio" id="m1" name="mtlRadio" value="m1"/>
			    <label for="y">원자재</label>
			    <input type="radio" id="m2" name="mtlRadio" value="m2"/>
			    <label for="n">부자재</label>
				</div>
			<span>공정실적코드</span>
			<input id="prcsRsCode" placeholder="">
			<br>
			<button type="button" id="searchBtn" class="btn btn-primary">조회</button>
		</div>
		<div id="mtlOutGrid"></div>
		<script>
			var grid;
			window.onload = function() {
				const mtlOutGrid = new tui.Grid({
					el : document.getElementById('mtlOutGrid'),
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					pageOptions: {
			            perPage: 10,
			            useClient: true,
			          },
					columns : [ {
						header : '자재출고코드',
						name : 'mtlOutCode'
					}, {
						header : '자재LOT',
						name : 'mtlLotNum',
						sortable: true,
					    sortingType: 'asc'
					}, {
						header : '자재코드',
						name : 'mtlCode'
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '자재출고량',
						name : 'mtlOutCnt'
					}, {
						header : '공정실적코드',
						name : 'prcsRsCode'
					}, {
						header : '출고일',
						name : 'prcsEDate'
					}		]
				});
				
				const header = ['mtlOutCode', 'mtlLotNum','mtlName' ,'mtlCode', 'mtlOutCnt', 'prcsRsCode', 'prcsEDate']

		        $.ajax({
		          url: '/mtlEmpty',
		          method: 'get',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {

		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            mtlOutGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        })
			}
		</script>
	</div>
</body>
</html>