<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>자재-출고조회</title>
<style>
.excelDownload {
margin-top: 0px;
float: right;
}
.tui-grid-body-area .tui-grid-cell .tui-grid-cell-content{
 text-align: center;
}

</style>

</head>
<body>
	<div layout:fragment="content">
		<div class="row">
		<div class="col-5">
			<h1>출고 조회</h1>
				<div class="input-group mb-3">
					<div style="font-size:20px;">	
				    <input type="radio" id="all" name="typeCheck" value="" checked />
				    <label for="all" class="mr-2">전체</label>
				 	<input type="radio" id="y" name="typeCheck" value="MA01" />
				    <label for="y" class="mr-2">원자재</label>
				    <input type="radio" id="n" name="typeCheck" value="MA02"/>
				    <label for="n" class="mr-2">부자재</label>
					</div>
					<input type="text" class="form-control col-3" placeholder="자재명" id="mtlName" style="margin-left: auto;">
					<div class="input-group-append">
				   	<button class="btn btn-outline-secondary" type="button" id="searchCon" style="height:32px; padding: 1px; padding-left: 20px; padding-right: 20px;">검색</button>
					</div>
				</div> 
			<div id="mtlGrid" class="lightgrey"></div>
		</div>
		<div class="col-7">
			<h1 style="margin-bottom: 19px">상세 내역</h1>
					<div class="input-group" style="display: flex;justify-content:space-between" >
					<div style="font-size:20px; margin-right:10px; margin-bottom:15px; margin-top:-10px;">	
					    <input type="radio" id="allProcess" name="dateCheck" value="" checked />
					    <label for="allProcess" class="mr-2">전체</label>
					 	<input type="radio" id="todayProcess" name="dateCheck" value="MA01" />
					    <label for="todayProcess" class="mr-2">오늘</label>
					    <input type="radio" id="sevenProcess" name="dateCheck" value="MA02"/>
					    <label for="sevenProcess" class="mr-2">일주일</label>
					    <input type="radio" id="monthProcess" name="dateCheck" value="MA03"/>
					    <label for="monthProcess" class="mr-2">한달</label>
					</div>
				<button type="button" id="pdfDownload" class="btn btn-info btn-icon-text excelDownload" style="margin-bottom:5px;">
				EXCEL <i class="bi bi-printer"></i></button>
				</div>
			<div id=mtlLotGrid class="lightgrey"></div>
		</div>
		</div>
		<script>
		
		document.addEventListener("DOMContentLoaded",() => {
			let commonCode = [];
			let codeDetail = [];
			let codeType;
			let cdl;
			mtlLeft();
			
			// 자재목록 그리드 sql문에서 자재당 하나씩만 나오게만듬
				const mtlGrid = new tui.Grid({
					el : document.getElementById('mtlGrid'),
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					minBodyHeight: 450,
					pageOptions: {
			            perPage: 10,
			            useClient: true,
			          },
					columns : [ {
						header : '분류',
						name : 'mtlType',
						sortable: true
					}, {
						header : '자재코드',
						name : 'mtlCode',
						sortable: true,
					}, {
						header : '자재이름',
						name : 'mtlName'
					}, {
						header : '최종출고일자',
						name : 'prcsEdate'
					}, {
						header : '누적출고수량',
						name : 'mtlOutCnt'
					}, ]
				});
				
				const header = ['mtlLotNum', 'mtlCode', 'mtlInCnt', 'mtlInDate', 'mtlManager', 'mtlLotCnt', 'mtlChkCode', 'mtlName']
				// lot목록 그리드
				const mtlLotGrid = new tui.Grid({
					el : document.getElementById('mtlLotGrid'),
					data: [],
					scrollX : false,
					scrollY : false,
					rowHeaders : [ "rowNum" ],
					minBodyHeight: 450,
					pageOptions: {
			            perPage: 11,
			            useClient: true,
			          },
					columns : [ {
						header : '자재출고코드',
						name : 'mtlOutCode',
						sortable: true,
					    sortingType: 'asc',
						width : 140
					}, {
						header : '공정코드',
						name : 'prcsRsCode'
					}, {
						header : 'LOT',
						name : 'mtlLotNum',
						width : 180
					}, {
						header : '자재코드',
						name : 'mtlCode',
						hidden: true
					}, {
						header : '자재이름',
						name : 'mtlName',
						hidden: true
					}, {
						header : '자재출고일',
						name : 'prcsEdate'
					}, {
						header : '출고수량',
						name : 'mtlOutCnt'
					}  ]
				});
				// 재고목록 ajax
				function mtlLeft(){
		        $.ajax({
		          url: '/mtlOut',
		          method: 'get',
		          dataType: 'json',
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {
		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            mtlGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        })
				}
		        // 자재별 출고량 출력기능
		        function outFnc(mtlCode,radioDate){
		        $.ajax({
		          url: '/mtlEmpty',
		          method: 'POST',
		          data: { mtlCode : mtlCode,
		        	  		radioDate : radioDate},
		          success: function (result) {
		            //날짜변환
		            $(result).each(function (idx, obj) {
		              for (let head of header) {
		                if (head.slice(-4).toLowerCase() == 'date') {
		                  obj[head] = getDate(obj[head]);
		                }
		              }
		            });
		            mtlLotGrid.resetData(eval(result));
		          },
		          error: function (err) {
		            console.log(err);
		          }
		        });
				}	    
		    // 자재검색
			function searchMtl() {
				let vo = {};
				vo.mtlType = $('#searchMtlType').val();
				vo.mtlName = $('#searchMtlName').val();
				$.ajax({
					url: '/mdm/searchMtl',
					method: 'POST',
					contentType : 'application/json',
					data: JSON.stringify(vo),
					success: result => {
						mtlGrid.resetData(result)
					},
					error: err => console.log(err)
				})
			}

			// 왼쪽 리스트에서 mtlCode값 오른쪽 리스트로 넘겨주기
			mtlGrid.on('click', function (ev) {
				if (ev.rowKey == undefined) {
					return;
				}
				mtlCode = mtlGrid.getValue(ev.rowKey, 'mtlCode')
				outFnc(mtlCode);
				$('#allProcess').click();
			})
		        
		        //엑셀 다운로드 버튼으로 만드는 기능
	            let today = new Date();
		     	let year = today.getFullYear(); // 년도
			    let month = today.getMonth() + 1;  // 월
			    let date = today.getDate();  // 날짜
     		    const options = {
				     fileName: (year + '-' + month + '-' + date) + '자재출고 상세내역'
				   };
		        const excelDownload = document.querySelector(".excelDownload");
	               excelDownload.addEventListener("click",
	                    function (e) {
	            	   		mtlLotGrid.export("xlsx",options);
	                    }
	               );
	           
		           	// radio - all 체크
		           	$('#all').on('click',function(){
		           		if($('#searchMtlName').val()){
		           			$('#searchMtlName').val('');
		           		}
		           		mtlLeft();
		           	})
		           	// radio - y 체크
		           	$('#y').on('click',function(){
		           		if($('#searchMtlName').val()){
		           			$('#searchMtlName').val('');
		           		}
		           		let mtlType= $('#y').val();
		           		checkCon(mtlType);
		           	})
		           	// radio - n 체크
		           	$('#n').on('click',function(){
		           		if($('#searchMtlName').val()){
		           			$('#searchMtlName').val('');
		           		}
		           		let mtlType= $('#n').val();
		           		checkCon(mtlType);
		           	})
		           // 라디오박스 아작스
		           	function checkCon(mtlType,mtlName){
				        $.ajax({
					          url: '/searchOut',
					          method: 'POST',
					          data: { mtlType : mtlType,
					        	  	  mtlName : mtlName },
					          success: function (result) {
					            //날짜변환
					            $(result).each(function (idx, obj) {
					              for (let head of header) {
					                if (head.slice(-4).toLowerCase() == 'date') {
					                  obj[head] = getDate(obj[head]);
					                }
					              }
					            });
					            mtlGrid.resetData(eval(result));
					          },
					          error: function (err) {
					            console.log(err);
					          }
					        })
		           	}
		            // 검색
		               $('#searchCon').on('click',function(ev){
							$.ajax({
								url:'/searchOut',
								method: 'POST',
								data:{
									mtlCode: $('#mtlCode').val(),
									mtlType : $('#mtlType').val(),
									mtlName : $('#mtlName').val(),
									mtlInDate : $('#mtlInDate').val(),
									mtlLotCnt : $('#mtlLotCnt').val()
								},
								success:function(result){
									mtlGrid.resetData(result);
							 		setTimeout(() => mtlGrid.refreshLayout(), 200);
								},
								error:function(err){
									console.log(err);
								}
							})
						});
				// 오른쪽그리드 라디오박스
		               $('#allProcess').on('click',function(){
		            	   outFnc(mtlCode);
		      		});
		              
		      		$('#todayProcess').on('click',function(){

		      			radioDate = $('#todayProcess').val()
		      			
		      			outFnc(mtlCode,radioDate);
		      		});
		      		
		      		$('#sevenProcess').on('click',function(){
		      			
		      			radioDate = $('#sevenProcess').val()
		      		
		      			outFnc(mtlCode,radioDate);
		      		});
		      		
		      		$('#monthProcess').on('click',function(){
		      			radioDate = $('#monthProcess').val()
		      			
		      			outFnc(mtlCode,radioDate);
		      		}); 
			});

		</script>
	</div>
	</div>
</body>
</html>